# Scratchpad TWO : 
## using Panda's built-in timeseries functionality

In [1]:
import pandas as pd
import numpy as np
import time
import json

In [2]:
# for plotting
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [3]:
# parameters

# start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"
# generate this please
start_time = "?????"

time_frequency_for_periods__for_basic_data = "5T"
num_of_time_periods___for_basic_data = 24*20 # 24 hrs * 12 x 5 mins in each hour

# when generating time periods 
sampling_frequency = "3T"



# --- data urls 

curr_url = "????"
nordic_midnight_24_hrs_data__url = "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"
# nordic_midnight_24_hrs_data__url = "/home/miska/documents/opensomething/luftdaten/dustmin_to_csv__various_code/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"


# set the current data source 
curr_url =nordic_midnight_24_hrs_data__url

In [4]:
#open data 

in_data = pd.read_csv( curr_url )
in_data.shape

(127109, 7)

In [5]:
# make sure the timestamps are timestamps
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [6]:
in_data = in_data.sort_values( by=['timestamp'] )

In [7]:
type( in_data['timestamp'][0] )

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
# set timestamp as the index
in_data = in_data.set_index( 'timestamp' )

In [9]:
in_data = in_data.sort_index()

In [10]:
# quick datadump
in_data[:15]

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:55:19      13012       SDS011  57.662  12.006    6.30   2.60
2018-12-31 11:56:37      18112       SDS011  57.478  11.978  174.80  15.13
2018-12-31 11:56:38      15067       SDS011  60.024  18.770    1.62   1.02
2018-12-31 11:56:39      11765       SDS011  55.716  13.244   33.95  13.40
2018-12-31 11:56:40      14811       SDS011  57.706  11.900   63.25  10.33
2018-12-31 11:56:40      10827       SDS011  59.334  13.512   11.45   6.00
2018-12-31 11:56:40      17538       SDS011  55.612  12.972   13.68   3.12
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:56:42      16155       SDS011  59.832  17.632    1.66   1.10
2018-12-31 11:56:43      11058       SDS011  59.272  15.220    2.99   1.46
2018-12-31 11:56:43      16533       SDS011  55.722  13.202   26.43  14.00
2018-12-31 11:56:43      14807       SDS011  57.718  12.034   55.02   8.75
2018-12-31 11:56:44      10924       SDS011  59.860  17.652    2.58   1.16
2018-12-31 11:56:45      10723       SDS011  59.298  18.052    4.90   2.76
2018-12-31 11:56:47      17923       SDS011  55.730  13.200   42.12  18.17

In [11]:
# now the time has been sorted, turn it into epoch time :)

In [12]:
unique_sensor_ids = in_data['sensor_id'].unique()
unique_sensor_ids.shape

(205,)

In [13]:
type( unique_sensor_ids )

numpy.ndarray

In [14]:
unique_sensor_ids = np.sort( unique_sensor_ids )

In [15]:
unique_sensor_ids

array([ 5321,  7273,  7275,  7277,  7406,  7426,  7428,  7469,  7499,
        7597,  8683,  9344,  9368,  9411,  9436,  9743,  9797, 10216,
       10234, 10250, 10281, 10430, 10588, 10647, 10719, 10721, 10723,
       10803, 10823, 10825, 10827, 10843, 10914, 10922, 10924, 10926,
       11002, 11004, 11006, 11058, 11060, 11232, 11374, 11376, 11378,
       11380, 11384, 11402, 11404, 11445, 11543, 11546, 11548, 11550,
       11552, 11554, 11657, 11659, 11661, 11663, 11763, 11765, 11767,
       11769, 11771, 11773, 12120, 12122, 12124, 12127, 12129, 12131,
       12133, 12135, 12137, 12141, 12381, 12383, 12385, 12387, 12389,
       12391, 12393, 12663, 12673, 12675, 12679, 12681, 12687, 12691,
       12693, 12861, 12990, 12994, 13000, 13010, 13012, 13014, 13018,
       13020, 13307, 13419, 13421, 13423, 13425, 13428, 13441, 13443,
       13475, 13477, 13479, 13483, 13762, 14017, 14133, 14209, 14264,
       14276, 14278, 14282, 14284, 14288, 14290, 14292, 14294, 14296,
       14300, 14722, 14797, 14799, 14801, 14803, 14807, 14809, 14811,
       14813, 14817, 14835, 14837, 14975, 14984, 15067, 15069, 15071,
       15073, 15549, 15551, 15561, 15837, 16145, 16147, 16149, 16151,
       16153, 16155, 16159, 16296, 16446, 16531, 16533, 16535, 16537,
       16705, 16723, 16811, 16813, 16815, 17018, 17020, 17038, 17235,
       17351, 17532, 17534, 17536, 17538, 17542, 17576, 17650, 17662,
       17710, 17712, 17923, 17925, 17927, 18056, 18110, 18112, 18243,
       18590, 18820, 18826, 18830, 18832, 18834, 18836, 18838, 18986,
       19119, 19207, 19301, 19337, 19547, 19597, 19599])

## Time operations

In [21]:
#### make a timestamp!

In [22]:
now_as_dt = pd.to_datetime( time.time() )

In [23]:
type( now_as_dt )

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
now_as_timestamp = pd.Timestamp.now()

In [25]:
now_as_timestamp

Timestamp('2019-02-19 11:59:14.364262')

In [26]:
now_as_timestamp.day

19

In [27]:
now_as_timestamp.month

2

In [28]:
now_as_timestamp.hour

11

In [42]:
now_as_timestamp.minute

59

In [44]:
now_as_timestamp.second

14

In [ ]:
# timestamp at midnight

In [35]:
timestamp_at_midnight = pd.Timestamp( now_as_timestamp.year, now_as_timestamp.month, now_as_timestamp.day-1, 0, 0 )

In [36]:
timestamp_at_midnight

Timestamp('2019-02-18 00:00:00')

In [37]:
 now_as_dt - timestamp_at_midnight

Timedelta('-17945 days +00:00:01.550573')

In [38]:
timestamp_at_midnight - now_as_dt

Timedelta('17944 days 23:59:58.449426')