In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
# parameters

# start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"
# generate this please
start_time = "?????"

time_frequency_for_periods__for_basic_data = "5T"
num_of_time_periods___for_basic_data = 24*20 # 24 hrs * 12 x 5 mins in each hour

# when generating time periods 
sampling_frequency = "3T"



# --- data urls 

curr_url = "????"
nordic_midnight_24_hrs_data__url = "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"

# set the current data source 
curr_url =nordic_midnight_24_hrs_data__url

In [4]:
# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( curr_url )
in_data.shape

(127109, 7)

In [5]:
# make sure the timestamps are timestamps
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [6]:
unique_sensor_ids = in_data['sensor_id'].unique()
unique_sensor_ids.shape

(205,)

In [7]:
unique_sensor_ids

array([ 7273,  7275,  7277,  7406,  7428,  7469,  7597,  8683,  9411,
        9436,  9743,  9797, 10216, 10250, 10281, 10430, 10647, 10721,
       10723, 10803, 10823, 10825, 10827, 10843, 10914, 10922, 10924,
       10926, 11002, 11004, 11006, 11058, 11232, 11374, 11376, 11378,
       11380, 11384, 11404, 11445, 11543, 11546, 11550, 11552, 11661,
       11663, 11763, 11765, 11767, 11769, 11771, 11773, 12120, 12124,
       12129, 12131, 12133, 12135, 12137, 12141, 12381, 12383, 12385,
       12387, 12389, 12391, 12393, 12663, 12673, 12679, 12687, 12691,
       12693, 12861, 12990, 12994, 13000, 13010, 13012, 13018, 13020,
       13307, 13419, 13421, 13423, 13425, 13428, 13441, 13443, 13475,
       13477, 13483, 13762, 14133, 14209, 14264, 14276, 14278, 14282,
       14290, 14292, 14294, 14296, 14722, 14797, 14799, 14801, 14803,
       14807, 14809, 14811, 14813, 14817, 14835, 14837, 14975, 15067,
       15069, 15071, 15073, 15549, 15551, 15561, 15837, 16147, 16149,
       16151, 16153, 16155, 16159, 16296, 16446, 16531, 16533, 16535,
       16537, 16705, 16723, 16811, 17018, 17020, 17038, 17235, 17351,
       17532, 17534, 17536, 17538, 17576, 17650, 17662, 17710, 17712,
       17923, 17925, 17927, 18056, 18110, 18112, 18243, 18590, 18820,
       18826, 18830, 18834, 18836, 18838, 18986, 19119, 19207, 19301,
       19337, 19547, 19597, 19599,  9368, 10234,  7499, 10719, 11659,
       12122, 12127, 14017, 14288, 10588, 12675, 14300, 16815, 11548,
       14984,  7426, 14284, 12681, 11657, 11402, 13014, 11060, 13479,
       16145, 11554, 17542,  9344, 18832, 16813,  5321])

In [8]:
sensor_7273_unique_rows = in_data[ in_data['sensor_id'] == 7273 ]
sensor_7273_unique_rows.shape

(716, 7)

In [9]:
sensor_7273_unique_rows

        sensor_id sensor_namee     lat     lon           timestamp    p1    p2
0            7273       SDS011  60.002  17.846 2018-12-31 11:57:22  3.43  1.56
175          7273       SDS011  60.002  17.846 2018-12-31 11:59:50  3.78  1.55
346          7273       SDS011  60.002  17.846 2019-01-01 12:04:31  3.60  1.60
522          7273       SDS011  60.002  17.846 2019-01-01 12:07:00  2.47  1.44
700          7273       SDS011  60.002  17.846 2019-01-01 12:09:28  1.97  1.38
873          7273       SDS011  60.002  17.846 2019-01-01 12:11:57  1.87  1.25
1047         7273       SDS011  60.002  17.846 2019-01-01 12:16:54  2.60  1.59
1225         7273       SDS011  60.002  17.846 2019-01-01 12:19:25  1.98  1.48
1404         7273       SDS011  60.002  17.846 2019-01-01 12:21:53  2.24  1.28
1581         7273       SDS011  60.002  17.846 2019-01-01 12:24:22  3.32  1.52
1758         7273       SDS011  60.002  17.846 2019-01-01 12:26:50  2.52  1.38
1938         7273       SDS011  60.002  17.846 2019-01-01 12:31:47  1.72  1.20
2110         7273       SDS011  60.002  17.846 2019-01-01 12:34:16  2.14  1.05
2288         7273       SDS011  60.002  17.846 2019-01-01 12:36:47  2.54  1.10
2463         7273       SDS011  60.002  17.846 2019-01-01 12:39:16  2.18  1.20
2642         7273       SDS011  60.002  17.846 2019-01-01 12:41:44  1.95  1.15
2817         7273       SDS011  60.002  17.846 2019-01-01 12:46:41  1.78  1.03
2992         7273       SDS011  60.002  17.846 2019-01-01 12:49:10  1.48  0.94
3187         7273       SDS011  60.002  17.846 2019-01-01 12:54:07  1.88  1.05
3347         7273       SDS011  60.002  17.846 2019-01-01 12:56:35  1.97  1.15
3525         7273       SDS011  60.002  17.846 2019-01-01 13:01:35  1.63  0.95
3707         7273       SDS011  60.002  17.846 2019-01-01 13:04:07  1.46  0.97
3884         7273       SDS011  60.002  17.846 2019-01-01 13:06:35  2.44  1.15
4063         7273       SDS011  60.002  17.846 2019-01-01 13:09:04  2.98  1.18
4241         7273       SDS011  60.002  17.846 2019-01-01 13:11:33  2.48  1.05
4419         7273       SDS011  60.002  17.846 2019-01-01 13:16:40  1.64  0.98
4597         7273       SDS011  60.002  17.846 2019-01-01 13:19:09  2.25  0.95
4774         7273       SDS011  60.002  17.846 2019-01-01 13:21:44  2.48  0.99
4953         7273       SDS011  60.002  17.846 2019-01-01 13:24:31  2.27  0.95
5131         7273       SDS011  60.002  17.846 2019-01-01 13:27:00  1.37  0.82
...           ...          ...     ...     ...                 ...   ...   ...
121946       7273       SDS011  60.002  17.846 2019-01-01 10:32:47  3.85  1.86
122128       7273       SDS011  60.002  17.846 2019-01-01 10:37:44  3.83  1.76
122297       7273       SDS011  60.002  17.846 2019-01-01 10:40:16  3.63  1.72
122470       7273       SDS011  60.002  17.846 2019-01-01 10:42:44  3.43  1.76
122647       7273       SDS011  60.002  17.846 2019-01-01 10:45:13  3.32  1.96
122824       7273       SDS011  60.002  17.846 2019-01-01 10:47:44  4.00  1.98
122998       7273       SDS011  60.002  17.846 2019-01-01 10:52:44  2.97  1.62
123174       7273       SDS011  60.002  17.846 2019-01-01 10:55:12  3.32  1.85
123351       7273       SDS011  60.002  17.846 2019-01-01 10:57:41  4.37  2.00
123518       7273       SDS011  60.002  17.846 2019-01-01 11:00:09  4.05  2.00
123703       7273       SDS011  60.002  17.846 2019-01-01 11:02:38  4.30  1.95
123881       7273       SDS011  60.002  17.846 2019-01-01 11:07:35  3.50  1.72
124063       7273       SDS011  60.002  17.846 2019-01-01 11:10:03  2.42  1.64
124236       7273       SDS011  60.002  17.846 2019-01-01 11:12:32  2.60  1.68
124356       7273       SDS011  60.002  17.846 2019-01-01 11:15:00  4.60  1.66
124539       7273       SDS011  60.002  17.846 2019-01-01 11:22:26  3.60  1.62
124776       7273       SDS011  60.002  17.846 2019-01-01 11:19:57  4.16  1.59
125095       7273       SDS011  60.002  17.846 2019-01-01 11:24:54  3.46  1.65
125198       7273       SDS011  60.002  17.846 2019-01-01 11:27:23  2.76  1.50
125296       7273       SDS011  60.002  17.846 2019-01-01 11:29:51  2.88  1.50
125400       7273       SDS011  60.002  17.846 2019-01-01 11:34:49  2.76  1.54
125748       7273       SDS011  60.002  17.846 2019-01-01 11:37:17  2.33  1.64
125830       7273       SDS011  60.002  17.846 2019-01-01 11:39:45  2.35  1.55
126007       7273       SDS011  60.002  17.846 2019-01-01 11:42:15  3.08  1.50
126182       7273       SDS011  60.002  17.846 2019-01-01 11:44:44  3.62  1.40
126353       7273       SDS011  60.002  17.846 2019-01-01 11:49:40  3.46  1.65
126535       7273       SDS011  60.002  17.846 2019-01-01 11:52:09  3.01  1.56
126711       7273       SDS011  60.002  17.846 2019-01-01 11:54:37  2.54  1.55
126979       7273       SDS011  60.002  17.846 2019-01-01 11:57:06  3.20  1.50
127084       7273       SDS011  60.002  17.846 2019-01-01 11:59:34  2.63  1.30

[716 rows x 7 columns]

In [10]:
sensor_7273_unique_rows[ sensor_7273_unique_rows['p1'] == 3.45 ]

       sensor_id sensor_namee     lat     lon           timestamp    p1    p2
44833       7273       SDS011  60.002  17.846 2018-12-31 12:07:16  3.45  1.75

In [11]:
%time sensor_7273_unique_rows__sorted_by_time = sensor_7273_unique_rows.sort_values( by=['timestamp'] )

CPU times: user 1.4 ms, sys: 825 µs, total: 2.23 ms
Wall time: 1.56 ms

In [12]:
np.arange( 10 )

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
one = np.array( np.arange(10) )

In [14]:
one[0]

0

In [15]:
type( one[0] )

numpy.int64

In [16]:
one.reshape( 12 )

ValueError: cannot reshape array of size 10 into shape (12,)

#### checking out changing the size of arrays - eg here with pad(ding)

In [17]:
np.pad( one, (0,4), 'edge')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9, 9])

In [18]:
np.pad( one, (0,4), 'constant', constant_values=(-1))

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, -1, -1, -1, -1])

#### trying to insert list items in numpy arrays

In [19]:
list_ = range( 10 )

In [20]:
list_

range(0, 10)

In [21]:
np_array = np.array( list_ )

In [22]:
type( np_array[0] )

numpy.int64

In [23]:
np_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

#### trying to make a multi-dimensional np_array

In [24]:
unique_sensor_ids = in_data['sensor_id'].unique().shape[0]
num_of_rows.shape[0]

NameError: name 'num_of_rows' is not defined

In [25]:
unique_sensor_ids

205

In [26]:
num_of_items_per_row = ( 20 * 24 ) # number of 3 minute periods in an hour * 24 hour 
num_of_items_per_row

480

In [27]:
array_w_slots_for_all_sensors_and_time_periods_in_the_day = np.zeros( unique_sensor_ids * num_of_items_per_row )

In [28]:
array_w_slots_for_all_sensors_and_time_periods_in_the_day = array_w_slots_for_all_sensors_and_time_periods_in_the_day.reshape( [ unique_sensor_ids, num_of_items_per_row  ])

In [29]:
array_w_slots_for_all_sensors_and_time_periods_in_the_day.shape

(205, 480)

In [30]:
array_w_slots_for_all_sensors_and_time_periods_in_the_day[0].shape

(480,)

In [31]:
#### now try fetch all the data from different sensors ids…

In [32]:
# first, let's see how long it takes

In [33]:
starttime = time.time()

# get all unique sensor ids 
unique_sensor_ids = in_data['sensor_id'].unique()

# out list of sensor id data
out_list_of_sensor_ids = []

# array lengths 
array_lengths = []

for curr_sensor_id in unique_sensor_ids:
        
        curr_sensor_data = in_data[ in_data['sensor_id'] == curr_sensor_id ]
        
        curr_array_length = curr_sensor_data.shape[0]
        array_lengths.append( curr_array_length )
        
        print("\n -- working on sensor_id "+str( curr_sensor_id)+" - which has a length of "+str( curr_array_length ) )
        

print("\n ----- and that all took "+str( time.time() - starttime )+" seconds ")

 -- working on sensor_id 7273 - which has a length of 716

 -- working on sensor_id 7275 - which has a length of 692

 -- working on sensor_id 7277 - which has a length of 721

 -- working on sensor_id 7406 - which has a length of 720

 -- working on sensor_id 7428 - which has a length of 721

 -- working on sensor_id 7469 - which has a length of 700

 -- working on sensor_id 7597 - which has a length of 721

 -- working on sensor_id 8683 - which has a length of 721

 -- working on sensor_id 9411 - which has a length of 650

 -- working on sensor_id 9436 - which has a length of 722

 -- working on sensor_id 9743 - which has a length of 498

 -- working on sensor_id 9797 - which has a length of 721

 -- working on sensor_id 10216 - which has a length of 721

 -- working on sensor_id 10250 - which has a length of 719

 -- working on sensor_id 10281 - which has a length of 720

 -- working on sensor_id 10430 - which has a length of 721

 -- working on sensor_id 10647 - which has a length of 721

 -- working on sensor_id 10721 - which has a length of 721

 -- working on sensor_id 10723 - which has a length of 711

 -- working on sensor_id 10803 - which has a length of 721

 -- working on sensor_id 10823 - which has a length of 720

 -- working on sensor_id 10825 - which has a length of 722

 -- working on sensor_id 10827 - which has a length of 700

 -- working on sensor_id 10843 - which has a length of 722

 -- working on sensor_id 10914 - which has a length of 721

 -- working on sensor_id 10922 - which has a length of 721

 -- working on sensor_id 10924 - which has a length of 721

 -- working on sensor_id 10926 - which has a length of 721

 -- working on sensor_id 11002 - which has a length of 722

 -- working on sensor_id 11004 - which has a length of 721

 -- working on sensor_id 11006 - which has a length of 720

 -- working on sensor_id 11058 - which has a length of 721

 -- working on sensor_id 11232 - which has a length of 720

 -- working on sensor_id 11374 - which has a length of 716

 -- working on sensor_id 11376 - which has a length of 721

 -- working on sensor_id 11378 - which has a length of 722

 -- working on sensor_id 11380 - which has a length of 699

 -- working on sensor_id 11384 - which has a length of 719

 -- working on sensor_id 11404 - which has a length of 720

 -- working on sensor_id 11445 - which has a length of 721

 -- working on sensor_id 11543 - which has a length of 720

 -- working on sensor_id 11546 - which has a length of 720

 -- working on sensor_id 11550 - which has a length of 224

 -- working on sensor_id 11552 - which has a length of 357

 -- working on sensor_id 11661 - which has a length of 717

 -- working on sensor_id 11663 - which has a length of 720

 -- working on sensor_id 11763 - which has a length of 722

 -- working on sensor_id 11765 - which has a length of 721

 -- working on sensor_id 11767 - which has a length of 720

 -- working on sensor_id 11769 - which has a length of 722

 -- working on sensor_id 11771 - which has a length of 721

 -- working on sensor_id 11773 - which has a length of 424

 -- working on sensor_id 12120 - which has a length of 721

 -- working on sensor_id 12124 - which has a length of 722

 -- working on sensor_id 12129 - which has a length of 722

 -- working on sensor_id 12131 - which has a length of 721

 -- working on sensor_id 12133 - which has a length of 397

 -- working on sensor_id 12135 - which has a length of 721

 -- working on sensor_id 12137 - which has a length of 721

 -- working on sensor_id 12141 - which has a length of 721

 -- working on sensor_id 12381 - which has a length of 721

 -- working on sensor_id 12383 - which has a length of 706

 -- working on sensor_id 12385 - which has a length of 659

 -- working on sensor_id 12387 - which has a length of 722

 -- working on sensor_id 12389 - which has a length of 721

 -- working on sensor_id 12391 - which has a length of 718

 -- working on sensor_id 12393 - which has a length of 721

 -- working on sensor_id 12663 - which has a length of 717

 -- working on sensor_id 12673 - which has a length of 720

 -- working on sensor_id 12679 - which has a length of 234

 -- working on sensor_id 12687 - which has a length of 691

 -- working on sensor_id 12691 - which has a length of 721

 -- working on sensor_id 12693 - which has a length of 709

 -- working on sensor_id 12861 - which has a length of 719

 -- working on sensor_id 12990 - which has a length of 708

 -- working on sensor_id 12994 - which has a length of 720

 -- working on sensor_id 13000 - which has a length of 720

 -- working on sensor_id 13010 - which has a length of 713

 -- working on sensor_id 13012 - which has a length of 706

 -- working on sensor_id 13018 - which has a length of 720

 -- working on sensor_id 13020 - which has a length of 640

 -- working on sensor_id 13307 - which has a length of 632

 -- working on sensor_id 13419 - which has a length of 721

 -- working on sensor_id 13421 - which has a length of 721

 -- working on sensor_id 13423 - which has a length of 509

 -- working on sensor_id 13425 - which has a length of 681

 -- working on sensor_id 13428 - which has a length of 721

 -- working on sensor_id 13441 - which has a length of 720

 -- working on sensor_id 13443 - which has a length of 722

 -- working on sensor_id 13475 - which has a length of 720

 -- working on sensor_id 13477 - which has a length of 721

 -- working on sensor_id 13483 - which has a length of 720

 -- working on sensor_id 13762 - which has a length of 398

 -- working on sensor_id 14133 - which has a length of 698

 -- working on sensor_id 14209 - which has a length of 721

 -- working on sensor_id 14264 - which has a length of 721

 -- working on sensor_id 14276 - which has a length of 721

 -- working on sensor_id 14278 - which has a length of 709

 -- working on sensor_id 14282 - which has a length of 721

 -- working on sensor_id 14290 - which has a length of 554

 -- working on sensor_id 14292 - which has a length of 721

 -- working on sensor_id 14294 - which has a length of 717

 -- working on sensor_id 14296 - which has a length of 710

 -- working on sensor_id 14722 - which has a length of 577

 -- working on sensor_id 14797 - which has a length of 721

 -- working on sensor_id 14799 - which has a length of 721

 -- working on sensor_id 14801 - which has a length of 703

 -- working on sensor_id 14803 - which has a length of 722

 -- working on sensor_id 14807 - which has a length of 721

 -- working on sensor_id 14809 - which has a length of 720

 -- working on sensor_id 14811 - which has a length of 719

 -- working on sensor_id 14813 - which has a length of 721

 -- working on sensor_id 14817 - which has a length of 721

 -- working on sensor_id 14835 - which has a length of 644

 -- working on sensor_id 14837 - which has a length of 720

 -- working on sensor_id 14975 - which has a length of 720

 -- working on sensor_id 15067 - which has a length of 721

 -- working on sensor_id 15069 - which has a length of 721

 -- working on sensor_id 15071 - which has a length of 692

 -- working on sensor_id 15073 - which has a length of 719

 -- working on sensor_id 15549 - which has a length of 676

 -- working on sensor_id 15551 - which has a length of 721

 -- working on sensor_id 15561 - which has a length of 720

 -- working on sensor_id 15837 - which has a length of 721

 -- working on sensor_id 16147 - which has a length of 640

 -- working on sensor_id 16149 - which has a length of 705

 -- working on sensor_id 16151 - which has a length of 722

 -- working on sensor_id 16153 - which has a length of 346

 -- working on sensor_id 16155 - which has a length of 720

 -- working on sensor_id 16159 - which has a length of 722

 -- working on sensor_id 16296 - which has a length of 696

 -- working on sensor_id 16446 - which has a length of 721

 -- working on sensor_id 16531 - which has a length of 721

 -- working on sensor_id 16533 - which has a length of 336

 -- working on sensor_id 16535 - which has a length of 721

 -- working on sensor_id 16537 - which has a length of 720

 -- working on sensor_id 16705 - which has a length of 721

 -- working on sensor_id 16723 - which has a length of 720

 -- working on sensor_id 16811 - which has a length of 721

 -- working on sensor_id 17018 - which has a length of 458

 -- working on sensor_id 17020 - which has a length of 721

 -- working on sensor_id 17038 - which has a length of 721

 -- working on sensor_id 17235 - which has a length of 721

 -- working on sensor_id 17351 - which has a length of 720

 -- working on sensor_id 17532 - which has a length of 719

 -- working on sensor_id 17534 - which has a length of 721

 -- working on sensor_id 17536 - which has a length of 719

 -- working on sensor_id 17538 - which has a length of 694

 -- working on sensor_id 17576 - which has a length of 722

 -- working on sensor_id 17650 - which has a length of 721

 -- working on sensor_id 17662 - which has a length of 721

 -- working on sensor_id 17710 - which has a length of 721

 -- working on sensor_id 17712 - which has a length of 719

 -- working on sensor_id 17923 - which has a length of 721

 -- working on sensor_id 17925 - which has a length of 722

 -- working on sensor_id 17927 - which has a length of 722

 -- working on sensor_id 18056 - which has a length of 721

 -- working on sensor_id 18110 - which has a length of 722

 -- working on sensor_id 18112 - which has a length of 715

 -- working on sensor_id 18243 - which has a length of 721

 -- working on sensor_id 18590 - which has a length of 721

 -- working on sensor_id 18820 - which has a length of 720

 -- working on sensor_id 18826 - which has a length of 721

 -- working on sensor_id 18830 - which has a length of 241

 -- working on sensor_id 18834 - which has a length of 369

 -- working on sensor_id 18836 - which has a length of 721

 -- working on sensor_id 18838 - which has a length of 721

 -- working on sensor_id 18986 - which has a length of 722

 -- working on sensor_id 19119 - which has a length of 722

 -- working on sensor_id 19207 - which has a length of 688

 -- working on sensor_id 19301 - which has a length of 721

 -- working on sensor_id 19337 - which has a length of 721

 -- working on sensor_id 19547 - which has a length of 722

 -- working on sensor_id 19597 - which has a length of 721

 -- working on sensor_id 19599 - which has a length of 720

 -- working on sensor_id 9368 - which has a length of 407

 -- working on sensor_id 10234 - which has a length of 324

 -- working on sensor_id 7499 - which has a length of 605

 -- working on sensor_id 10719 - which has a length of 714

 -- working on sensor_id 11659 - which has a length of 45

 -- working on sensor_id 12122 - which has a length of 318

 -- working on sensor_id 12127 - which has a length of 660

 -- working on sensor_id 14017 - which has a length of 696

 -- working on sensor_id 14288 - which has a length of 267

 -- working on sensor_id 10588 - which has a length of 648

 -- working on sensor_id 12675 - which has a length of 260

 -- working on sensor_id 14300 - which has a length of 472

 -- working on sensor_id 16815 - which has a length of 706

 -- working on sensor_id 11548 - which has a length of 62

 -- working on sensor_id 14984 - which has a length of 55

 -- working on sensor_id 7426 - which has a length of 19

 -- working on sensor_id 14284 - which has a length of 45

 -- working on sensor_id 12681 - which has a length of 2

 -- working on sensor_id 11657 - which has a length of 75

 -- working on sensor_id 11402 - which has a length of 48

 -- working on sensor_id 13014 - which has a length of 85

 -- working on sensor_id 11060 - which has a length of 119

 -- working on sensor_id 13479 - which has a length of 123

 -- working on sensor_id 16145 - which has a length of 2

 -- working on sensor_id 11554 - which has a length of 24

 -- working on sensor_id 17542 - which has a length of 18

 -- working on sensor_id 9344 - which has a length of 7

 -- working on sensor_id 18832 - which has a length of 2

 -- working on sensor_id 16813 - which has a length of 6

 -- working on sensor_id 5321 - which has a length of 2

 ----- and that all took 0.23107481002807617 seconds

In [34]:
array_lengths

[716,
 692,
 721,
 720,
 721,
 700,
 721,
 721,
 650,
 722,
 498,
 721,
 721,
 719,
 720,
 721,
 721,
 721,
 711,
 721,
 720,
 722,
 700,
 722,
 721,
 721,
 721,
 721,
 722,
 721,
 720,
 721,
 720,
 716,
 721,
 722,
 699,
 719,
 720,
 721,
 720,
 720,
 224,
 357,
 717,
 720,
 722,
 721,
 720,
 722,
 721,
 424,
 721,
 722,
 722,
 721,
 397,
 721,
 721,
 721,
 721,
 706,
 659,
 722,
 721,
 718,
 721,
 717,
 720,
 234,
 691,
 721,
 709,
 719,
 708,
 720,
 720,
 713,
 706,
 720,
 640,
 632,
 721,
 721,
 509,
 681,
 721,
 720,
 722,
 720,
 721,
 720,
 398,
 698,
 721,
 721,
 721,
 709,
 721,
 554,
 721,
 717,
 710,
 577,
 721,
 721,
 703,
 722,
 721,
 720,
 719,
 721,
 721,
 644,
 720,
 720,
 721,
 721,
 692,
 719,
 676,
 721,
 720,
 721,
 640,
 705,
 722,
 346,
 720,
 722,
 696,
 721,
 721,
 336,
 721,
 720,
 721,
 720,
 721,
 458,
 721,
 721,
 721,
 720,
 719,
 721,
 719,
 694,
 722,
 721,
 721,
 721,
 719,
 721,
 722,
 722,
 721,
 722,
 715,
 721,
 721,
 720,
 721,
 241,
 369,
 721,
 721,
 722,
 722,
 688,
 721,
 721,
 722,
 721,
 720,
 407,
 324,
 605,
 714,
 45,
 318,
 660,
 696,
 267,
 648,
 260,
 472,
 706,
 62,
 55,
 19,
 45,
 2,
 75,
 48,
 85,
 119,
 123,
 2,
 24,
 18,
 7,
 2,
 6,
 2]

In [35]:
max_num_of_sensings_per_day = np.max( array_lengths )

In [36]:
max_array_length

NameError: name 'max_array_length' is not defined

In [ ]:
np.array( in_data[ in_data['sensor_id'] == unique_sensor_ids[0] ]['p1'] )

#### now try the same with the real numpy out_array …

In [37]:
# -- first make an array to fit the out values

# prepare variables

sensing_period_lengths_in_min = 3

sensing_periods_in_a_day = int( 60/sensing_period_lengths_in_min )
sensing_periods_in_a_day

20

In [38]:
type( max_num_of_sensings_per_day )

numpy.int64

In [39]:
type( sensing_periods_in_a_day )

int

In [40]:
# get all unique sensor ids 
unique_sensor_ids = in_data['sensor_id'].unique()
num_of__unique_sensor_ids = unique_sensor_ids.shape[0]

In [41]:
out_numpy_array_w_all_sensor_values = np.zeros( num_of__unique_sensor_ids * max_num_of_sensings_per_day )

In [42]:
out_numpy_array_w_all_sensor_values = out_numpy_array_w_all_sensor_values.reshape( [ num_of__unique_sensor_ids, max_num_of_sensings_per_day ] )

In [43]:
out_numpy_array_w_all_sensor_values.shape

(205, 722)

In [44]:
out_numpy_array_w_all_sensor_values

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [45]:
starttime = time.time()

for curr_sensor_id_index in range( unique_sensor_ids.shape[0] ) :
        
        curr_sensor_data = in_data[ in_data['sensor_id'] == unique_sensor_ids[ curr_sensor_id_index ] ]['p1']
        
        curr_sensor_data_length = curr_sensor_data.shape[0]
        
        print("\n -- working on row "+str( curr_sensor_id)+"/"+str( unique_sensor_ids.shape[0] )+" sensor_id "+str( unique_sensor_ids[ curr_sensor_id_index ] )+" - which has a length of "+str( curr_sensor_data_length ) )
        
        # assign the data into the numpy array 
        out_numpy_array_w_all_sensor_values[ curr_sensor_id_index ][ 0 : curr_sensor_data_length ] = curr_sensor_data
        

print("\n ----- and that all took "+str( time.time() - starttime )+" seconds ")

 -- working on row 5321/205 sensor_id 7273 - which has a length of 716

 -- working on row 5321/205 sensor_id 7275 - which has a length of 692

 -- working on row 5321/205 sensor_id 7277 - which has a length of 721

 -- working on row 5321/205 sensor_id 7406 - which has a length of 720

 -- working on row 5321/205 sensor_id 7428 - which has a length of 721

 -- working on row 5321/205 sensor_id 7469 - which has a length of 700

 -- working on row 5321/205 sensor_id 7597 - which has a length of 721

 -- working on row 5321/205 sensor_id 8683 - which has a length of 721

 -- working on row 5321/205 sensor_id 9411 - which has a length of 650

 -- working on row 5321/205 sensor_id 9436 - which has a length of 722

 -- working on row 5321/205 sensor_id 9743 - which has a length of 498

 -- working on row 5321/205 sensor_id 9797 - which has a length of 721

 -- working on row 5321/205 sensor_id 10216 - which has a length of 721

 -- working on row 5321/205 sensor_id 10250 - which has a length of 719

 -- working on row 5321/205 sensor_id 10281 - which has a length of 720

 -- working on row 5321/205 sensor_id 10430 - which has a length of 721

 -- working on row 5321/205 sensor_id 10647 - which has a length of 721

 -- working on row 5321/205 sensor_id 10721 - which has a length of 721

 -- working on row 5321/205 sensor_id 10723 - which has a length of 711

 -- working on row 5321/205 sensor_id 10803 - which has a length of 721

 -- working on row 5321/205 sensor_id 10823 - which has a length of 720

 -- working on row 5321/205 sensor_id 10825 - which has a length of 722

 -- working on row 5321/205 sensor_id 10827 - which has a length of 700

 -- working on row 5321/205 sensor_id 10843 - which has a length of 722

 -- working on row 5321/205 sensor_id 10914 - which has a length of 721

 -- working on row 5321/205 sensor_id 10922 - which has a length of 721

 -- working on row 5321/205 sensor_id 10924 - which has a length of 721

 -- working on row 5321/205 sensor_id 10926 - which has a length of 721

 -- working on row 5321/205 sensor_id 11002 - which has a length of 722

 -- working on row 5321/205 sensor_id 11004 - which has a length of 721

 -- working on row 5321/205 sensor_id 11006 - which has a length of 720

 -- working on row 5321/205 sensor_id 11058 - which has a length of 721

 -- working on row 5321/205 sensor_id 11232 - which has a length of 720

 -- working on row 5321/205 sensor_id 11374 - which has a length of 716

 -- working on row 5321/205 sensor_id 11376 - which has a length of 721

 -- working on row 5321/205 sensor_id 11378 - which has a length of 722

 -- working on row 5321/205 sensor_id 11380 - which has a length of 699

 -- working on row 5321/205 sensor_id 11384 - which has a length of 719

 -- working on row 5321/205 sensor_id 11404 - which has a length of 720

 -- working on row 5321/205 sensor_id 11445 - which has a length of 721

 -- working on row 5321/205 sensor_id 11543 - which has a length of 720

 -- working on row 5321/205 sensor_id 11546 - which has a length of 720

 -- working on row 5321/205 sensor_id 11550 - which has a length of 224

 -- working on row 5321/205 sensor_id 11552 - which has a length of 357

 -- working on row 5321/205 sensor_id 11661 - which has a length of 717

 -- working on row 5321/205 sensor_id 11663 - which has a length of 720

 -- working on row 5321/205 sensor_id 11763 - which has a length of 722

 -- working on row 5321/205 sensor_id 11765 - which has a length of 721

 -- working on row 5321/205 sensor_id 11767 - which has a length of 720

 -- working on row 5321/205 sensor_id 11769 - which has a length of 722

 -- working on row 5321/205 sensor_id 11771 - which has a length of 721

 -- working on row 5321/205 sensor_id 11773 - which has a length of 424

 -- working on row 5321/205 sensor_id 12120 - which has a length of 721

 -- working on row 5321/205 sensor_id 12124 - which has a length of 722

 -- working on row 5321/205 sensor_id 12129 - which has a length of 722

 -- working on row 5321/205 sensor_id 12131 - which has a length of 721

 -- working on row 5321/205 sensor_id 12133 - which has a length of 397

 -- working on row 5321/205 sensor_id 12135 - which has a length of 721

 -- working on row 5321/205 sensor_id 12137 - which has a length of 721

 -- working on row 5321/205 sensor_id 12141 - which has a length of 721

 -- working on row 5321/205 sensor_id 12381 - which has a length of 721

 -- working on row 5321/205 sensor_id 12383 - which has a length of 706

 -- working on row 5321/205 sensor_id 12385 - which has a length of 659

 -- working on row 5321/205 sensor_id 12387 - which has a length of 722

 -- working on row 5321/205 sensor_id 12389 - which has a length of 721

 -- working on row 5321/205 sensor_id 12391 - which has a length of 718

 -- working on row 5321/205 sensor_id 12393 - which has a length of 721

 -- working on row 5321/205 sensor_id 12663 - which has a length of 717

 -- working on row 5321/205 sensor_id 12673 - which has a length of 720

 -- working on row 5321/205 sensor_id 12679 - which has a length of 234

 -- working on row 5321/205 sensor_id 12687 - which has a length of 691

 -- working on row 5321/205 sensor_id 12691 - which has a length of 721

 -- working on row 5321/205 sensor_id 12693 - which has a length of 709

 -- working on row 5321/205 sensor_id 12861 - which has a length of 719

 -- working on row 5321/205 sensor_id 12990 - which has a length of 708

 -- working on row 5321/205 sensor_id 12994 - which has a length of 720

 -- working on row 5321/205 sensor_id 13000 - which has a length of 720

 -- working on row 5321/205 sensor_id 13010 - which has a length of 713

 -- working on row 5321/205 sensor_id 13012 - which has a length of 706

 -- working on row 5321/205 sensor_id 13018 - which has a length of 720

 -- working on row 5321/205 sensor_id 13020 - which has a length of 640

 -- working on row 5321/205 sensor_id 13307 - which has a length of 632

 -- working on row 5321/205 sensor_id 13419 - which has a length of 721

 -- working on row 5321/205 sensor_id 13421 - which has a length of 721

 -- working on row 5321/205 sensor_id 13423 - which has a length of 509

 -- working on row 5321/205 sensor_id 13425 - which has a length of 681

 -- working on row 5321/205 sensor_id 13428 - which has a length of 721

 -- working on row 5321/205 sensor_id 13441 - which has a length of 720

 -- working on row 5321/205 sensor_id 13443 - which has a length of 722

 -- working on row 5321/205 sensor_id 13475 - which has a length of 720

 -- working on row 5321/205 sensor_id 13477 - which has a length of 721

 -- working on row 5321/205 sensor_id 13483 - which has a length of 720

 -- working on row 5321/205 sensor_id 13762 - which has a length of 398

 -- working on row 5321/205 sensor_id 14133 - which has a length of 698

 -- working on row 5321/205 sensor_id 14209 - which has a length of 721

 -- working on row 5321/205 sensor_id 14264 - which has a length of 721

 -- working on row 5321/205 sensor_id 14276 - which has a length of 721

 -- working on row 5321/205 sensor_id 14278 - which has a length of 709

 -- working on row 5321/205 sensor_id 14282 - which has a length of 721

 -- working on row 5321/205 sensor_id 14290 - which has a length of 554

 -- working on row 5321/205 sensor_id 14292 - which has a length of 721

 -- working on row 5321/205 sensor_id 14294 - which has a length of 717

 -- working on row 5321/205 sensor_id 14296 - which has a length of 710

 -- working on row 5321/205 sensor_id 14722 - which has a length of 577

 -- working on row 5321/205 sensor_id 14797 - which has a length of 721

 -- working on row 5321/205 sensor_id 14799 - which has a length of 721

 -- working on row 5321/205 sensor_id 14801 - which has a length of 703

 -- working on row 5321/205 sensor_id 14803 - which has a length of 722

 -- working on row 5321/205 sensor_id 14807 - which has a length of 721

 -- working on row 5321/205 sensor_id 14809 - which has a length of 720

 -- working on row 5321/205 sensor_id 14811 - which has a length of 719

 -- working on row 5321/205 sensor_id 14813 - which has a length of 721

 -- working on row 5321/205 sensor_id 14817 - which has a length of 721

 -- working on row 5321/205 sensor_id 14835 - which has a length of 644

 -- working on row 5321/205 sensor_id 14837 - which has a length of 720

 -- working on row 5321/205 sensor_id 14975 - which has a length of 720

 -- working on row 5321/205 sensor_id 15067 - which has a length of 721

 -- working on row 5321/205 sensor_id 15069 - which has a length of 721

 -- working on row 5321/205 sensor_id 15071 - which has a length of 692

 -- working on row 5321/205 sensor_id 15073 - which has a length of 719

 -- working on row 5321/205 sensor_id 15549 - which has a length of 676

 -- working on row 5321/205 sensor_id 15551 - which has a length of 721

 -- working on row 5321/205 sensor_id 15561 - which has a length of 720

 -- working on row 5321/205 sensor_id 15837 - which has a length of 721

 -- working on row 5321/205 sensor_id 16147 - which has a length of 640

 -- working on row 5321/205 sensor_id 16149 - which has a length of 705

 -- working on row 5321/205 sensor_id 16151 - which has a length of 722

 -- working on row 5321/205 sensor_id 16153 - which has a length of 346

 -- working on row 5321/205 sensor_id 16155 - which has a length of 720

 -- working on row 5321/205 sensor_id 16159 - which has a length of 722

 -- working on row 5321/205 sensor_id 16296 - which has a length of 696

 -- working on row 5321/205 sensor_id 16446 - which has a length of 721

 -- working on row 5321/205 sensor_id 16531 - which has a length of 721

 -- working on row 5321/205 sensor_id 16533 - which has a length of 336

 -- working on row 5321/205 sensor_id 16535 - which has a length of 721

 -- working on row 5321/205 sensor_id 16537 - which has a length of 720

 -- working on row 5321/205 sensor_id 16705 - which has a length of 721

 -- working on row 5321/205 sensor_id 16723 - which has a length of 720

 -- working on row 5321/205 sensor_id 16811 - which has a length of 721

 -- working on row 5321/205 sensor_id 17018 - which has a length of 458

 -- working on row 5321/205 sensor_id 17020 - which has a length of 721

 -- working on row 5321/205 sensor_id 17038 - which has a length of 721

 -- working on row 5321/205 sensor_id 17235 - which has a length of 721

 -- working on row 5321/205 sensor_id 17351 - which has a length of 720

 -- working on row 5321/205 sensor_id 17532 - which has a length of 719

 -- working on row 5321/205 sensor_id 17534 - which has a length of 721

 -- working on row 5321/205 sensor_id 17536 - which has a length of 719

 -- working on row 5321/205 sensor_id 17538 - which has a length of 694

 -- working on row 5321/205 sensor_id 17576 - which has a length of 722

 -- working on row 5321/205 sensor_id 17650 - which has a length of 721

 -- working on row 5321/205 sensor_id 17662 - which has a length of 721

 -- working on row 5321/205 sensor_id 17710 - which has a length of 721

 -- working on row 5321/205 sensor_id 17712 - which has a length of 719

 -- working on row 5321/205 sensor_id 17923 - which has a length of 721

 -- working on row 5321/205 sensor_id 17925 - which has a length of 722

 -- working on row 5321/205 sensor_id 17927 - which has a length of 722

 -- working on row 5321/205 sensor_id 18056 - which has a length of 721

 -- working on row 5321/205 sensor_id 18110 - which has a length of 722

 -- working on row 5321/205 sensor_id 18112 - which has a length of 715

 -- working on row 5321/205 sensor_id 18243 - which has a length of 721

 -- working on row 5321/205 sensor_id 18590 - which has a length of 721

 -- working on row 5321/205 sensor_id 18820 - which has a length of 720

 -- working on row 5321/205 sensor_id 18826 - which has a length of 721

 -- working on row 5321/205 sensor_id 18830 - which has a length of 241

 -- working on row 5321/205 sensor_id 18834 - which has a length of 369

 -- working on row 5321/205 sensor_id 18836 - which has a length of 721

 -- working on row 5321/205 sensor_id 18838 - which has a length of 721

 -- working on row 5321/205 sensor_id 18986 - which has a length of 722

 -- working on row 5321/205 sensor_id 19119 - which has a length of 722

 -- working on row 5321/205 sensor_id 19207 - which has a length of 688

 -- working on row 5321/205 sensor_id 19301 - which has a length of 721

 -- working on row 5321/205 sensor_id 19337 - which has a length of 721

 -- working on row 5321/205 sensor_id 19547 - which has a length of 722

 -- working on row 5321/205 sensor_id 19597 - which has a length of 721

 -- working on row 5321/205 sensor_id 19599 - which has a length of 720

 -- working on row 5321/205 sensor_id 9368 - which has a length of 407

 -- working on row 5321/205 sensor_id 10234 - which has a length of 324

 -- working on row 5321/205 sensor_id 7499 - which has a length of 605

 -- working on row 5321/205 sensor_id 10719 - which has a length of 714

 -- working on row 5321/205 sensor_id 11659 - which has a length of 45

 -- working on row 5321/205 sensor_id 12122 - which has a length of 318

 -- working on row 5321/205 sensor_id 12127 - which has a length of 660

 -- working on row 5321/205 sensor_id 14017 - which has a length of 696

 -- working on row 5321/205 sensor_id 14288 - which has a length of 267

 -- working on row 5321/205 sensor_id 10588 - which has a length of 648

 -- working on row 5321/205 sensor_id 12675 - which has a length of 260

 -- working on row 5321/205 sensor_id 14300 - which has a length of 472

 -- working on row 5321/205 sensor_id 16815 - which has a length of 706

 -- working on row 5321/205 sensor_id 11548 - which has a length of 62

 -- working on row 5321/205 sensor_id 14984 - which has a length of 55

 -- working on row 5321/205 sensor_id 7426 - which has a length of 19

 -- working on row 5321/205 sensor_id 14284 - which has a length of 45

 -- working on row 5321/205 sensor_id 12681 - which has a length of 2

 -- working on row 5321/205 sensor_id 11657 - which has a length of 75

 -- working on row 5321/205 sensor_id 11402 - which has a length of 48

 -- working on row 5321/205 sensor_id 13014 - which has a length of 85

 -- working on row 5321/205 sensor_id 11060 - which has a length of 119

 -- working on row 5321/205 sensor_id 13479 - which has a length of 123

 -- working on row 5321/205 sensor_id 16145 - which has a length of 2

 -- working on row 5321/205 sensor_id 11554 - which has a length of 24

 -- working on row 5321/205 sensor_id 17542 - which has a length of 18

 -- working on row 5321/205 sensor_id 9344 - which has a length of 7

 -- working on row 5321/205 sensor_id 18832 - which has a length of 2

 -- working on row 5321/205 sensor_id 16813 - which has a length of 6

 -- working on row 5321/205 sensor_id 5321 - which has a length of 2

 ----- and that all took 0.2498471736907959 seconds

In [46]:
out_numpy_array_w_all_sensor_values[0]

array([3.4300e+00, 3.7800e+00, 3.6000e+00, 2.4700e+00, 1.9700e+00,
       1.8700e+00, 2.6000e+00, 1.9800e+00, 2.2400e+00, 3.3200e+00,
       2.5200e+00, 1.7200e+00, 2.1400e+00, 2.5400e+00, 2.1800e+00,
       1.9500e+00, 1.7800e+00, 1.4800e+00, 1.8800e+00, 1.9700e+00,
       1.6300e+00, 1.4600e+00, 2.4400e+00, 2.9800e+00, 2.4800e+00,
       1.6400e+00, 2.2500e+00, 2.4800e+00, 2.2700e+00, 1.3700e+00,
       1.2000e+00, 1.2500e+00, 1.5200e+00, 2.1200e+00, 1.6500e+00,
       1.1400e+00, 1.3500e+00, 1.6500e+00, 1.5500e+00, 1.6800e+00,
       2.2200e+00, 1.4200e+00, 1.5400e+00, 1.3800e+00, 1.2300e+00,
       1.2300e+00, 2.1800e+00, 1.6200e+00, 1.9200e+00, 1.8600e+00,
       1.6100e+00, 9.1000e-01, 1.1800e+00, 1.9200e+00, 1.6400e+00,
       1.0000e+00, 1.2000e+00, 1.4000e+00, 1.5800e+00, 1.7500e+00,
       1.7500e+00, 6.0000e-01, 9.9000e-01, 1.0800e+00, 7.0000e-01,
       6.5000e-01, 1.3800e+00, 1.7500e+00, 1.1200e+00, 6.8000e-01,
       9.9000e-01, 6.4000e-01, 6.4000e-01, 7.5000e-01, 8.5000e-01,
       7.8000e-01, 8.2000e-01, 5.0000e-01, 5.5000e-01, 5.0000e-01,
       1.1400e+00, 8.4000e-01, 8.4000e-01, 6.8000e-01, 1.8000e+00,
       1.1000e+00, 1.0500e+00, 5.0000e-01, 1.1000e+00, 1.4200e+00,
       5.6000e-01, 7.3000e-01, 6.2000e-01, 5.8000e-01, 5.8000e-01,
       1.6200e+00, 1.2500e+00, 1.2000e+00, 1.3800e+00, 6.1000e-01,
       4.8000e-01, 6.2000e-01, 8.2000e-01, 8.5000e-01, 7.4000e-01,
       6.0000e-01, 7.0000e-01, 1.7000e+00, 1.7500e+00, 1.0700e+00,
       1.2200e+00, 1.4700e+00, 5.3000e-01, 8.6000e-01, 1.7200e+00,
       2.0000e+00, 1.6800e+00, 1.9600e+00, 1.5600e+00, 1.0800e+00,
       3.1500e+00, 1.1000e+00, 1.8500e+00, 2.5000e+00, 1.8800e+00,
       1.3800e+00, 3.2000e+00, 2.1500e+00, 1.5000e+00, 1.2800e+00,
       2.9000e+00, 1.5800e+00, 2.1300e+00, 2.4600e+00, 2.7600e+00,
       3.0600e+00, 3.1800e+00, 1.7400e+00, 1.4200e+00, 1.8000e+00,
       2.2000e+00, 1.9800e+00, 3.0700e+00, 2.1800e+00, 2.1300e+00,
       1.6800e+00, 1.5800e+00, 1.7800e+00, 1.6200e+00, 1.7500e+00,
       9.4000e-01, 7.0000e-01, 1.4200e+00, 1.3800e+00, 1.5000e+00,
       1.4400e+00, 2.0600e+00, 1.9600e+00, 1.5500e+00, 1.1600e+00,
       8.5000e-01, 1.3000e+00, 1.5400e+00, 1.1500e+00, 2.2600e+00,
       1.0800e+00, 1.0200e+00, 1.4700e+00, 1.6600e+00, 1.3800e+00,
       1.7500e+00, 1.9500e+00, 1.9100e+00, 1.1800e+00, 8.0000e-01,
       1.5500e+00, 1.3400e+00, 4.1800e+00, 4.0400e+00, 1.5500e+00,
       1.2800e+00, 1.3000e+00, 1.5200e+00, 1.9500e+00, 2.3000e+00,
       2.7500e+00, 2.8200e+00, 2.6000e+00, 2.8000e+00, 2.1800e+00,
       8.4000e-01, 8.8000e-01, 1.2800e+00, 1.3200e+00, 1.5600e+00,
       2.3800e+00, 3.1400e+00, 2.6400e+00, 3.3000e+00, 3.2800e+00,
       2.4300e+00, 2.0200e+00, 1.6400e+00, 1.6000e+00, 2.4300e+00,
       3.8500e+00, 4.0400e+00, 2.5500e+00, 2.8800e+00, 3.5500e+00,
       4.0500e+00, 3.5600e+00, 3.6200e+00, 3.1200e+00, 2.9300e+00,
       3.5700e+00, 2.7200e+00, 2.8000e+00, 2.7600e+00, 2.8600e+00,
       4.2200e+00, 3.6400e+00, 3.6600e+00, 5.9800e+00, 3.6800e+00,
       3.7300e+00, 4.7500e+00, 3.3500e+00, 2.8800e+00, 2.8800e+00,
       3.4900e+00, 2.9000e+00, 4.1400e+00, 3.1800e+00, 3.2800e+00,
       4.8000e+00, 2.1000e+00, 2.0200e+00, 2.0000e+00, 2.4500e+00,
       2.5800e+00, 2.5800e+00, 3.6700e+00, 2.3000e+00, 2.8000e+00,
       2.7400e+00, 3.0000e+00, 2.9500e+00, 4.1200e+00, 3.4500e+00,
       1.4500e+00, 1.7800e+00, 3.6700e+00, 2.3500e+00, 2.2500e+00,
       2.5000e+00, 2.1100e+00, 2.2200e+00, 2.1600e+00, 3.4300e+00,
       3.9200e+00, 3.5700e+00, 3.6700e+00, 3.4300e+00, 2.4600e+00,
       3.2000e+00, 3.2800e+00, 2.1400e+00, 2.0400e+00, 2.2500e+00,
       4.2500e+00, 2.8200e+00, 3.1800e+00, 3.8000e+00, 3.7000e+00,
       3.1700e+00, 3.7800e+00, 3.4700e+00, 3.9500e+00, 3.7000e+00,
       4.3000e+00, 3.6800e+00, 3.3500e+00, 3.5400e+00, 2.7800e+00,
       2.4800e+00, 3.6150e+01, 4.9000e+00, 9.7000e+00, 7.0000e+00,
       6.1200e+00, 1.0380e+01, 6.9600e+00, 2.3000e+00, 2.4200e+01,
       2.8600e+01, 5.6580e+01, 1.1850e+01, 3.7600e+00, 7.7600e+00,
       2.8130e+01, 1.2890e+02, 1.6560e+01, 2.1800e+01, 1.3180e+01,
       4.4200e+00, 5.9200e+00, 6.2500e+00, 2.3210e+01, 4.5500e+02,
       5.6968e+02, 1.1360e+01, 2.3780e+01, 2.2020e+01, 3.1000e+00,
       2.1500e+00, 2.0600e+00, 1.3700e+01, 1.4300e+01, 8.0600e+00,
       2.6200e+00, 4.0800e+00, 3.2000e+00, 3.6500e+00, 2.8500e+00,
       2.3700e+00, 1.0795e+02, 7.7230e+01, 3.8000e+00, 3.1100e+00,
       3.6000e+00, 5.9750e+01, 1.5777e+02, 7.6950e+01, 4.2240e+01,
       1.8160e+01, 3.3720e+01, 9.1800e+00, 1.3890e+01, 3.8600e+01,
       7.1920e+01, 6.5440e+01, 1.4960e+01, 9.6700e+01, 3.1080e+01,
       8.1200e+00, 6.3500e+00, 3.8800e+00, 3.2200e+00, 3.0400e+00,
       2.7700e+00, 3.9670e+01, 4.1940e+01, 3.2360e+01, 2.6320e+01,
       2.8720e+01, 2.6300e+01, 5.3100e+00, 7.3000e+00, 7.0200e+00,
       7.9800e+00, 1.1050e+01, 5.0700e+00, 2.4000e+00, 2.4000e+00,
       2.1400e+00, 1.8000e+00, 1.6000e+00, 1.3400e+00, 1.5600e+00,
       1.8500e+00, 1.5800e+00, 1.8000e+00, 1.6500e+00, 1.8400e+00,
       1.9700e+00, 2.1700e+00, 1.9500e+00, 2.7700e+00, 2.1800e+00,
       1.7600e+00, 2.4000e+00, 2.6100e+00, 2.9400e+00, 3.8400e+00,
       3.6700e+00, 2.5000e+00, 2.3800e+00, 2.4800e+00, 2.3500e+00,
       2.0000e+00, 2.6700e+00, 3.1500e+00, 3.8000e+00, 3.0400e+00,
       2.3200e+00, 3.4600e+00, 3.8500e+00, 2.9800e+00, 3.9400e+00,
       4.0500e+00, 4.3300e+00, 4.3100e+00, 3.7800e+00, 4.0300e+00,
       4.9800e+00, 5.9400e+00, 6.0400e+00, 6.8000e+00, 8.8600e+00,
       7.8300e+00, 5.4300e+00, 6.3000e+00, 6.9800e+00, 6.3800e+00,
       7.4600e+00, 7.6500e+00, 7.1200e+00, 7.2200e+00, 7.7400e+00,
       6.3400e+00, 6.0200e+00, 8.5500e+00, 1.0760e+01, 1.1030e+01,
       8.1800e+00, 7.8800e+00, 8.0200e+00, 8.9000e+00, 9.8800e+00,
       1.0160e+01, 9.3800e+00, 9.0200e+00, 9.7500e+00, 1.0400e+01,
       1.2320e+01, 1.3940e+01, 1.1400e+01, 1.0140e+01, 1.1580e+01,
       1.1540e+01, 1.0880e+01, 1.0070e+01, 9.3200e+00, 9.8300e+00,
       9.9000e+00, 1.0650e+01, 9.1000e+00, 9.3500e+00, 7.1400e+00,
       8.0200e+00, 6.4000e+00, 9.0900e+00, 1.1500e+01, 8.4300e+00,
       8.0900e+00, 1.1170e+01, 1.1880e+01, 1.0250e+01, 8.5700e+00,
       1.0100e+01, 8.3800e+00, 6.8400e+00, 9.7800e+00, 7.7600e+00,
       8.7600e+00, 1.2020e+01, 1.2250e+01, 9.9600e+00, 8.2500e+00,
       9.8800e+00, 1.0750e+01, 9.9200e+00, 9.4800e+00, 8.7300e+00,
       8.4000e+00, 8.6400e+00, 1.0350e+01, 1.1460e+01, 9.5900e+00,
       8.5900e+00, 6.4800e+00, 8.1800e+00, 6.6200e+00, 1.0000e+01,
       8.7800e+00, 7.6800e+00, 8.6000e+00, 9.2600e+00, 9.0500e+00,
       6.9800e+00, 7.3800e+00, 7.4200e+00, 9.9100e+00, 8.8800e+00,
       8.7400e+00, 9.4400e+00, 6.8500e+00, 8.3400e+00, 1.1320e+01,
       1.1890e+01, 1.1650e+01, 8.2400e+00, 9.0500e+00, 8.9100e+00,
       9.6600e+00, 1.0880e+01, 9.8300e+00, 9.2200e+00, 9.3500e+00,
       1.0000e+01, 9.8000e+00, 9.3500e+00, 7.4700e+00, 1.0680e+01,
       7.5900e+00, 9.6500e+00, 6.2200e+00, 1.0120e+01, 9.0000e+00,
       9.2500e+00, 9.2800e+00, 9.6200e+00, 9.1000e+00, 9.0500e+00,
       9.6200e+00, 1.2720e+01, 1.1820e+01, 1.0100e+01, 1.0050e+01,
       1.2780e+01, 1.2880e+01, 7.5200e+00, 1.2250e+01, 8.2300e+00,
       9.0000e+00, 7.9700e+00, 7.4100e+00, 1.1080e+01, 1.3400e+01,
       9.3700e+00, 9.5000e+00, 7.9800e+00, 8.0400e+00, 7.7400e+00,
       1.0660e+01, 8.4000e+00, 7.1000e+00, 7.4300e+00, 9.9800e+00,
       1.2860e+01, 9.6700e+00, 9.9000e+00, 9.2700e+00, 7.7400e+00,
       1.0240e+01, 7.9400e+00, 8.6500e+00, 8.3500e+00, 9.3200e+00,
       1.0150e+01, 8.0000e+00, 9.6800e+00, 7.1000e+00, 6.7200e+00,
       6.4200e+00, 6.4400e+00, 9.4300e+00, 7.2700e+00, 5.9200e+00,
       8.6100e+00, 8.0800e+00, 6.5500e+00, 6.7400e+00, 7.3600e+00,
       7.3500e+00, 5.7800e+00, 7.0200e+00, 6.2200e+00, 6.5600e+00,
       4.4200e+00, 6.0000e+00, 6.9000e+00, 5.7800e+00, 5.1200e+00,
       4.6600e+00, 6.5300e+00, 7.1100e+00, 7.4300e+00, 7.7800e+00,
       9.1200e+00, 5.1500e+00, 4.5200e+00, 6.3200e+00, 6.9200e+00,
       5.2000e+00, 4.5100e+00, 6.2600e+00, 4.9800e+00, 5.0100e+00,
       4.6800e+00, 5.9800e+00, 7.1200e+00, 6.0000e+00, 5.8600e+00,
       5.9000e+00, 5.8300e+00, 6.1500e+00, 3.7000e+00, 3.4400e+00,
       4.4900e+00, 5.7000e+00, 4.1900e+00, 3.3800e+00, 3.9500e+00,
       3.9000e+00, 4.7200e+00, 5.4000e+00, 3.5000e+00, 4.0000e+00,
       4.6600e+00, 5.1000e+00, 8.2500e+00, 8.3800e+00, 5.8600e+00,
       3.5200e+00, 3.0500e+00, 4.0500e+00, 4.5300e+00, 3.5800e+00,
       3.8400e+00, 5.6600e+00, 5.0700e+00, 3.5500e+00, 3.8000e+00,
       6.1200e+00, 3.5000e+00, 3.0800e+00, 5.0400e+00, 4.6000e+00,
       4.3100e+00, 5.2400e+00, 4.0400e+00, 3.4200e+00, 3.3300e+00,
       3.5300e+00, 3.8200e+00, 3.1800e+00, 2.9500e+00, 4.1800e+00,
       4.2300e+00, 4.0300e+00, 3.7800e+00, 3.9600e+00, 3.9000e+00,
       6.2400e+00, 5.7600e+00, 3.4200e+00, 3.2300e+00, 3.5300e+00,
       3.5600e+00, 4.0700e+00, 3.2000e+00, 3.6700e+00, 3.1000e+00,
       3.0400e+00, 4.1300e+00, 3.6600e+00, 4.0600e+00, 4.1400e+00,
       3.8400e+00, 4.3000e+00, 4.8800e+00, 5.6200e+00, 6.6200e+00,
       5.6600e+00, 5.9200e+00, 6.2600e+00, 4.6500e+00, 4.5200e+00,
       4.4000e+00, 4.2000e+00, 3.5700e+00, 3.0600e+00, 3.8800e+00,
       3.8700e+00, 3.8500e+00, 3.8300e+00, 3.6300e+00, 3.4300e+00,
       3.3200e+00, 4.0000e+00, 2.9700e+00, 3.3200e+00, 4.3700e+00,
       4.0500e+00, 4.3000e+00, 3.5000e+00, 2.4200e+00, 2.6000e+00,
       4.6000e+00, 3.6000e+00, 4.1600e+00, 3.4600e+00, 2.7600e+00,
       2.8800e+00, 2.7600e+00, 2.3300e+00, 2.3500e+00, 3.0800e+00,
       3.6200e+00, 3.4600e+00, 3.0100e+00, 2.5400e+00, 3.2000e+00,
       2.6300e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00])

In [47]:
for row in out_numpy_array_w_all_sensor_values:
    print( row.shape )

(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)
(722,)

#### get all values into an equal sizes array 

##### ie. use the length of the odd-sized array as an insertion point to the new array

### Test : give data new time range by adding earlier and later dates, to dataset

In [66]:
# first, set the time as an index 
in_data = in_data.set_index( 'timestamp' )

In [67]:
in_data.index

DatetimeIndex(['2018-12-31 11:57:22', '2018-12-31 11:58:44',
               '2018-12-31 11:58:47', '2018-12-31 11:56:41',
               '2018-12-31 11:57:42', '2018-12-31 11:57:52',
               '2018-12-31 11:58:51', '2018-12-31 11:58:28',
               '2018-12-31 11:57:18', '2018-12-31 11:57:22',
               ...
               '2019-01-01 11:59:41', '2019-01-01 11:59:46',
               '2019-01-01 11:57:19', '2019-01-01 11:59:59',
               '2019-01-01 11:56:55', '2019-01-01 11:58:57',
               '2019-01-01 11:59:36', '2019-01-01 11:59:41',
               '2019-01-01 11:57:12', '2019-01-01 11:58:42'],
              dtype='datetime64[ns]', name='timestamp', length=127109, freq=None)

In [68]:
in_data.head()

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:57:22       7273       SDS011  60.002  17.846    3.43   1.56
2018-12-31 11:58:44       7275       SDS011  57.720  11.888  482.77  33.82
2018-12-31 11:58:47       7277       SDS011  59.266  15.230    5.48   2.47
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:57:42       7428       SDS011  59.868  17.624    1.78   1.02

In [69]:
in_data.tail()

                     sensor_id sensor_namee     lat     lon     p1    p2
timestamp
2019-01-01 11:58:57      16723       SDS011  57.736  11.894  16.47  3.40
2019-01-01 11:59:36      16815       SDS011  59.462  18.040   2.67  1.97
2019-01-01 11:59:41      17235       SDS011  59.272  17.780   4.69  1.82
2019-01-01 11:57:12      10588       SDS011  55.676  13.346  14.08  3.68
2019-01-01 11:58:42      10647       SDS011  55.608  13.036  23.42  4.75

In [70]:
# extract some middle daat
data_middle = in_data[60000:60010]
data_middle

                     sensor_id sensor_namee     lat     lon     p1     p2
timestamp
2018-12-31 16:52:43      12679       SDS011  59.384  17.874   0.40   0.40
2018-12-31 16:52:21      12687       SDS011  59.388  17.798   2.83   1.90
2018-12-31 16:51:17      12691       SDS011  57.636  18.304   2.40   1.70
2018-12-31 16:51:03      12693       SDS011  58.190  12.720   6.42   2.62
2018-12-31 16:51:10      14017       SDS011  59.376  18.010   4.07   1.94
2018-12-31 16:50:49      14133       SDS011  59.364  18.018   4.14   2.38
2018-12-31 16:51:35      14209       SDS011  56.070  12.698  28.52  13.48
2018-12-31 16:51:51      14264       SDS011  57.654  11.880  26.92   8.46
2018-12-31 16:50:46      14276       SDS011  57.346  12.150  72.48  20.16
2018-12-31 16:51:31      14278       SDS011  59.374  18.010   4.64   2.30

In [71]:
data_start = in_data[:10]
data_start

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:57:22       7273       SDS011  60.002  17.846    3.43   1.56
2018-12-31 11:58:44       7275       SDS011  57.720  11.888  482.77  33.82
2018-12-31 11:58:47       7277       SDS011  59.266  15.230    5.48   2.47
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:57:42       7428       SDS011  59.868  17.624    1.78   1.02
2018-12-31 11:57:52       7469       SDS011  56.944  24.142    8.40   5.54
2018-12-31 11:58:51       7597       SDS011  59.320  18.064    3.68   2.00
2018-12-31 11:58:28       8683       SDS011  59.744  18.206    3.01   2.80
2018-12-31 11:57:18       9411       SDS011  59.266  15.230    3.44   2.18
2018-12-31 11:57:22       9436       SDS011  59.334  18.034    2.12   1.90

In [72]:
data_end = in_data[-10:]
data_end

                     sensor_id sensor_namee     lat     lon     p1    p2
timestamp
2019-01-01 11:59:41      13020       SDS011  57.722  11.948  20.64  3.67
2019-01-01 11:59:46      16147       SDS011  59.364  18.018   3.28  1.80
2019-01-01 11:57:19      16153       SDS011  55.648  13.208  20.00  3.90
2019-01-01 11:59:59      16296       SDS011  56.144  13.394  23.86  7.45
2019-01-01 11:56:55      16533       SDS011  55.722  13.202  18.05  4.33
2019-01-01 11:58:57      16723       SDS011  57.736  11.894  16.47  3.40
2019-01-01 11:59:36      16815       SDS011  59.462  18.040   2.67  1.97
2019-01-01 11:59:41      17235       SDS011  59.272  17.780   4.69  1.82
2019-01-01 11:57:12      10588       SDS011  55.676  13.346  14.08  3.68
2019-01-01 11:58:42      10647       SDS011  55.608  13.036  23.42  4.75

In [73]:
# now try stick the pieces together

In [74]:
data_start_and_middle = data_start.append( data_middle )
data_start_and_middle

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:57:22       7273       SDS011  60.002  17.846    3.43   1.56
2018-12-31 11:58:44       7275       SDS011  57.720  11.888  482.77  33.82
2018-12-31 11:58:47       7277       SDS011  59.266  15.230    5.48   2.47
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:57:42       7428       SDS011  59.868  17.624    1.78   1.02
2018-12-31 11:57:52       7469       SDS011  56.944  24.142    8.40   5.54
2018-12-31 11:58:51       7597       SDS011  59.320  18.064    3.68   2.00
2018-12-31 11:58:28       8683       SDS011  59.744  18.206    3.01   2.80
2018-12-31 11:57:18       9411       SDS011  59.266  15.230    3.44   2.18
2018-12-31 11:57:22       9436       SDS011  59.334  18.034    2.12   1.90
2018-12-31 16:52:43      12679       SDS011  59.384  17.874    0.40   0.40
2018-12-31 16:52:21      12687       SDS011  59.388  17.798    2.83   1.90
2018-12-31 16:51:17      12691       SDS011  57.636  18.304    2.40   1.70
2018-12-31 16:51:03      12693       SDS011  58.190  12.720    6.42   2.62
2018-12-31 16:51:10      14017       SDS011  59.376  18.010    4.07   1.94
2018-12-31 16:50:49      14133       SDS011  59.364  18.018    4.14   2.38
2018-12-31 16:51:35      14209       SDS011  56.070  12.698   28.52  13.48
2018-12-31 16:51:51      14264       SDS011  57.654  11.880   26.92   8.46
2018-12-31 16:50:46      14276       SDS011  57.346  12.150   72.48  20.16
2018-12-31 16:51:31      14278       SDS011  59.374  18.010    4.64   2.30

In [82]:
data_start_and_middle_resampled = data_start_and_middle.resample("1Min").mean().bfill()

In [83]:
data_start_and_middle_resampled

                     sensor_id      lat        lon          p1         p2
timestamp
2018-12-31 11:56:00     7406.0  56.9640  24.128000   11.050000   6.620000
2018-12-31 11:57:00     8203.4  59.0828  18.575200    3.834000   2.440000
2018-12-31 11:58:00     7708.0  59.0125  15.847000  123.735000  10.272500
2018-12-31 11:59:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:00:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:01:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:02:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:03:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:04:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:05:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:06:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:07:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:08:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:09:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:10:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:11:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:12:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:13:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:14:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:15:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:16:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:17:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:18:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:19:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:20:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:21:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:22:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:23:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:24:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 12:25:00    14204.5  58.3550  15.084000   38.310000  11.270000
...                        ...      ...        ...         ...        ...
2018-12-31 16:23:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:24:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:25:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:26:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:27:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:28:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:29:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:30:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:31:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:32:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:33:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:34:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:35:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:36:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:37:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:38:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:39:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:40:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:41:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:42:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:43:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:44:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:45:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:46:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:47:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:48:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:49:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:50:00    14204.5  58.3550  15.084000   38.310000  11.270000
2018-12-31 16:51:00    13692.0  58.0500  15.270333   12.161667   5.083333
2018-12-31 16:52:00    12683.0  59.3860  17.836000    1.615000   1.150000

[297 rows x 5 columns]

In [84]:
# now try doing a longer version, with start, middle and end extracts
data_start_middle_and_end = data_start.append( data_middle )
data_start_middle_and_end = data_start_middle_and_end.append( data_end )

In [85]:
data_start_middle_and_end

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:57:22       7273       SDS011  60.002  17.846    3.43   1.56
2018-12-31 11:58:44       7275       SDS011  57.720  11.888  482.77  33.82
2018-12-31 11:58:47       7277       SDS011  59.266  15.230    5.48   2.47
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:57:42       7428       SDS011  59.868  17.624    1.78   1.02
2018-12-31 11:57:52       7469       SDS011  56.944  24.142    8.40   5.54
2018-12-31 11:58:51       7597       SDS011  59.320  18.064    3.68   2.00
2018-12-31 11:58:28       8683       SDS011  59.744  18.206    3.01   2.80
2018-12-31 11:57:18       9411       SDS011  59.266  15.230    3.44   2.18
2018-12-31 11:57:22       9436       SDS011  59.334  18.034    2.12   1.90
2018-12-31 16:52:43      12679       SDS011  59.384  17.874    0.40   0.40
2018-12-31 16:52:21      12687       SDS011  59.388  17.798    2.83   1.90
2018-12-31 16:51:17      12691       SDS011  57.636  18.304    2.40   1.70
2018-12-31 16:51:03      12693       SDS011  58.190  12.720    6.42   2.62
2018-12-31 16:51:10      14017       SDS011  59.376  18.010    4.07   1.94
2018-12-31 16:50:49      14133       SDS011  59.364  18.018    4.14   2.38
2018-12-31 16:51:35      14209       SDS011  56.070  12.698   28.52  13.48
2018-12-31 16:51:51      14264       SDS011  57.654  11.880   26.92   8.46
2018-12-31 16:50:46      14276       SDS011  57.346  12.150   72.48  20.16
2018-12-31 16:51:31      14278       SDS011  59.374  18.010    4.64   2.30
2019-01-01 11:59:41      13020       SDS011  57.722  11.948   20.64   3.67
2019-01-01 11:59:46      16147       SDS011  59.364  18.018    3.28   1.80
2019-01-01 11:57:19      16153       SDS011  55.648  13.208   20.00   3.90
2019-01-01 11:59:59      16296       SDS011  56.144  13.394   23.86   7.45
2019-01-01 11:56:55      16533       SDS011  55.722  13.202   18.05   4.33
2019-01-01 11:58:57      16723       SDS011  57.736  11.894   16.47   3.40
2019-01-01 11:59:36      16815       SDS011  59.462  18.040    2.67   1.97
2019-01-01 11:59:41      17235       SDS011  59.272  17.780    4.69   1.82
2019-01-01 11:57:12      10588       SDS011  55.676  13.346   14.08   3.68
2019-01-01 11:58:42      10647       SDS011  55.608  13.036   23.42   4.75

In [88]:
data_start_middle_and_end__RESAMPLED = data_start_middle_and_end.resample("1Min").mean().bfill()

In [89]:
data_start_middle_and_end__RESAMPLED

                     sensor_id      lat      lon       p1       p2
timestamp
2018-12-31 11:56:00     7406.0  56.9640  24.1280   11.050   6.6200
2018-12-31 11:57:00     8203.4  59.0828  18.5752    3.834   2.4400
2018-12-31 11:58:00     7708.0  59.0125  15.8470  123.735  10.2725
2018-12-31 11:59:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:00:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:01:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:02:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:03:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:04:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:05:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:06:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:07:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:08:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:09:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:10:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:11:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:12:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:13:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:14:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:15:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:16:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:17:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:18:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:19:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:20:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:21:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:22:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:23:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:24:00    14204.5  58.3550  15.0840   38.310  11.2700
2018-12-31 12:25:00    14204.5  58.3550  15.0840   38.310  11.2700
...                        ...      ...      ...      ...      ...
2019-01-01 11:30:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:31:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:32:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:33:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:34:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:35:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:36:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:37:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:38:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:39:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:40:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:41:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:42:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:43:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:44:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:45:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:46:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:47:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:48:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:49:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:50:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:51:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:52:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:53:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:54:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:55:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:56:00    16533.0  55.7220  13.2020   18.050   4.3300
2019-01-01 11:57:00    13370.5  55.6620  13.2770   17.040   3.7900
2019-01-01 11:58:00    13685.0  56.6720  12.4650   19.945   4.0750
2019-01-01 11:59:00    15902.6  58.3928  15.8360   11.028   3.3420

[1444 rows x 5 columns]

#### or a quick bit of related repetition, how is it one creates a data frame row or so again…

In [105]:
in_data.columns

Index(['sensor_id', 'sensor_namee', 'lat', 'lon', 'p1', 'p2'], dtype='object')

In [106]:
# first, let's try making a new dataframe with data

In [107]:
test_make_df_01 = pd.DataFrame( data = [ { 'sensor_id' : 1234,  'lat' : 11, 'lon' : 22, 'p1' : 1, 'p2': 2, 'timestamp' : pd.Timestamp('2018-12-31 05:00') } ]  )

In [110]:
type( test_make_df_01 )

pandas.core.series.Series

In [108]:
test_make_df_01 = pd.to_datetime( test_make_df_01['timestamp'] )

In [109]:
type( test_make_df_01 )

pandas.core.series.Series