In [2]:
import pandas as pd
import numpy as np
import time

In [2]:
one = pd.Timestamp( time.ctime() )

In [3]:
one

Timestamp('2019-01-16 13:32:03')

In [4]:
dir( time )

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'clock',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'perf_counter',
 'process_time',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'time',
 'timezone',
 'tzname',
 'tzset']

In [5]:
time.ctime()

'Wed Jan 16 13:32:04 2019'

In [6]:

pd.Timedelta( '1 days')

Timedelta('1 days 00:00:00')

In [7]:
pd.Timedelta( days=1, seconds=1 )

Timedelta('1 days 00:00:01')

In [8]:
pd.Timedelta( np.timedelta64( 1, 'ms'))

Timedelta('0 days 00:00:00.001000')

In [9]:
daterange = pd.date_range( time.ctime(), periods=24, freq='H')

In [10]:
daterange

DatetimeIndex(['2019-01-16 13:32:04', '2019-01-16 14:32:04',
               '2019-01-16 15:32:04', '2019-01-16 16:32:04',
               '2019-01-16 17:32:04', '2019-01-16 18:32:04',
               '2019-01-16 19:32:04', '2019-01-16 20:32:04',
               '2019-01-16 21:32:04', '2019-01-16 22:32:04',
               '2019-01-16 23:32:04', '2019-01-17 00:32:04',
               '2019-01-17 01:32:04', '2019-01-17 02:32:04',
               '2019-01-17 03:32:04', '2019-01-17 04:32:04',
               '2019-01-17 05:32:04', '2019-01-17 06:32:04',
               '2019-01-17 07:32:04', '2019-01-17 08:32:04',
               '2019-01-17 09:32:04', '2019-01-17 10:32:04',
               '2019-01-17 11:32:04', '2019-01-17 12:32:04'],
              dtype='datetime64[ns]', freq='H')

In [11]:
# move back one day… 
daterange - pd.Timedelta( days=1 )

DatetimeIndex(['2019-01-15 13:32:04', '2019-01-15 14:32:04',
               '2019-01-15 15:32:04', '2019-01-15 16:32:04',
               '2019-01-15 17:32:04', '2019-01-15 18:32:04',
               '2019-01-15 19:32:04', '2019-01-15 20:32:04',
               '2019-01-15 21:32:04', '2019-01-15 22:32:04',
               '2019-01-15 23:32:04', '2019-01-16 00:32:04',
               '2019-01-16 01:32:04', '2019-01-16 02:32:04',
               '2019-01-16 03:32:04', '2019-01-16 04:32:04',
               '2019-01-16 05:32:04', '2019-01-16 06:32:04',
               '2019-01-16 07:32:04', '2019-01-16 08:32:04',
               '2019-01-16 09:32:04', '2019-01-16 10:32:04',
               '2019-01-16 11:32:04', '2019-01-16 12:32:04'],
              dtype='datetime64[ns]', freq='H')

In [12]:
# move back a dew hours… 
daterange - pd.Timedelta( hours=1 )

DatetimeIndex(['2019-01-16 12:32:04', '2019-01-16 13:32:04',
               '2019-01-16 14:32:04', '2019-01-16 15:32:04',
               '2019-01-16 16:32:04', '2019-01-16 17:32:04',
               '2019-01-16 18:32:04', '2019-01-16 19:32:04',
               '2019-01-16 20:32:04', '2019-01-16 21:32:04',
               '2019-01-16 22:32:04', '2019-01-16 23:32:04',
               '2019-01-17 00:32:04', '2019-01-17 01:32:04',
               '2019-01-17 02:32:04', '2019-01-17 03:32:04',
               '2019-01-17 04:32:04', '2019-01-17 05:32:04',
               '2019-01-17 06:32:04', '2019-01-17 07:32:04',
               '2019-01-17 08:32:04', '2019-01-17 09:32:04',
               '2019-01-17 10:32:04', '2019-01-17 11:32:04'],
              dtype='datetime64[ns]', freq='H')

In [13]:
# try make a time range, back in time, based on variables
hours_ = 24

In [14]:
original_time_range = pd.date_range( time.ctime(), periods=hours_, freq="H")
original_time_range

DatetimeIndex(['2019-01-16 13:32:05', '2019-01-16 14:32:05',
               '2019-01-16 15:32:05', '2019-01-16 16:32:05',
               '2019-01-16 17:32:05', '2019-01-16 18:32:05',
               '2019-01-16 19:32:05', '2019-01-16 20:32:05',
               '2019-01-16 21:32:05', '2019-01-16 22:32:05',
               '2019-01-16 23:32:05', '2019-01-17 00:32:05',
               '2019-01-17 01:32:05', '2019-01-17 02:32:05',
               '2019-01-17 03:32:05', '2019-01-17 04:32:05',
               '2019-01-17 05:32:05', '2019-01-17 06:32:05',
               '2019-01-17 07:32:05', '2019-01-17 08:32:05',
               '2019-01-17 09:32:05', '2019-01-17 10:32:05',
               '2019-01-17 11:32:05', '2019-01-17 12:32:05'],
              dtype='datetime64[ns]', freq='H')

In [15]:
date_range_moved = original_time_range - pd.Timedelta( hours=hours_ ) 
date_range_moved

DatetimeIndex(['2019-01-15 13:32:05', '2019-01-15 14:32:05',
               '2019-01-15 15:32:05', '2019-01-15 16:32:05',
               '2019-01-15 17:32:05', '2019-01-15 18:32:05',
               '2019-01-15 19:32:05', '2019-01-15 20:32:05',
               '2019-01-15 21:32:05', '2019-01-15 22:32:05',
               '2019-01-15 23:32:05', '2019-01-16 00:32:05',
               '2019-01-16 01:32:05', '2019-01-16 02:32:05',
               '2019-01-16 03:32:05', '2019-01-16 04:32:05',
               '2019-01-16 05:32:05', '2019-01-16 06:32:05',
               '2019-01-16 07:32:05', '2019-01-16 08:32:05',
               '2019-01-16 09:32:05', '2019-01-16 10:32:05',
               '2019-01-16 11:32:05', '2019-01-16 12:32:05'],
              dtype='datetime64[ns]', freq='H')

In [16]:
date_range_moved_as_epoc = date_range_moved.astype( np.int32 )
date_range_moved_as_epoc

Int64Index([1547559125000000000, 1547562725000000000, 1547566325000000000,
            1547569925000000000, 1547573525000000000, 1547577125000000000,
            1547580725000000000, 1547584325000000000, 1547587925000000000,
            1547591525000000000, 1547595125000000000, 1547598725000000000,
            1547602325000000000, 1547605925000000000, 1547609525000000000,
            1547613125000000000, 1547616725000000000, 1547620325000000000,
            1547623925000000000, 1547627525000000000, 1547631125000000000,
            1547634725000000000, 1547638325000000000, 1547641925000000000],
           dtype='int64')

In [17]:
date_range_moved.shape

(24,)

In [18]:
date_range_moved[0]

Timestamp('2019-01-15 13:32:05', freq='H')

In [19]:
dir( date_range_moved[0] )

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_attributes',
 '_date_repr',
 '_get_date_name_field',
 '_get_start_end_field',
 '_has_time_component',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']

In [20]:
 date_range_moved[0].ctime()

'Tue Jan 15 13:32:05 2019'

In [21]:
 date_range_moved[0].timestamp()

1547559125.0

In [22]:
str( date_range_moved[0] )

'2019-01-15 13:32:05'

In [23]:
start_time = time.time()
start_time

time.sleep( 1 )
time_1_sec_later = time.time()

In [24]:
time_diff = time_1_sec_later - start_time
time_diff

1.0046119689941406

In [25]:
# another go with getting the right time range
# - we start with the time range
daterange2 = pd.date_range( time.ctime(), periods=24, freq='H')
daterange2

DatetimeIndex(['2019-01-16 13:32:11', '2019-01-16 14:32:11',
               '2019-01-16 15:32:11', '2019-01-16 16:32:11',
               '2019-01-16 17:32:11', '2019-01-16 18:32:11',
               '2019-01-16 19:32:11', '2019-01-16 20:32:11',
               '2019-01-16 21:32:11', '2019-01-16 22:32:11',
               '2019-01-16 23:32:11', '2019-01-17 00:32:11',
               '2019-01-17 01:32:11', '2019-01-17 02:32:11',
               '2019-01-17 03:32:11', '2019-01-17 04:32:11',
               '2019-01-17 05:32:11', '2019-01-17 06:32:11',
               '2019-01-17 07:32:11', '2019-01-17 08:32:11',
               '2019-01-17 09:32:11', '2019-01-17 10:32:11',
               '2019-01-17 11:32:11', '2019-01-17 12:32:11'],
              dtype='datetime64[ns]', freq='H')

In [26]:
# we subtract the period frequency we originally set
daterange_minus_24_hours = daterange2 - 24
daterange_minus_24_hours

DatetimeIndex(['2019-01-15 13:32:11', '2019-01-15 14:32:11',
               '2019-01-15 15:32:11', '2019-01-15 16:32:11',
               '2019-01-15 17:32:11', '2019-01-15 18:32:11',
               '2019-01-15 19:32:11', '2019-01-15 20:32:11',
               '2019-01-15 21:32:11', '2019-01-15 22:32:11',
               '2019-01-15 23:32:11', '2019-01-16 00:32:11',
               '2019-01-16 01:32:11', '2019-01-16 02:32:11',
               '2019-01-16 03:32:11', '2019-01-16 04:32:11',
               '2019-01-16 05:32:11', '2019-01-16 06:32:11',
               '2019-01-16 07:32:11', '2019-01-16 08:32:11',
               '2019-01-16 09:32:11', '2019-01-16 10:32:11',
               '2019-01-16 11:32:11', '2019-01-16 12:32:11'],
              dtype='datetime64[ns]', freq='H')

In [27]:
# and then, just for practice, turn it into epoch 
daterange_minus_24_hours__as_epoc = daterange_minus_24_hours.astype( np.int32 )
daterange_minus_24_hours__as_epoc

Int64Index([1547559131000000000, 1547562731000000000, 1547566331000000000,
            1547569931000000000, 1547573531000000000, 1547577131000000000,
            1547580731000000000, 1547584331000000000, 1547587931000000000,
            1547591531000000000, 1547595131000000000, 1547598731000000000,
            1547602331000000000, 1547605931000000000, 1547609531000000000,
            1547613131000000000, 1547616731000000000, 1547620331000000000,
            1547623931000000000, 1547627531000000000, 1547631131000000000,
            1547634731000000000, 1547638331000000000, 1547641931000000000],
           dtype='int64')

In [28]:
type( daterange_minus_24_hours__as_epoc[0] )

numpy.int64

In [29]:
single_daterange_as_epoch__value = daterange_minus_24_hours__as_epoc[0]

In [30]:
# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv" )

In [31]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp        object
p1              float64
p2              float64
dtype: object

In [32]:
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [33]:
in_data.dtypes

sensor_id                int64
sensor_namee            object
lat                    float64
lon                    float64
timestamp       datetime64[ns]
p1                     float64
p2                     float64
dtype: object

In [34]:
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
10,9743,SDS011,57.664,12.054,2018-12-31 11:57:15,268.58,29.05
11,9797,SDS011,57.492,12.652,2018-12-31 11:58:52,10.13,7.05
12,10216,SDS011,59.674,16.838,2018-12-31 11:57:28,3.94,2.75
13,10250,SDS011,58.692,12.478,2018-12-31 11:58:38,11.55,5.88
14,10281,SDS011,59.472,18.048,2018-12-31 11:58:42,5.18,3.12
15,10430,SDS011,59.958,17.726,2018-12-31 11:57:35,2.42,1.58
16,10647,SDS011,55.608,13.036,2018-12-31 11:58:28,14.65,5.10
17,10721,SDS011,59.450,18.124,2018-12-31 11:57:54,2.28,1.45
18,10723,SDS011,59.298,18.052,2018-12-31 11:56:45,4.90,2.76
19,10803,SDS011,57.690,11.954,2018-12-31 11:58:07,31.01,6.02
20,10823,SDS011,59.332,18.034,2018-12-31 11:57:37,3.78,2.05
21,10825,SDS011,55.898,14.094,2018-12-31 11:57:55,9.50,7.00
22,10827,SDS011,59.334,13.512,2018-12-31 11:56:40,11.45,6.00
23,10843,SDS011,59.354,18.364,2018-12-31 11:58:46,5.44,2.13
24,10914,SDS011,61.450,23.858,2018-12-31 11:58:48,1.97,1.88
25,10922,SDS011,59.494,17.976,2018-12-31 11:57:26,5.75,3.05
26,10924,SDS011,59.860,17.652,2018-12-31 11:56:44,2.58,1.16
27,10926,SDS011,59.472,18.304,2018-12-31 11:57:06,3.26,2.35
28,11002,SDS011,55.796,13.090,2018-12-31 11:58:37,6.34,3.08
29,11004,SDS011,59.622,16.556,2018-12-31 11:58:53,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,2019-01-01 11:59:35,11.82,1.67
127080,18836,SDS011,63.404,13.030,2019-01-01 11:59:39,12.26,1.97
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30
127085,11232,SDS011,55.596,13.022,2019-01-01 11:59:46,16.80,4.07
127086,11374,SDS011,59.258,18.008,2019-01-01 11:59:40,6.35,4.08
127087,11378,SDS011,59.392,16.748,2019-01-01 11:59:47,1.25,0.64
127088,11445,SDS011,64.178,15.432,2019-01-01 11:59:51,0.45,0.26
127089,11546,SDS011,59.456,17.802,2019-01-01 11:59:45,1.42,0.86
127090,11663,SDS011,59.380,18.040,2019-01-01 11:59:48,1.77,1.10
127091,11769,SDS011,59.238,18.226,2019-01-01 11:59:56,2.49,1.35
127092,12383,SDS011,63.808,20.336,2019-01-01 11:59:40,2.13,0.65
127093,12387,SDS011,58.560,15.306,2019-01-01 11:59:52,1.10,0.65
127094,12673,SDS011,59.364,18.022,2019-01-01 11:59:49,2.63,1.50
127095,12675,SDS011,59.450,17.892,2019-01-01 11:59:47,3.30,1.52
127096,12691,SDS011,57.636,18.304,2019-01-01 11:59:55,5.25,1.94
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127098,13012,SDS011,57.662,12.006,2019-01-01 11:59:58,8.18,2.25
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [35]:
in_data_as_epoch = in_data
in_data_as_epoch['timestamp'] = in_data_as_epoch['timestamp'].astype( 'int64' )
in_data_as_epoch

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,1546257442000000000,3.43,1.56
1,7275,SDS011,57.720,11.888,1546257524000000000,482.77,33.82
2,7277,SDS011,59.266,15.230,1546257527000000000,5.48,2.47
3,7406,SDS011,56.964,24.128,1546257401000000000,11.05,6.62
4,7428,SDS011,59.868,17.624,1546257462000000000,1.78,1.02
5,7469,SDS011,56.944,24.142,1546257472000000000,8.40,5.54
6,7597,SDS011,59.320,18.064,1546257531000000000,3.68,2.00
7,8683,SDS011,59.744,18.206,1546257508000000000,3.01,2.80
8,9411,SDS011,59.266,15.230,1546257438000000000,3.44,2.18
9,9436,SDS011,59.334,18.034,1546257442000000000,2.12,1.90
10,9743,SDS011,57.664,12.054,1546257435000000000,268.58,29.05
11,9797,SDS011,57.492,12.652,1546257532000000000,10.13,7.05
12,10216,SDS011,59.674,16.838,1546257448000000000,3.94,2.75
13,10250,SDS011,58.692,12.478,1546257518000000000,11.55,5.88
14,10281,SDS011,59.472,18.048,1546257522000000000,5.18,3.12
15,10430,SDS011,59.958,17.726,1546257455000000000,2.42,1.58
16,10647,SDS011,55.608,13.036,1546257508000000000,14.65,5.10
17,10721,SDS011,59.450,18.124,1546257474000000000,2.28,1.45
18,10723,SDS011,59.298,18.052,1546257405000000000,4.90,2.76
19,10803,SDS011,57.690,11.954,1546257487000000000,31.01,6.02
20,10823,SDS011,59.332,18.034,1546257457000000000,3.78,2.05
21,10825,SDS011,55.898,14.094,1546257475000000000,9.50,7.00
22,10827,SDS011,59.334,13.512,1546257400000000000,11.45,6.00
23,10843,SDS011,59.354,18.364,1546257526000000000,5.44,2.13
24,10914,SDS011,61.450,23.858,1546257528000000000,1.97,1.88
25,10922,SDS011,59.494,17.976,1546257446000000000,5.75,3.05
26,10924,SDS011,59.860,17.652,1546257404000000000,2.58,1.16
27,10926,SDS011,59.472,18.304,1546257426000000000,3.26,2.35
28,11002,SDS011,55.796,13.090,1546257517000000000,6.34,3.08
29,11004,SDS011,59.622,16.556,1546257533000000000,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,1546343975000000000,11.82,1.67
127080,18836,SDS011,63.404,13.030,1546343979000000000,12.26,1.97
127081,19119,SDS011,56.972,24.132,1546343793000000000,10.84,3.66
127082,19207,SDS011,59.466,18.036,1546343900000000000,5.74,2.40
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127084,7273,SDS011,60.002,17.846,1546343974000000000,2.63,1.30
127085,11232,SDS011,55.596,13.022,1546343986000000000,16.80,4.07
127086,11374,SDS011,59.258,18.008,1546343980000000000,6.35,4.08
127087,11378,SDS011,59.392,16.748,1546343987000000000,1.25,0.64
127088,11445,SDS011,64.178,15.432,1546343991000000000,0.45,0.26
127089,11546,SDS011,59.456,17.802,1546343985000000000,1.42,0.86
127090,11663,SDS011,59.380,18.040,1546343988000000000,1.77,1.10
127091,11769,SDS011,59.238,18.226,1546343996000000000,2.49,1.35
127092,12383,SDS011,63.808,20.336,1546343980000000000,2.13,0.65
127093,12387,SDS011,58.560,15.306,1546343992000000000,1.10,0.65
127094,12673,SDS011,59.364,18.022,1546343989000000000,2.63,1.50
127095,12675,SDS011,59.450,17.892,1546343987000000000,3.30,1.52
127096,12691,SDS011,57.636,18.304,1546343995000000000,5.25,1.94
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127098,13012,SDS011,57.662,12.006,1546343998000000000,8.18,2.25
127099,13020,SDS011,57.722,11.948,1546343981000000000,20.64,3.67
127100,16147,SDS011,59.364,18.018,1546343986000000000,3.28,1.80
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127102,16296,SDS011,56.144,13.394,1546343999000000000,23.86,7.45
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [36]:
type( in_data_as_epoch['timestamp'][0] )

numpy.int64

In [37]:
single_timestamp_value_as_epoch__value = in_data_as_epoch['timestamp'][0]

In [38]:
# both values 
single_daterange_as_epoch__value, single_timestamp_value_as_epoch__value

(1547559131000000000, 1546257442000000000)

In [39]:
( single_timestamp_value_as_epoch__value - single_daterange_as_epoch__value ) / ( 60*60*24 * 1000000000
                                                                                )

-15.065844907407408

In [40]:
len( str( single_daterange_as_epoch__value )), len( str( single_timestamp_value_as_epoch__value ))

(19, 19)

In [41]:
# divide by a billion to get the time value in seconds ; ) 
time.ctime( single_daterange_as_epoch__value/1000000000 )

'Tue Jan 15 14:32:11 2019'

In [42]:
# dry run

In [43]:
start_time = "2018-12-31 11:58:42"
end_time = "2019-01-01 11:58:42"

In [44]:
# set up the relevant time range

In [45]:
time_frequency = "5T"
num_of_time_periods = 24*12+1

In [46]:
time_date_range = pd.date_range( end_time, periods=num_of_time_periods, freq = time_frequency ) 
time_date_range = time_date_range - ( num_of_time_periods -1 )
time_date_range

DatetimeIndex(['2018-12-31 11:58:42', '2018-12-31 12:03:42',
               '2018-12-31 12:08:42', '2018-12-31 12:13:42',
               '2018-12-31 12:18:42', '2018-12-31 12:23:42',
               '2018-12-31 12:28:42', '2018-12-31 12:33:42',
               '2018-12-31 12:38:42', '2018-12-31 12:43:42',
               ...
               '2019-01-01 11:13:42', '2019-01-01 11:18:42',
               '2019-01-01 11:23:42', '2019-01-01 11:28:42',
               '2019-01-01 11:33:42', '2019-01-01 11:38:42',
               '2019-01-01 11:43:42', '2019-01-01 11:48:42',
               '2019-01-01 11:53:42', '2019-01-01 11:58:42'],
              dtype='datetime64[ns]', length=289, freq='5T')

In [47]:
time_date_range_as_epoch = time_date_range.astype( np.int64 )
time_date_range_as_epoch

Int64Index([1546257522000000000, 1546257822000000000, 1546258122000000000,
            1546258422000000000, 1546258722000000000, 1546259022000000000,
            1546259322000000000, 1546259622000000000, 1546259922000000000,
            1546260222000000000,
            ...
            1546341222000000000, 1546341522000000000, 1546341822000000000,
            1546342122000000000, 1546342422000000000, 1546342722000000000,
            1546343022000000000, 1546343322000000000, 1546343622000000000,
            1546343922000000000],
           dtype='int64', length=289)

In [48]:
# work with the in data 
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,1546257442000000000,3.43,1.56
1,7275,SDS011,57.720,11.888,1546257524000000000,482.77,33.82
2,7277,SDS011,59.266,15.230,1546257527000000000,5.48,2.47
3,7406,SDS011,56.964,24.128,1546257401000000000,11.05,6.62
4,7428,SDS011,59.868,17.624,1546257462000000000,1.78,1.02
5,7469,SDS011,56.944,24.142,1546257472000000000,8.40,5.54
6,7597,SDS011,59.320,18.064,1546257531000000000,3.68,2.00
7,8683,SDS011,59.744,18.206,1546257508000000000,3.01,2.80
8,9411,SDS011,59.266,15.230,1546257438000000000,3.44,2.18
9,9436,SDS011,59.334,18.034,1546257442000000000,2.12,1.90
10,9743,SDS011,57.664,12.054,1546257435000000000,268.58,29.05
11,9797,SDS011,57.492,12.652,1546257532000000000,10.13,7.05
12,10216,SDS011,59.674,16.838,1546257448000000000,3.94,2.75
13,10250,SDS011,58.692,12.478,1546257518000000000,11.55,5.88
14,10281,SDS011,59.472,18.048,1546257522000000000,5.18,3.12
15,10430,SDS011,59.958,17.726,1546257455000000000,2.42,1.58
16,10647,SDS011,55.608,13.036,1546257508000000000,14.65,5.10
17,10721,SDS011,59.450,18.124,1546257474000000000,2.28,1.45
18,10723,SDS011,59.298,18.052,1546257405000000000,4.90,2.76
19,10803,SDS011,57.690,11.954,1546257487000000000,31.01,6.02
20,10823,SDS011,59.332,18.034,1546257457000000000,3.78,2.05
21,10825,SDS011,55.898,14.094,1546257475000000000,9.50,7.00
22,10827,SDS011,59.334,13.512,1546257400000000000,11.45,6.00
23,10843,SDS011,59.354,18.364,1546257526000000000,5.44,2.13
24,10914,SDS011,61.450,23.858,1546257528000000000,1.97,1.88
25,10922,SDS011,59.494,17.976,1546257446000000000,5.75,3.05
26,10924,SDS011,59.860,17.652,1546257404000000000,2.58,1.16
27,10926,SDS011,59.472,18.304,1546257426000000000,3.26,2.35
28,11002,SDS011,55.796,13.090,1546257517000000000,6.34,3.08
29,11004,SDS011,59.622,16.556,1546257533000000000,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,1546343975000000000,11.82,1.67
127080,18836,SDS011,63.404,13.030,1546343979000000000,12.26,1.97
127081,19119,SDS011,56.972,24.132,1546343793000000000,10.84,3.66
127082,19207,SDS011,59.466,18.036,1546343900000000000,5.74,2.40
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127084,7273,SDS011,60.002,17.846,1546343974000000000,2.63,1.30
127085,11232,SDS011,55.596,13.022,1546343986000000000,16.80,4.07
127086,11374,SDS011,59.258,18.008,1546343980000000000,6.35,4.08
127087,11378,SDS011,59.392,16.748,1546343987000000000,1.25,0.64
127088,11445,SDS011,64.178,15.432,1546343991000000000,0.45,0.26
127089,11546,SDS011,59.456,17.802,1546343985000000000,1.42,0.86
127090,11663,SDS011,59.380,18.040,1546343988000000000,1.77,1.10
127091,11769,SDS011,59.238,18.226,1546343996000000000,2.49,1.35
127092,12383,SDS011,63.808,20.336,1546343980000000000,2.13,0.65
127093,12387,SDS011,58.560,15.306,1546343992000000000,1.10,0.65
127094,12673,SDS011,59.364,18.022,1546343989000000000,2.63,1.50
127095,12675,SDS011,59.450,17.892,1546343987000000000,3.30,1.52
127096,12691,SDS011,57.636,18.304,1546343995000000000,5.25,1.94
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127098,13012,SDS011,57.662,12.006,1546343998000000000,8.18,2.25
127099,13020,SDS011,57.722,11.948,1546343981000000000,20.64,3.67
127100,16147,SDS011,59.364,18.018,1546343986000000000,3.28,1.80
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127102,16296,SDS011,56.144,13.394,1546343999000000000,23.86,7.45
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [49]:
# work with the csv loaded data

In [50]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp         int64
p1              float64
p2              float64
dtype: object

In [165]:
# just to repeat this, so we don't forget it 
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [166]:
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
10,9743,SDS011,57.664,12.054,2018-12-31 11:57:15,268.58,29.05
11,9797,SDS011,57.492,12.652,2018-12-31 11:58:52,10.13,7.05
12,10216,SDS011,59.674,16.838,2018-12-31 11:57:28,3.94,2.75
13,10250,SDS011,58.692,12.478,2018-12-31 11:58:38,11.55,5.88
14,10281,SDS011,59.472,18.048,2018-12-31 11:58:42,5.18,3.12
15,10430,SDS011,59.958,17.726,2018-12-31 11:57:35,2.42,1.58
16,10647,SDS011,55.608,13.036,2018-12-31 11:58:28,14.65,5.10
17,10721,SDS011,59.450,18.124,2018-12-31 11:57:54,2.28,1.45
18,10723,SDS011,59.298,18.052,2018-12-31 11:56:45,4.90,2.76
19,10803,SDS011,57.690,11.954,2018-12-31 11:58:07,31.01,6.02
20,10823,SDS011,59.332,18.034,2018-12-31 11:57:37,3.78,2.05
21,10825,SDS011,55.898,14.094,2018-12-31 11:57:55,9.50,7.00
22,10827,SDS011,59.334,13.512,2018-12-31 11:56:40,11.45,6.00
23,10843,SDS011,59.354,18.364,2018-12-31 11:58:46,5.44,2.13
24,10914,SDS011,61.450,23.858,2018-12-31 11:58:48,1.97,1.88
25,10922,SDS011,59.494,17.976,2018-12-31 11:57:26,5.75,3.05
26,10924,SDS011,59.860,17.652,2018-12-31 11:56:44,2.58,1.16
27,10926,SDS011,59.472,18.304,2018-12-31 11:57:06,3.26,2.35
28,11002,SDS011,55.796,13.090,2018-12-31 11:58:37,6.34,3.08
29,11004,SDS011,59.622,16.556,2018-12-31 11:58:53,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,2019-01-01 11:59:35,11.82,1.67
127080,18836,SDS011,63.404,13.030,2019-01-01 11:59:39,12.26,1.97
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30
127085,11232,SDS011,55.596,13.022,2019-01-01 11:59:46,16.80,4.07
127086,11374,SDS011,59.258,18.008,2019-01-01 11:59:40,6.35,4.08
127087,11378,SDS011,59.392,16.748,2019-01-01 11:59:47,1.25,0.64
127088,11445,SDS011,64.178,15.432,2019-01-01 11:59:51,0.45,0.26
127089,11546,SDS011,59.456,17.802,2019-01-01 11:59:45,1.42,0.86
127090,11663,SDS011,59.380,18.040,2019-01-01 11:59:48,1.77,1.10
127091,11769,SDS011,59.238,18.226,2019-01-01 11:59:56,2.49,1.35
127092,12383,SDS011,63.808,20.336,2019-01-01 11:59:40,2.13,0.65
127093,12387,SDS011,58.560,15.306,2019-01-01 11:59:52,1.10,0.65
127094,12673,SDS011,59.364,18.022,2019-01-01 11:59:49,2.63,1.50
127095,12675,SDS011,59.450,17.892,2019-01-01 11:59:47,3.30,1.52
127096,12691,SDS011,57.636,18.304,2019-01-01 11:59:55,5.25,1.94
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127098,13012,SDS011,57.662,12.006,2019-01-01 11:59:58,8.18,2.25
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [167]:
start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"

In [168]:
relevant_period[0:1]

       sensor_id sensor_namee     lat    lon            timestamp     p1    p2
78090       7277       SDS011  59.266  15.23  1546293529000000000  11.11  3.52

In [169]:
in_data.shape

(127109, 7)

In [171]:
relevant_period = in_data[  in_data['timestamp'] > start_time ] 
relevant_period = relevant_period[  relevant_period['timestamp'] < end_time ] 
relevant_period.shape

(48799, 7)

In [172]:
relevant_period

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
78090,7277,SDS011,59.266,15.230,2018-12-31 21:58:49,11.11,3.52
78094,7499,SDS011,59.924,10.738,2018-12-31 21:59:01,17.81,4.43
78095,7597,SDS011,59.320,18.064,2018-12-31 21:58:51,75.32,39.88
78109,11380,SDS011,55.606,12.998,2018-12-31 21:58:56,11.02,3.71
78122,11763,SDS011,56.522,14.950,2018-12-31 21:58:54,5.78,2.53
78129,12385,SDS011,57.634,18.310,2018-12-31 21:58:44,6.73,4.57
78132,12391,SDS011,59.860,17.640,2018-12-31 21:58:54,7.41,3.33
78134,12120,SDS011,59.460,17.908,2018-12-31 21:58:49,17.26,8.48
78136,12127,SDS011,57.702,11.904,2018-12-31 21:58:44,6.85,2.56
78146,12691,SDS011,57.636,18.304,2018-12-31 21:59:00,3.81,2.45
78148,12861,SDS011,66.348,14.134,2018-12-31 21:58:46,12.69,5.69
78159,14209,SDS011,56.070,12.698,2018-12-31 21:59:01,14.72,4.65
78174,16531,SDS011,57.698,11.958,2018-12-31 21:59:00,5.33,2.85
78179,16723,SDS011,57.736,11.894,2018-12-31 21:58:55,34.88,5.66
78180,13419,SDS011,58.440,15.470,2018-12-31 21:58:50,6.28,2.39
78187,13475,SDS011,63.824,20.288,2018-12-31 21:58:54,3.08,0.98
78195,14807,SDS011,57.718,12.034,2018-12-31 21:58:52,22.82,5.74
78212,16296,SDS011,56.144,13.394,2018-12-31 21:58:55,13.27,5.37
78215,18243,SDS011,55.674,13.072,2018-12-31 21:58:57,15.98,5.65
78220,17038,SDS011,55.750,13.202,2018-12-31 21:58:50,21.09,8.81
78233,18056,SDS011,57.494,12.166,2018-12-31 21:59:01,25.19,5.50
78242,19337,SDS011,59.396,16.474,2018-12-31 21:58:53,8.51,2.55
78256,10914,SDS011,61.450,23.858,2018-12-31 21:58:45,4.69,3.20
78261,11004,SDS011,59.622,16.556,2018-12-31 21:58:53,9.50,2.51
78264,7406,SDS011,56.964,24.128,2018-12-31 22:00:05,11.76,6.74
78265,7273,SDS011,60.002,17.846,2018-12-31 22:01:06,13.94,5.76
78266,7275,SDS011,57.720,11.888,2018-12-31 21:59:39,26.70,6.40
78267,7277,SDS011,59.266,15.230,2018-12-31 22:01:18,9.64,3.40
78268,7428,SDS011,59.868,17.624,2018-12-31 22:01:50,6.42,2.30
78269,7469,SDS011,56.944,24.142,2018-12-31 22:00:35,13.50,7.14
...,...,...,...,...,...,...,...
127034,16147,SDS011,59.364,18.018,2019-01-01 11:57:14,1.92,1.65
127035,16149,SDS011,55.606,13.024,2019-01-01 11:56:40,14.90,2.67
127037,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,21.05,4.22
127038,16155,SDS011,59.832,17.632,2019-01-01 11:57:44,3.33,1.65
127039,16159,SDS011,57.818,15.224,2019-01-01 11:56:49,4.42,1.08
127040,16296,SDS011,56.144,13.394,2019-01-01 11:57:30,25.28,7.05
127041,16811,SDS011,59.368,18.016,2019-01-01 11:57:32,3.35,1.21
127042,16815,SDS011,59.462,18.040,2019-01-01 11:56:46,3.55,2.04
127043,17018,SDS011,55.718,13.234,2019-01-01 11:58:37,19.52,2.50
127044,17020,SDS011,55.728,13.194,2019-01-01 11:57:00,27.82,5.70
127045,17038,SDS011,55.750,13.202,2019-01-01 11:57:39,15.37,3.24
127047,18110,SDS011,57.490,12.078,2019-01-01 11:57:27,14.68,4.15
127048,18112,SDS011,57.478,11.978,2019-01-01 11:56:36,25.70,4.85
127050,18820,SDS011,59.332,18.034,2019-01-01 11:57:43,4.07,1.74
127051,18826,SDS011,63.404,13.016,2019-01-01 11:57:06,8.64,1.28
127052,18836,SDS011,63.404,13.030,2019-01-01 11:57:10,12.83,1.94
127053,18838,SDS011,56.920,14.804,2019-01-01 11:58:00,6.62,1.46
127054,18986,SDS011,59.236,18.142,2019-01-01 11:58:13,2.70,1.12
127055,19337,SDS011,59.396,16.474,2019-01-01 11:58:32,1.93,0.73
127056,19547,SDS011,58.014,11.826,2019-01-01 11:58:17,4.10,1.20
127057,19597,SDS011,59.308,18.108,2019-01-01 11:57:43,2.80,0.65
127058,19599,SDS011,57.722,12.012,2019-01-01 11:56:39,22.35,4.12
127067,14290,SDS011,57.730,11.930,2019-01-01 11:57:13,11.70,3.00
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68

In [173]:
relevant_period['timestamp'] = in_data['timestamp'].astype( 'int64' )

In [176]:
relevant_period

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
78090,7277,SDS011,59.266,15.230,1546293529000000000,11.11,3.52
78094,7499,SDS011,59.924,10.738,1546293541000000000,17.81,4.43
78095,7597,SDS011,59.320,18.064,1546293531000000000,75.32,39.88
78109,11380,SDS011,55.606,12.998,1546293536000000000,11.02,3.71
78122,11763,SDS011,56.522,14.950,1546293534000000000,5.78,2.53
78129,12385,SDS011,57.634,18.310,1546293524000000000,6.73,4.57
78132,12391,SDS011,59.860,17.640,1546293534000000000,7.41,3.33
78134,12120,SDS011,59.460,17.908,1546293529000000000,17.26,8.48
78136,12127,SDS011,57.702,11.904,1546293524000000000,6.85,2.56
78146,12691,SDS011,57.636,18.304,1546293540000000000,3.81,2.45
78148,12861,SDS011,66.348,14.134,1546293526000000000,12.69,5.69
78159,14209,SDS011,56.070,12.698,1546293541000000000,14.72,4.65
78174,16531,SDS011,57.698,11.958,1546293540000000000,5.33,2.85
78179,16723,SDS011,57.736,11.894,1546293535000000000,34.88,5.66
78180,13419,SDS011,58.440,15.470,1546293530000000000,6.28,2.39
78187,13475,SDS011,63.824,20.288,1546293534000000000,3.08,0.98
78195,14807,SDS011,57.718,12.034,1546293532000000000,22.82,5.74
78212,16296,SDS011,56.144,13.394,1546293535000000000,13.27,5.37
78215,18243,SDS011,55.674,13.072,1546293537000000000,15.98,5.65
78220,17038,SDS011,55.750,13.202,1546293530000000000,21.09,8.81
78233,18056,SDS011,57.494,12.166,1546293541000000000,25.19,5.50
78242,19337,SDS011,59.396,16.474,1546293533000000000,8.51,2.55
78256,10914,SDS011,61.450,23.858,1546293525000000000,4.69,3.20
78261,11004,SDS011,59.622,16.556,1546293533000000000,9.50,2.51
78264,7406,SDS011,56.964,24.128,1546293605000000000,11.76,6.74
78265,7273,SDS011,60.002,17.846,1546293666000000000,13.94,5.76
78266,7275,SDS011,57.720,11.888,1546293579000000000,26.70,6.40
78267,7277,SDS011,59.266,15.230,1546293678000000000,9.64,3.40
78268,7428,SDS011,59.868,17.624,1546293710000000000,6.42,2.30
78269,7469,SDS011,56.944,24.142,1546293635000000000,13.50,7.14
...,...,...,...,...,...,...,...
127034,16147,SDS011,59.364,18.018,1546343834000000000,1.92,1.65
127035,16149,SDS011,55.606,13.024,1546343800000000000,14.90,2.67
127037,16153,SDS011,55.648,13.208,1546343839000000000,21.05,4.22
127038,16155,SDS011,59.832,17.632,1546343864000000000,3.33,1.65
127039,16159,SDS011,57.818,15.224,1546343809000000000,4.42,1.08
127040,16296,SDS011,56.144,13.394,1546343850000000000,25.28,7.05
127041,16811,SDS011,59.368,18.016,1546343852000000000,3.35,1.21
127042,16815,SDS011,59.462,18.040,1546343806000000000,3.55,2.04
127043,17018,SDS011,55.718,13.234,1546343917000000000,19.52,2.50
127044,17020,SDS011,55.728,13.194,1546343820000000000,27.82,5.70
127045,17038,SDS011,55.750,13.202,1546343859000000000,15.37,3.24
127047,18110,SDS011,57.490,12.078,1546343847000000000,14.68,4.15
127048,18112,SDS011,57.478,11.978,1546343796000000000,25.70,4.85
127050,18820,SDS011,59.332,18.034,1546343863000000000,4.07,1.74
127051,18826,SDS011,63.404,13.016,1546343826000000000,8.64,1.28
127052,18836,SDS011,63.404,13.030,1546343830000000000,12.83,1.94
127053,18838,SDS011,56.920,14.804,1546343880000000000,6.62,1.46
127054,18986,SDS011,59.236,18.142,1546343893000000000,2.70,1.12
127055,19337,SDS011,59.396,16.474,1546343912000000000,1.93,0.73
127056,19547,SDS011,58.014,11.826,1546343897000000000,4.10,1.20
127057,19597,SDS011,59.308,18.108,1546343863000000000,2.80,0.65
127058,19599,SDS011,57.722,12.012,1546343799000000000,22.35,4.12
127067,14290,SDS011,57.730,11.930,1546343833000000000,11.70,3.00
127081,19119,SDS011,56.972,24.132,1546343793000000000,10.84,3.66
127082,19207,SDS011,59.466,18.036,1546343900000000000,5.74,2.40
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68

In [177]:
relevant_period.index

Int64Index([ 78090,  78094,  78095,  78109,  78122,  78129,  78132,  78134,
             78136,  78146,
            ...
            127057, 127058, 127067, 127081, 127082, 127083, 127097, 127101,
            127103, 127107],
           dtype='int64', length=48799)

In [178]:
# create an array to store the results in 
out_array = np.zeros( time_date_range_as_epoch.shape[0] )

In [179]:
out_array.shape

(289,)

In [180]:
# create an array of values for the given sensor, 
# filling in possible blank areas with zeros ( well, by not adding anything there )

In [207]:
startime = time.time()
out = []
for row_i in range( relevant_period.shape[0] ):
    relev_time = int( relevant_period.loc[ row_i ]['timestamp'] ) 
#     print( type( relev_time ))
#     print( relev_time.shape )
#     out_array[row_i] = relev_time
    
print( "--- well, that took "+str( time.time() - start_time ) )

KeyError: 'the label [0] is not in the [index]'

In [183]:
relevant_period[0:1].shape

(1, 7)

In [184]:
two = relevant_period[0:1]['timestamp']
two

78090    1546293529000000000
Name: timestamp, dtype: int64

In [185]:
relevant_period.loc[[2]]

KeyError: 'None of [[2]] are in the [index]'

In [186]:
relevant_period.loc[3]

KeyError: 'the label [3] is not in the [index]'

In [187]:
relevant_period[0:1]

       sensor_id sensor_namee     lat    lon            timestamp     p1    p2
78090       7277       SDS011  59.266  15.23  1546293529000000000  11.11  3.52

In [188]:
relevant_period[1:2]

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
78094,7499,SDS011,59.924,10.738,1546293541000000000,17.81,4.43

In [189]:
relevant_period.at[0]

TypeError: _get_value() missing 1 required positional argument: 'col'

In [190]:
relevant_period[:20]

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
78090,7277,SDS011,59.266,15.230,1546293529000000000,11.11,3.52
78094,7499,SDS011,59.924,10.738,1546293541000000000,17.81,4.43
78095,7597,SDS011,59.320,18.064,1546293531000000000,75.32,39.88
78109,11380,SDS011,55.606,12.998,1546293536000000000,11.02,3.71
78122,11763,SDS011,56.522,14.950,1546293534000000000,5.78,2.53
78129,12385,SDS011,57.634,18.310,1546293524000000000,6.73,4.57
78132,12391,SDS011,59.860,17.640,1546293534000000000,7.41,3.33
78134,12120,SDS011,59.460,17.908,1546293529000000000,17.26,8.48
78136,12127,SDS011,57.702,11.904,1546293524000000000,6.85,2.56
78146,12691,SDS011,57.636,18.304,1546293540000000000,3.81,2.45
78148,12861,SDS011,66.348,14.134,1546293526000000000,12.69,5.69
78159,14209,SDS011,56.070,12.698,1546293541000000000,14.72,4.65
78174,16531,SDS011,57.698,11.958,1546293540000000000,5.33,2.85
78179,16723,SDS011,57.736,11.894,1546293535000000000,34.88,5.66
78180,13419,SDS011,58.440,15.470,1546293530000000000,6.28,2.39
78187,13475,SDS011,63.824,20.288,1546293534000000000,3.08,0.98
78195,14807,SDS011,57.718,12.034,1546293532000000000,22.82,5.74
78212,16296,SDS011,56.144,13.394,1546293535000000000,13.27,5.37
78215,18243,SDS011,55.674,13.072,1546293537000000000,15.98,5.65
78220,17038,SDS011,55.750,13.202,1546293530000000000,21.09,8.81

In [191]:

one = int( relevant_period[20:21]['p1'] )

In [192]:
one

25

In [193]:
relevant_period[20:21]['timestamp']

78233    1546293541000000000
Name: timestamp, dtype: int64

In [194]:
float( relevant_period[20:21]['p1'] )

25.19

In [195]:
type( relevant_period['timestamp'] )

pandas.core.series.Series

In [196]:
relevant_period['timestamp'].iloc[1]

1546293541000000000

In [197]:
relevant_period['timestamp'].iloc[3]

1546293536000000000

In [198]:
relevant_period.iloc[0]

sensor_id                      7277
sensor_namee                 SDS011
lat                          59.266
lon                           15.23
timestamp       1546293529000000000
p1                            11.11
p2                             3.52
Name: 78090, dtype: object

In [199]:
relevant_period.iloc[1]

sensor_id                      7499
sensor_namee                 SDS011
lat                          59.924
lon                          10.738
timestamp       1546293541000000000
p1                            17.81
p2                             4.43
Name: 78094, dtype: object

In [200]:
relevant_period.iloc[2]

sensor_id                      7597
sensor_namee                 SDS011
lat                           59.32
lon                          18.064
timestamp       1546293531000000000
p1                            75.32
p2                            39.88
Name: 78095, dtype: object

In [201]:
relevant_period.shape

(48799, 7)

In [202]:
# turn the timestamp column into an epoch column 
relevant_period['timestamp'] = relevant_period['timestamp'].astype( 'int64' )

In [203]:
# extract data just for one sensor
relevant_period__single_sensor = relevant_period[ relevant_period['sensor_id'] == 7597  ]

In [204]:
relevant_period__single_sensor.shape

(280, 7)

In [208]:
starttime = time.time()
out = 0
out_time = 0
for index in range( relevant_period__single_sensor.shape[0] ) :
    out = relevant_period__single_sensor.iloc[ index ]['p1']
    out_time = relevant_period__single_sensor.iloc[ index ]['timestamp']
#     print( "index : "+str( index ) )
#     print( relevant_period.iloc[ index ] )
    # check if the the relevant measurment ( in the variable above ) is within the 
    # relevant time period.
    # - loop through the time range and see if the current timestamp is within that

print(' well, that took '+str( time.time() - starttime )+' seconds  ')

 well, that took 0.15907692909240723 seconds

In [3]:


# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv" )

In [6]:
in_ = in_data['timestamp']

In [7]:
type( in_ )

pandas.core.series.Series

In [8]:
in_[0]

'2018-12-31 11:57:22'

In [9]:
for row in in_[:10]:
    print( row )

2018-12-31 11:57:22
2018-12-31 11:58:44
2018-12-31 11:58:47
2018-12-31 11:56:41
2018-12-31 11:57:42
2018-12-31 11:57:52
2018-12-31 11:58:51
2018-12-31 11:58:28
2018-12-31 11:57:18
2018-12-31 11:57:22

In [10]:
for row in in_data[:10]:
    print( row )

sensor_id
sensor_namee
lat
lon
timestamp
p1
p2

In [11]:
unique_vals_for_sensor_id_7273 = in_data[ in_data['sensor_id'] == 7273  ]

In [12]:
unique_vals_for_sensor_id_7273.shape

(716, 7)

In [13]:
unique_vals_for_sensor_id_7273

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
175,7273,SDS011,60.002,17.846,2018-12-31 11:59:50,3.78,1.55
346,7273,SDS011,60.002,17.846,2019-01-01 12:04:31,3.60,1.60
522,7273,SDS011,60.002,17.846,2019-01-01 12:07:00,2.47,1.44
700,7273,SDS011,60.002,17.846,2019-01-01 12:09:28,1.97,1.38
873,7273,SDS011,60.002,17.846,2019-01-01 12:11:57,1.87,1.25
1047,7273,SDS011,60.002,17.846,2019-01-01 12:16:54,2.60,1.59
1225,7273,SDS011,60.002,17.846,2019-01-01 12:19:25,1.98,1.48
1404,7273,SDS011,60.002,17.846,2019-01-01 12:21:53,2.24,1.28
1581,7273,SDS011,60.002,17.846,2019-01-01 12:24:22,3.32,1.52
1758,7273,SDS011,60.002,17.846,2019-01-01 12:26:50,2.52,1.38
1938,7273,SDS011,60.002,17.846,2019-01-01 12:31:47,1.72,1.20
2110,7273,SDS011,60.002,17.846,2019-01-01 12:34:16,2.14,1.05
2288,7273,SDS011,60.002,17.846,2019-01-01 12:36:47,2.54,1.10
2463,7273,SDS011,60.002,17.846,2019-01-01 12:39:16,2.18,1.20
2642,7273,SDS011,60.002,17.846,2019-01-01 12:41:44,1.95,1.15
2817,7273,SDS011,60.002,17.846,2019-01-01 12:46:41,1.78,1.03
2992,7273,SDS011,60.002,17.846,2019-01-01 12:49:10,1.48,0.94
3187,7273,SDS011,60.002,17.846,2019-01-01 12:54:07,1.88,1.05
3347,7273,SDS011,60.002,17.846,2019-01-01 12:56:35,1.97,1.15
3525,7273,SDS011,60.002,17.846,2019-01-01 13:01:35,1.63,0.95
3707,7273,SDS011,60.002,17.846,2019-01-01 13:04:07,1.46,0.97
3884,7273,SDS011,60.002,17.846,2019-01-01 13:06:35,2.44,1.15
4063,7273,SDS011,60.002,17.846,2019-01-01 13:09:04,2.98,1.18
4241,7273,SDS011,60.002,17.846,2019-01-01 13:11:33,2.48,1.05
4419,7273,SDS011,60.002,17.846,2019-01-01 13:16:40,1.64,0.98
4597,7273,SDS011,60.002,17.846,2019-01-01 13:19:09,2.25,0.95
4774,7273,SDS011,60.002,17.846,2019-01-01 13:21:44,2.48,0.99
4953,7273,SDS011,60.002,17.846,2019-01-01 13:24:31,2.27,0.95
5131,7273,SDS011,60.002,17.846,2019-01-01 13:27:00,1.37,0.82
...,...,...,...,...,...,...,...
121946,7273,SDS011,60.002,17.846,2019-01-01 10:32:47,3.85,1.86
122128,7273,SDS011,60.002,17.846,2019-01-01 10:37:44,3.83,1.76
122297,7273,SDS011,60.002,17.846,2019-01-01 10:40:16,3.63,1.72
122470,7273,SDS011,60.002,17.846,2019-01-01 10:42:44,3.43,1.76
122647,7273,SDS011,60.002,17.846,2019-01-01 10:45:13,3.32,1.96
122824,7273,SDS011,60.002,17.846,2019-01-01 10:47:44,4.00,1.98
122998,7273,SDS011,60.002,17.846,2019-01-01 10:52:44,2.97,1.62
123174,7273,SDS011,60.002,17.846,2019-01-01 10:55:12,3.32,1.85
123351,7273,SDS011,60.002,17.846,2019-01-01 10:57:41,4.37,2.00
123518,7273,SDS011,60.002,17.846,2019-01-01 11:00:09,4.05,2.00
123703,7273,SDS011,60.002,17.846,2019-01-01 11:02:38,4.30,1.95
123881,7273,SDS011,60.002,17.846,2019-01-01 11:07:35,3.50,1.72
124063,7273,SDS011,60.002,17.846,2019-01-01 11:10:03,2.42,1.64
124236,7273,SDS011,60.002,17.846,2019-01-01 11:12:32,2.60,1.68
124356,7273,SDS011,60.002,17.846,2019-01-01 11:15:00,4.60,1.66
124539,7273,SDS011,60.002,17.846,2019-01-01 11:22:26,3.60,1.62
124776,7273,SDS011,60.002,17.846,2019-01-01 11:19:57,4.16,1.59
125095,7273,SDS011,60.002,17.846,2019-01-01 11:24:54,3.46,1.65
125198,7273,SDS011,60.002,17.846,2019-01-01 11:27:23,2.76,1.50
125296,7273,SDS011,60.002,17.846,2019-01-01 11:29:51,2.88,1.50
125400,7273,SDS011,60.002,17.846,2019-01-01 11:34:49,2.76,1.54
125748,7273,SDS011,60.002,17.846,2019-01-01 11:37:17,2.33,1.64
125830,7273,SDS011,60.002,17.846,2019-01-01 11:39:45,2.35,1.55
126007,7273,SDS011,60.002,17.846,2019-01-01 11:42:15,3.08,1.50
126182,7273,SDS011,60.002,17.846,2019-01-01 11:44:44,3.62,1.40
126353,7273,SDS011,60.002,17.846,2019-01-01 11:49:40,3.46,1.65
126535,7273,SDS011,60.002,17.846,2019-01-01 11:52:09,3.01,1.56
126711,7273,SDS011,60.002,17.846,2019-01-01 11:54:37,2.54,1.55
126979,7273,SDS011,60.002,17.846,2019-01-01 11:57:06,3.20,1.50
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30

In [19]:
unique_vals_for_sensor_id_7273.iloc[2]

sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:04:31
p1                              3.6
p2                              1.6
Name: 346, dtype: object

In [25]:
%time
for row_i in range( unique_vals_for_sensor_id_7273.shape[0] ):
    print( unique_vals_for_sensor_id_7273.iloc[ row_i] )

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 11:57:22
p1                             3.43
p2                             1.56
Name: 0, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 11:59:50
p1                             3.78
p2                             1.55
Name: 175, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:04:31
p1                              3.6
p2                              1.6
Name: 346, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:07:00
p1                             2.47
p2                             1.44
Name: 522, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:09:28
p1                             1.97
p2                             1.38
Name: 700, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:11:57
p1                             1.87
p2                             1.25
Name: 873, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:16:54
p1                              2.6
p2                             1.59
Name: 1047, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:19:25
p1                             1.98
p2                             1.48
Name: 1225, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:21:53
p1                             2.24
p2                             1.28
Name: 1404, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:24:22
p1                             3.32
p2                             1.52
Name: 1581, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:26:50
p1                             2.52
p2                             1.38
Name: 1758, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:31:47
p1                             1.72
p2                              1.2
Name: 1938, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:34:16
p1                             2.14
p2                             1.05
Name: 2110, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:36:47
p1                             2.54
p2                              1.1
Name: 2288, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:39:16
p1                             2.18
p2                              1.2
Name: 2463, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:41:44
p1                             1.95
p2                             1.15
Name: 2642, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:46:41
p1                             1.78
p2                             1.03
Name: 2817, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:49:10
p1                             1.48
p2                             0.94
Name: 2992, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:54:07
p1                             1.88
p2                             1.05
Name: 3187, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 12:56:35
p1                             1.97
p2                             1.15
Name: 3347, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:01:35
p1                             1.63
p2                             0.95
Name: 3525, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:04:07
p1                             1.46
p2                             0.97
Name: 3707, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:06:35
p1                             2.44
p2                             1.15
Name: 3884, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:09:04
p1                             2.98
p2                             1.18
Name: 4063, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:11:33
p1                             2.48
p2                             1.05
Name: 4241, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:16:40
p1                             1.64
p2                             0.98
Name: 4419, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:19:09
p1                             2.25
p2                             0.95
Name: 4597, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:21:44
p1                             2.48
p2                             0.99
Name: 4774, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:24:31
p1                             2.27
p2                             0.95
Name: 4953, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:27:00
p1                             1.37
p2                             0.82
Name: 5131, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:32:00
p1                              1.2
p2                             0.84
Name: 5310, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:34:33
p1                             1.25
p2                             0.82
Name: 5486, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:37:02
p1                             1.52
p2                              0.9
Name: 5661, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:39:38
p1                             2.12
p2                             1.05
Name: 5840, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:42:14
p1                             1.65
p2                                1
Name: 6020, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:44:43
p1                             1.14
p2                             0.85
Name: 6194, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:49:46
p1                             1.35
p2                              0.8
Name: 6371, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:52:15
p1                             1.65
p2                             0.75
Name: 6544, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:54:44
p1                             1.55
p2                             0.84
Name: 6719, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:57:12
p1                             1.68
p2                             0.94
Name: 6896, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 13:59:41
p1                             2.22
p2                             0.92
Name: 7078, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:04:41
p1                             1.42
p2                             1.03
Name: 7252, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:07:10
p1                             1.54
p2                             0.95
Name: 7426, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:09:38
p1                             1.38
p2                             0.78
Name: 7607, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:12:07
p1                             1.23
p2                              0.8
Name: 7783, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:14:36
p1                             1.23
p2                             0.85
Name: 7962, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:19:35
p1                             2.18
p2                              0.8
Name: 8137, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:22:05
p1                             1.62
p2                             0.75
Name: 8314, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:24:34
p1                             1.92
p2                             0.84
Name: 8492, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:27:02
p1                             1.86
p2                             0.85
Name: 8673, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:31:59
p1                             1.61
p2                             0.84
Name: 8842, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:34:30
p1                             0.91
p2                              0.7
Name: 9019, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:36:59
p1                             1.18
p2                             0.65
Name: 9196, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:39:28
p1                             1.92
p2                             0.75
Name: 9379, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:41:58
p1                             1.64
p2                             0.75
Name: 9549, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:46:55
p1                                1
p2                             0.71
Name: 9729, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:49:24
p1                              1.2
p2                             0.82
Name: 9905, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:51:53
p1                              1.4
p2                             0.85
Name: 10083, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:54:21
p1                             1.58
p2                             0.75
Name: 10263, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:56:52
p1                             1.75
p2                             0.78
Name: 10438, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 14:59:21
p1                             1.75
p2                             0.88
Name: 10613, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:04:32
p1                              0.6
p2                              0.6
Name: 10791, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:07:01
p1                             0.99
p2                              0.6
Name: 10967, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:09:29
p1                             1.08
p2                              0.6
Name: 11143, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:12:01
p1                              0.7
p2                              0.6
Name: 11326, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:14:34
p1                             0.65
p2                              0.6
Name: 11501, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:19:31
p1                             1.38
p2                             0.66
Name: 11679, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:21:59
p1                             1.75
p2                             0.72
Name: 11858, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:24:29
p1                             1.12
p2                              0.7
Name: 12037, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:26:57
p1                             0.68
p2                              0.6
Name: 12217, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:31:54
p1                             0.99
p2                              0.6
Name: 12395, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 15:34:23

Name: 53634, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:33:21
p1                            128.9
p2                            66.25
Name: 54423, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:35:49
p1                            16.56
p2                            10.97
Name: 54598, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:40:48
p1                             21.8
p2                            16.06
Name: 54775, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:13:33
p1                            13.18
p2                              7.7
Name: 55162, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:16:01
p1                             4.42
p2                              2.3
Name: 55240, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:18:30
p1                             5.92
p2                             2.97
Name: 55331, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:20:58
p1                             6.25
p2                             3.57
Name: 55420, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:25:55
p1                            23.21
p2                            12.13
Name: 55498, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:28:24
p1                              455
p2                            249.6
Name: 55582, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:30:52
p1                           569.68
p2                            307.3
Name: 55687, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:43:16
p1                            11.36
p2                              8.6
Name: 55747, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:48:13
p1                            23.78
p2                             20.1
Name: 55917, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:50:42
p1                            22.02
p2                            16.45
Name: 56011, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:03:04
p1                              3.1
p2                             2.12
Name: 56344, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:10:30
p1                             2.15
p2                             1.46
Name: 56539, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:12:59
p1                             2.06
p2                             1.45
Name: 56716, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:45:45
p1                             13.7
p2                             11.9
Name: 57106, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:55:39
p1                             14.3
p2                            10.25
Name: 57370, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 15:58:07
p1                             8.06
p2                             5.82
Name: 57463, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:00:36
p1                             2.62
p2                             2.12
Name: 57571, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:05:33
p1                             4.08
p2                             2.22
Name: 57751, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:15:27
p1                              3.2
p2                              1.7
Name: 57808, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:27:50
p1                             3.65
p2                             1.85
Name: 58156, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:30:18
p1                             2.85
p2                             1.95
Name: 58245, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:32:47
p1                             2.37
p2                              1.9
Name: 58334, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:45:43
p1                           107.95
p2                            53.68
Name: 58690, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:48:12
p1                            77.23
p2                            43.84
Name: 58871, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:17:56
p1                              3.8
p2                             1.82
Name: 59149, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:22:53
p1                             3.11
p2                             1.78
Name: 59229, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:25:21
p1                              3.6
p2                             1.65
Name: 59318, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:40:46
p1                            59.75
p2                            28.53
Name: 59799, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:43:15
p1                           157.77
p2                            76.61
Name: 59890, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:50:41
p1                            76.95
p2                            45.66
Name: 59970, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:58:06
p1                            42.24
p2                            38.06
Name: 60070, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:00:34
p1                            18.16
p2                            15.93
Name: 60127, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 16:55:38
p1                            33.72
p2                             30.2
Name: 60360, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:03:03
p1                             9.18
p2                             7.25
Name: 60743, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:10:28
p1                            13.89
p2                            12.12
Name: 60988, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:12:57
p1                             38.6
p2                             27.3
Name: 61138, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:17:54
p1                            71.92
p2                            40.68
Name: 61405, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:22:51
p1                            65.44
p2                            34.24
Name: 61532, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:08:00
p1                            14.96
p2                             12.9
Name: 61799, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:15:25
p1                             96.7
p2                            56.86
Name: 61940, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:25:19
p1                            31.08
p2                            16.02
Name: 62081, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:27:48
p1                             8.12
p2                             4.28
Name: 62239, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:30:16
p1                             6.35
p2                              3.6
Name: 62360, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:32:45
p1                             3.88
p2                             2.25
Name: 62478, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:37:42
p1                             3.22
p2                             1.78
Name: 62795, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:40:10
p1                             3.04
p2                             1.74
Name: 62875, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:42:39
p1                             2.77
p2                             1.78
Name: 63011, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:45:07
p1                            39.67
p2                            20.43
Name: 63201, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:47:36
p1                            41.94
p2                            21.58
Name: 63381, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:52:33
p1                            32.36
p2                            19.82
Name: 63562, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:55:02
p1                            26.32
p2                            16.77
Name: 63773, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:57:30
p1                            28.72
p2                            21.75
Name: 63919, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 17:59:59
p1                             26.3
p2                            21.06
Name: 64098, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:04:58
p1                             5.31
p2                              4.6
Name: 64277, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:07:26
p1                              7.3
p2                             6.02
Name: 64456, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:09:55
p1                             7.02
p2                             5.78
Name: 64635, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:12:23
p1                             7.98
p2                             6.98
Name: 64810, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:14:52
p1                            11.05
p2                             9.42
Name: 64989, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:19:49
p1                             5.07
p2                             4.53
Name: 65167, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:22:18
p1                              2.4
p2                             1.93
Name: 65344, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:24:46
p1                              2.4
p2                              1.6
Name: 65525, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:27:15
p1                             2.14
p2                             1.54
Name: 65699, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:29:43
p1                              1.8
p2                             1.55
Name: 65877, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:34:40
p1                              1.6
p2                             1.34
Name: 66055, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:37:09
p1                             1.34
p2                             1.23
Name: 66241, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:39:37
p1                             1.56
p2                              1.3
Name: 66409, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:42:07
p1                             1.85
p2                              1.2
Name: 66586, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2018-12-31 18:44:36
p1                             1.58
p2                              1.1
Name: 66764, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846

Name: 107326, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:22:02
p1                                6
p2                             1.76
Name: 107425, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:24:30
p1                             5.86
p2                             1.85
Name: 107773, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:26:59
p1                              5.9
p2                             1.74
Name: 107835, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:31:56
p1                             5.83
p2                              1.8
Name: 107911, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:34:24
p1                             6.15
p2                             2.02
Name: 108143, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:36:52
p1                              3.7
p2                             1.58
Name: 108355, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:39:21
p1                             3.44
p2                              1.5
Name: 108529, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:41:49
p1                             4.49
p2                             1.66
Name: 108709, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:46:46
p1                              5.7
p2                             1.75
Name: 108875, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:49:15
p1                             4.19
p2                             1.68
Name: 109046, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:51:43
p1                             3.38
p2                             1.84
Name: 109224, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:54:12
p1                             3.95
p2                             1.84
Name: 109396, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 06:56:40
p1                              3.9
p2                             1.74
Name: 109564, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:01:37
p1                             4.72
p2                             1.64
Name: 109740, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:04:24
p1                              5.4
p2                             1.92
Name: 109902, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:07:02
p1                              3.5
p2                             1.66
Name: 110062, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:09:42
p1                                4
p2                             1.65
Name: 110222, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:12:11
p1                             4.66
p2                              1.8
Name: 110388, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:14:39
p1                              5.1
p2                              1.9
Name: 110560, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:19:36
p1                             8.25
p2                             2.08
Name: 110729, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:22:05
p1                             8.38
p2                                2
Name: 111000, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:27:02
p1                             5.86
p2                             1.97
Name: 111179, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:31:59
p1                             3.52
p2                             1.69
Name: 111252, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:34:27
p1                             3.05
p2                             1.65
Name: 111433, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:36:55
p1                             4.05
p2                             1.78
Name: 111604, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:39:24
p1                             4.53
p2                             1.78
Name: 111779, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:41:52
p1                             3.58
p2                             1.65
Name: 112004, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:46:49
p1                             3.84
p2                             1.73
Name: 112119, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:49:18
p1                             5.66
p2                             2.24
Name: 112298, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:51:46
p1                             5.07
p2                             2.27
Name: 112474, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:54:15
p1                             3.55
p2                             1.74
Name: 112647, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 07:56:43
p1                              3.8
p2                              1.7
Name: 112824, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:01:40
p1                             6.12
p2                             2.06
Name: 112997, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:04:08
p1                              3.5
p2                             1.75
Name: 113269, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:06:37
p1                             3.08
p2                              1.5
Name: 113341, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:09:05
p1                             5.04
p2                             1.85
Name: 113519, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:11:34
p1                              4.6
p2                             1.85
Name: 113695, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:16:31
p1                             4.31
p2                             1.68
Name: 113867, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:18:59
p1                             5.24
p2                             1.85
Name: 114032, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:21:28
p1                             4.04
p2                             1.82
Name: 114217, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:23:56
p1                             3.42
p2                             1.72
Name: 114393, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:28:53
p1                             3.33
p2                             1.68
Name: 114567, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:31:21
p1                             3.53
p2                             1.76
Name: 114738, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:33:50
p1                             3.82
p2                             1.76
Name: 114912, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:36:18
p1                             3.18
p2                             1.72
Name: 115091, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:38:47
p1                             2.95
p2                             1.66
Name: 115268, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:43:43
p1                             4.18
p2                             1.75
Name: 115444, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:46:12
p1                             4.23
p2                             1.76
Name: 115619, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:48:40
p1                             4.03
p2                             1.76
Name: 115794, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:51:09
p1                             3.78
p2                             1.78
Name: 115970, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:53:37
p1                             3.96
p2                             1.78
Name: 116145, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 08:58:34
p1                              3.9
p2                              1.6
Name: 116327, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:01:03
p1                             6.24
p2                             1.82
Name: 116496, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:03:31
p1                             5.76
p2                             1.93
Name: 116674, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:05:59
p1                             3.42
p2                             1.83
Name: 116866, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:11:00
p1                             3.23
p2                             1.71
Name: 117025, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:18:25
p1                             3.53
p2                             1.74
Name: 117376, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:20:54
p1                             3.56
p2                              1.7
Name: 117470, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:13:28
p1                             4.07
p2                             1.75
Name: 117535, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:15:57
p1                              3.2
p2                             1.68
Name: 117593, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:25:56
p1                             3.67
p2                              1.9
Name: 117970, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:30:53
p1                              3.1
p2                             1.58
Name: 118200, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:28:24
p1                             3.04
p2                              1.8
Name: 118298, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:33:21
p1                             4.13
p2                             1.58
Name: 118439, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:35:50
p1                             3.66
p2                             1.64
Name: 118616, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:40:49
p1                             4.06
p2                             2.04
Name: 118809, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:43:18
p1                             4.14
p2                                2
Name: 118972, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:45:46
p1                             3.84
p2                             1.86
Name: 119153, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:48:15
p1                              4.3
p2                             1.92
Name: 119333, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:50:43
p1                             4.88
p2                              2.1
Name: 119504, dtype: object
sensor_id                      7273
sensor_namee                 SDS011
lat                          60.002
lon                          17.846
timestamp       2019-01-01 09:55:40
p1                             5.62
p2                             2.18
Name: 119673, dtype: object
sensor_id                      7273
sensor_namee                 SDS011

In [26]:
!uptime

16:54  up  1:51, 4 users, load averages: 1.42 1.49 1.57