# Luftdaten data : data cleaning, resampling
## Code builds a continuous time tabular version of the luftdaen data, such that the same time period is present for each sensor in the data, regardless of whether each sensor has data for all the time slots. 

## Testing :
- using pd.resample
- constructing a time shift using pandas own tools, rather than my own

In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
# parameters

# start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"
# generate this please
start_time = "?????"

time_frequency_for_periods__for_basic_data = "5T"
num_of_time_periods___for_basic_data = 24*20 # 24 hrs * 12 x 5 mins in each hour

# when generating time periods 
sampling_frequency = "3T"



# --- data urls 

curr_url = "????"
nordic_midnight_24_hrs_data__url = "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"

# set the current data source 
curr_url =nordic_midnight_24_hrs_data__url

In [3]:
# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( curr_url )
in_data.shape

(127109, 7)

In [4]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp        object
p1              float64
p2              float64
dtype: object

In [5]:
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [6]:
in_data.head()

   sensor_id sensor_namee     lat     lon           timestamp      p1     p2
0       7273       SDS011  60.002  17.846 2018-12-31 11:57:22    3.43   1.56
1       7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2       7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
3       7406       SDS011  56.964  24.128 2018-12-31 11:56:41   11.05   6.62
4       7428       SDS011  59.868  17.624 2018-12-31 11:57:42    1.78   1.02

In [7]:
in_data.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [8]:
in_data__with_epoch_times = in_data.copy()

In [9]:
in_data__with_epoch_times['timestamp'] = in_data['timestamp'].astype( 'int64' )

In [10]:
in_data__with_epoch_times.head()

   sensor_id sensor_namee     lat     lon            timestamp      p1     p2
0       7273       SDS011  60.002  17.846  1546257442000000000    3.43   1.56
1       7275       SDS011  57.720  11.888  1546257524000000000  482.77  33.82
2       7277       SDS011  59.266  15.230  1546257527000000000    5.48   2.47
3       7406       SDS011  56.964  24.128  1546257401000000000   11.05   6.62
4       7428       SDS011  59.868  17.624  1546257462000000000    1.78   1.02

In [11]:
in_data__with_epoch_times.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [12]:
# test access to timestamps 
in_data__with_epoch_times__ONLY_TIMESTAMPS = in_data__with_epoch_times['timestamp']
in_data__with_epoch_times__ONLY_TIMESTAMPS.shape

(127109,)

In [13]:
type( in_data__with_epoch_times__ONLY_TIMESTAMPS  )

pandas.core.series.Series

In [14]:
# testing how to access and element. 
# - seems a regular [] acess is fine 
in_data__with_epoch_times__ONLY_TIMESTAMPS[0]

1546257442000000000

In [15]:
### various time operations

In [16]:
end_time

'2019-01-01 11:58:42'

In [17]:
# generate the time slots when the data is sampled

data_sampling_windows__time_periods = pd.date_range( end_time, freq=sampling_frequency,  
periods=num_of_time_periods___for_basic_data+1)

In [18]:
# check generated times
data_sampling_windows__time_periods

DatetimeIndex(['2019-01-01 11:58:42', '2019-01-01 12:01:42',
               '2019-01-01 12:04:42', '2019-01-01 12:07:42',
               '2019-01-01 12:10:42', '2019-01-01 12:13:42',
               '2019-01-01 12:16:42', '2019-01-01 12:19:42',
               '2019-01-01 12:22:42', '2019-01-01 12:25:42',
               ...
               '2019-01-02 11:31:42', '2019-01-02 11:34:42',
               '2019-01-02 11:37:42', '2019-01-02 11:40:42',
               '2019-01-02 11:43:42', '2019-01-02 11:46:42',
               '2019-01-02 11:49:42', '2019-01-02 11:52:42',
               '2019-01-02 11:55:42', '2019-01-02 11:58:42'],
              dtype='datetime64[ns]', length=481, freq='3T')

In [19]:
# then to 'go back in time' from the end date

# adding the '+1' to avoid the off by one errors  
data_sampling_windows__time_periods = data_sampling_windows__time_periods - ( num_of_time_periods___for_basic_data
 + 1 )

In [20]:
data_sampling_windows__time_periods[0]

Timestamp('2018-12-31 11:55:42', freq='3T')

In [21]:
data_sampling_windows__time_periods

DatetimeIndex(['2018-12-31 11:55:42', '2018-12-31 11:58:42',
               '2018-12-31 12:01:42', '2018-12-31 12:04:42',
               '2018-12-31 12:07:42', '2018-12-31 12:10:42',
               '2018-12-31 12:13:42', '2018-12-31 12:16:42',
               '2018-12-31 12:19:42', '2018-12-31 12:22:42',
               ...
               '2019-01-01 11:28:42', '2019-01-01 11:31:42',
               '2019-01-01 11:34:42', '2019-01-01 11:37:42',
               '2019-01-01 11:40:42', '2019-01-01 11:43:42',
               '2019-01-01 11:46:42', '2019-01-01 11:49:42',
               '2019-01-01 11:52:42', '2019-01-01 11:55:42'],
              dtype='datetime64[ns]', length=481, freq='3T')

In [22]:
data_sampling_windows__time_periods.shape

(481,)

In [23]:
### Convert the timestamp to epcoh times

In [24]:
data_sampling_windows__time_periods__as_epoch_times = data_sampling_windows__time_periods.astype( 'int64' )

In [25]:
data_sampling_windows__time_periods__as_epoch_times

Int64Index([1546257342000000000, 1546257522000000000, 1546257702000000000,
            1546257882000000000, 1546258062000000000, 1546258242000000000,
            1546258422000000000, 1546258602000000000, 1546258782000000000,
            1546258962000000000,
            ...
            1546342122000000000, 1546342302000000000, 1546342482000000000,
            1546342662000000000, 1546342842000000000, 1546343022000000000,
            1546343202000000000, 1546343382000000000, 1546343562000000000,
            1546343742000000000],
           dtype='int64', length=481)

In [26]:
end_time = pd.to_datetime( end_time )
end_time

Timestamp('2019-01-01 11:58:42')

In [27]:
start_time = data_sampling_windows__time_periods[0]
start_time

Timestamp('2018-12-31 11:55:42', freq='3T')

In [28]:
### Fetch relevant time period, of data from csv 

relev_time_period = in_data[ in_data['timestamp'] >= start_time ]
relev_time_period = relev_time_period[ relev_time_period['timestamp'] < end_time ]


in_data.shape, relev_time_period.shape

((127109, 7), (84702, 7))

In [29]:
relev_time_period__with_epoch_times = relev_time_period.copy()
relev_time_period__with_epoch_times['timestamp'] = relev_time_period['timestamp'].astype( 'int64' )

In [30]:
relev_time_period.head()

   sensor_id sensor_namee     lat     lon           timestamp      p1     p2
0       7273       SDS011  60.002  17.846 2018-12-31 11:57:22    3.43   1.56
1       7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2       7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
3       7406       SDS011  56.964  24.128 2018-12-31 11:56:41   11.05   6.62
4       7428       SDS011  59.868  17.624 2018-12-31 11:57:42    1.78   1.02

In [31]:
relev_time_period.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68

In [32]:
# and the epoch version
relev_time_period__with_epoch_times.head()

   sensor_id sensor_namee     lat     lon            timestamp      p1     p2
0       7273       SDS011  60.002  17.846  1546257442000000000    3.43   1.56
1       7275       SDS011  57.720  11.888  1546257524000000000  482.77  33.82
2       7277       SDS011  59.266  15.230  1546257527000000000    5.48   2.47
3       7406       SDS011  56.964  24.128  1546257401000000000   11.05   6.62
4       7428       SDS011  59.868  17.624  1546257462000000000    1.78   1.02

In [33]:
relev_time_period__with_epoch_times.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68

In [34]:
# --- now loop through the different sensor datas

In [35]:
unique_sensor_ids = relev_time_period['sensor_id'].unique()
unique_sensor_ids.shape

(200,)

In [36]:
# just here for storage… 
in_data__with_epoch_times,
#data_sampling_windows__time_periods__as_epoch_times

(        sensor_id sensor_namee     lat     lon            timestamp      p1  \
 0            7273       SDS011  60.002  17.846  1546257442000000000    3.43
 1            7275       SDS011  57.720  11.888  1546257524000000000  482.77
 2            7277       SDS011  59.266  15.230  1546257527000000000    5.48
 3            7406       SDS011  56.964  24.128  1546257401000000000   11.05
 4            7428       SDS011  59.868  17.624  1546257462000000000    1.78
 5            7469       SDS011  56.944  24.142  1546257472000000000    8.40
 6            7597       SDS011  59.320  18.064  1546257531000000000    3.68
 7            8683       SDS011  59.744  18.206  1546257508000000000    3.01
 8            9411       SDS011  59.266  15.230  1546257438000000000    3.44
 9            9436       SDS011  59.334  18.034  1546257442000000000    2.12
 10           9743       SDS011  57.664  12.054  1546257435000000000  268.58
 11           9797       SDS011  57.492  12.652  1546257532000000000   10.13
 12          10216       SDS011  59.674  16.838  1546257448000000000    3.94
 13          10250       SDS011  58.692  12.478  1546257518000000000   11.55
 14          10281       SDS011  59.472  18.048  1546257522000000000    5.18
 15          10430       SDS011  59.958  17.726  1546257455000000000    2.42
 16          10647       SDS011  55.608  13.036  1546257508000000000   14.65
 17          10721       SDS011  59.450  18.124  1546257474000000000    2.28
 18          10723       SDS011  59.298  18.052  1546257405000000000    4.90
 19          10803       SDS011  57.690  11.954  1546257487000000000   31.01
 20          10823       SDS011  59.332  18.034  1546257457000000000    3.78
 21          10825       SDS011  55.898  14.094  1546257475000000000    9.50
 22          10827       SDS011  59.334  13.512  1546257400000000000   11.45
 23          10843       SDS011  59.354  18.364  1546257526000000000    5.44
 24          10914       SDS011  61.450  23.858  1546257528000000000    1.97
 25          10922       SDS011  59.494  17.976  1546257446000000000    5.75
 26          10924       SDS011  59.860  17.652  1546257404000000000    2.58
 27          10926       SDS011  59.472  18.304  1546257426000000000    3.26
 28          11002       SDS011  55.796  13.090  1546257517000000000    6.34
 29          11004       SDS011  59.622  16.556  1546257533000000000    4.40
 ...           ...          ...     ...     ...                  ...     ...
 127079      18826       SDS011  63.404  13.016  1546343975000000000   11.82
 127080      18836       SDS011  63.404  13.030  1546343979000000000   12.26
 127081      19119       SDS011  56.972  24.132  1546343793000000000   10.84
 127082      19207       SDS011  59.466  18.036  1546343900000000000    5.74
 127083      19301       SDS011  59.362  12.152  1546343810000000000    0.02
 127084       7273       SDS011  60.002  17.846  1546343974000000000    2.63
 127085      11232       SDS011  55.596  13.022  1546343986000000000   16.80
 127086      11374       SDS011  59.258  18.008  1546343980000000000    6.35
 127087      11378       SDS011  59.392  16.748  1546343987000000000    1.25
 127088      11445       SDS011  64.178  15.432  1546343991000000000    0.45
 127089      11546       SDS011  59.456  17.802  1546343985000000000    1.42
 127090      11663       SDS011  59.380  18.040  1546343988000000000    1.77
 127091      11769       SDS011  59.238  18.226  1546343996000000000    2.49
 127092      12383       SDS011  63.808  20.336  1546343980000000000    2.13
 127093      12387       SDS011  58.560  15.306  1546343992000000000    1.10
 127094      12673       SDS011  59.364  18.022  1546343989000000000    2.63
 127095      12675       SDS011  59.450  17.892  1546343987000000000    3.30
 127096      12691       SDS011  57.636  18.304  1546343995000000000    5.25
 127097      12990       SDS011  57.692  11.958  1546343880000000000   16.63
 127098      13012       SDS011  57.662  12.006  1546343998000000000    8.18
 127099      13020       SDS011  57.722  11.948  1546343981000000000   20.64
 127100      16147       SDS011  59.364  18.018  1546343986000000000    3.28
 127101      16153       SDS011  55.648  13.208  1546343839000000000   20.00
 127102      16296       SDS011  56.144  13.394  1546343999000000000   23.86
 127103      16533       SDS011  55.722  13.202  1546343815000000000   18.05
 127104      16723       SDS011  57.736  11.894  1546343937000000000   16.47
 127105      16815       SDS011  59.462  18.040  1546343976000000000    2.67
 127106      17235       SDS011  59.272  17.780  1546343981000000000    4.69
 127107      10588       SDS011  55.676  13.346  1546343832000000000   14.08
 127108      10647       SDS011  55.608  13.036  1546343922000000000   23.42

            p2
 0        1.56
 1       33.82
 2        2.47
 3        6.62
 4        1.02
 5        5.54
 6        2.00
 7        2.80
 8        2.18
 9        1.90
 10      29.05
 11       7.05
 12       2.75
 13       5.88
 14       3.12
 15       1.58
 16       5.10
 17       1.45
 18       2.76
 19       6.02
 20       2.05
 21       7.00
 22       6.00
 23       2.13
 24       1.88
 25       3.05
 26       1.16
 27       2.35
 28       3.08
 29       1.95
 ...       ...
 127079   1.67
 127080   1.97
 127081   3.66
 127082   2.40
 127083   0.00
 127084   1.30
 127085   4.07
 127086   4.08
 127087   0.64
 127088   0.26
 127089   0.86
 127090   1.10
 127091   1.35
 127092   0.65
 127093   0.65
 127094   1.50
 127095   1.52
 127096   1.94
 127097   3.60
 127098   2.25
 127099   3.67
 127100   1.80
 127101   3.90
 127102   7.45
 127103   4.33
 127104   3.40
 127105   1.97
 127106   1.82
 127107   3.68
 127108   4.75

 [127109 rows x 7 columns],)

In [37]:
data_sampling_windows__time_periods__as_epoch_times.shape

(481,)

In [38]:
# try how one can access the data… seems the normal [i] way is fine… 
data_sampling_windows__time_periods__as_epoch_times[0]

1546257342000000000

In [39]:
type( in_data__with_epoch_times.iloc[0]['timestamp'] )
# in_data__with_epoch_times.iloc[0]['timestamp']

numpy.int64

In [40]:
type( data_sampling_windows__time_periods__as_epoch_times[0] )
# data_sampling_windows__time_periods__as_epoch_times[0]

numpy.int64

In [41]:
# TEST AREA 
curr_sensor_id_measurements__only_timestamps = in_data__with_epoch_times['timestamp']
type( curr_sensor_id_measurements__only_timestamps )
type( curr_sensor_id_measurements__only_timestamps[0] )

numpy.int64

In [42]:
# TEST AREA  - start time of data sampling periods
time.ctime( data_sampling_windows__time_periods__as_epoch_times[0] / (10**9) )

'Mon Dec 31 12:55:42 2018'

In [43]:
# TEST AREA - end time of data sampling periods
time.ctime( data_sampling_windows__time_periods__as_epoch_times[-1] / (10**9) )

'Tue Jan  1 12:55:42 2019'

### REMAKE of big loop

In [44]:
# temporary storage location for out arrays 
out_array_w_generated_periodic_data_arrays = []

# prepare the out array, beforhand
## curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods.shape[0] )

curr_sensor_id_i = 0

starttime = time.time() 

# DECLARING HERE FOR TESTING 
curr_sensor_measurements_for_all_time_periods = []

# Loop through the different sensor ( numbers )
for sensor_id_ in unique_sensor_ids[:1]:
    print("-- working on sensor id "+str( sensor_id_ )+" |  "+str( curr_sensor_id_i )+"/"+str( unique_sensor_ids.shape[0] )  )
    curr_sensor_id_i = curr_sensor_id_i + 1
    
    # fetch the measurements for this sensor id
    curr_sensor_id_measurements = relev_time_period__with_epoch_times[ relev_time_period['sensor_id'] == sensor_id_  ]

    # sort sensor data by time 
    curr_sensor_id_measurements = curr_sensor_id_measurements.sort_values( by=['timestamp'])
    
    # make separate arrays for different kinds of values
    curr_sensor__timestamp_values__only = curr_sensor_id_measurements['timestamp']
    curr_sensor__p1_values__only = curr_sensor_id_measurements['p1']
    curr_sensor__p2_values__only = curr_sensor_id_measurements['p2']    
    ### print( curr_sensor__timestamp_values__only )
    ### print( curr_sensor__timestamp_values__only[0] )  
    
    # make an array with enough slots for all time periods
    # SAVE DATA HERE
    curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods__as_epoch_times.shape[0] )
    
    ### print( curr_sensor_measurements_for_all_time_periods )
    
    #
    # LOOP 
    # - go through the sensor (time) values 
    # -- and later loop through the available 
    # -- time slots, and see if the currnet time value
    # -- fits in the given slot.
    # -- if it does, then 'save' it into the array
    # -- of relevant measurements, in the relevant slot
    
    for curr_sensor_measurement_i in range( curr_sensor__timestamp_values__only.shape[0] ):
        
        ### print( "\n -- -- working on sensor measurment #"+str( curr_sensor_measurement_i ) )
        ### print( " -- -- which is at time "+str( curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] ))

        #
        # LOOP
        # - through available time slots
        # - checking if the current measurement time 
        # - is within the relevant time slot(s)

        # set a variable to keep track which time slot
        # we checked last.
        # thus we don't need to check earlier values
        index_of_last_found_time_slot = 0

        # looop then… 
        for curr_out_time_slot_i in range( index_of_last_found_time_slot, data_sampling_windows__time_periods__as_epoch_times.shape[0]-1 ):
        
            ### print("\n -- -- -- checking if measurement at time "+str( curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] ) )
            ### print(" -- -- -- if in this time slot, of index #"+str( curr_sensor_measurement_i ) )
            ### print(" -- -- -- btw times ("+str(curr_out_time_slot_i)+") "+str( data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i ] ) )
            ### print(" -- -- -- and "+str( data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i + 1 ] ) )

            if curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] > data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i ] and curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] < data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i + 1]:
                
                ### print("\n YAY! - found currnet measurement time ( i = "+str(curr_sensor_measurement_i)+", between the slots "+str(curr_out_time_slot_i)+"-"+str(curr_out_time_slot_i+1) )
                
                curr_sensor_measurements_for_all_time_periods[ curr_out_time_slot_i ] = curr_sensor__p1_values__only.iat[ curr_sensor_measurement_i ]
                
                
                
    
"""
    # make an array with enough slots for all time periods
    curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods__as_epoch_times.shape[0] )
    ## print(" --- curr_sensor_measurements_for_all_time_periods.shape = "+str( curr_sensor_measurements_for_all_time_periods.shape ))
    ## print( curr_sensor_measurements_for_all_time_periods )
    
    # loop through all values in the data 
    for curr_sensor_measurements_row_i in range( curr_sensor_id_measurements__only_timestamps.shape[0] ):
    ### for curr_sensor_measurements_row_i in range( 20 ):
    
        print("\n -- -- working on measurement #"+str( curr_sensor_measurements_row_i )+" (pm2.5/10  : "+str(curr_sensor_id_measurements__only_p1_vals.iloc[ curr_sensor_measurements_row_i]) ) 
        # print("\t\t /"+str(curr_sensor_id_measurements__only_p2_vals[ curr_sensor_measurements_row_i]) )
        # print( "\t\t ) - with timestamp "+str( curr_sensor_id_measurements__only_timestamps.iloc[ curr_sensor_measurements_row_i ] ) )
        
        # loop through the available timestamps, and see whether the current time stamp
        # is within these. 
        # - if it is, then insert it at the appropiate current index 
        # in the out array
        
        # optimisation variable to remember where the last 
        # value was found, in time
        # - the idea is that we start the next search in time indicies, 
        #   only after the last found position, so we can skip checking the previous positions 
        last_found_time_index = 0 
        
        # note the optimisation above and below 
        for all_relev_timestamps_array__current_index in range( last_found_time_index, data_sampling_windows__time_periods__as_epoch_times.shape[0]-1 ):
        ### unoptimised edition : 
        ### for all_relev_timestamps_array__current_index in range( data_sampling_windows__time_periods__as_epoch_times.shape[0]-1 ):
        ### for all_relev_timestamps_array__current_index in range( 100 ):
        
            ### print("-- -- -- looping through available timestamps - loooking at index #"+str( all_relev_timestamps_array__current_index )+" : timestamp "+str( data_sampling_windows__time_periods__as_epoch_times[ all_relev_timestamps_array__current_index ] ))
        
        #
            if curr_sensor_id_measurements__only_timestamps[ curr_sensor_measurements_row_i ] > data_sampling_windows__time_periods__as_epoch_times[ all_relev_timestamps_array__current_index ] and curr_sensor_id_measurements__only_timestamps[ curr_sensor_measurements_row_i ] < data_sampling_windows__time_periods__as_epoch_times[ all_relev_timestamps_array__current_index +1 ] :
                
                print( " -- -- -- -- YAY! the current timestamp ( "+str(  curr_sensor_id_measurements__only_timestamps[ curr_sensor_measurements_row_i ]  ) )
                print( "\t\t\t\t is within the specified time ranges, at index "+str( all_relev_timestamps_array__current_index ) )
                print( "\t\t\t\t amongst the possible time periods data. ie. btw "+str( data_sampling_windows__time_periods__as_epoch_times[ all_relev_timestamps_array__current_index ]) )
                print( "\t\t\t\t and "+str( data_sampling_windows__time_periods__as_epoch_times[ all_relev_timestamps_array__current_index +1 ] ) )
        
                # assign the current PM value as appropriate 
                curr_sensor_measurements_for_all_time_periods[ all_relev_timestamps_array__current_index ] = curr_sensor_id_measurements__only_p1_vals.iloc[ curr_sensor_measurements_row_i ]
                
                # set the variable suggesting which position 
                # the timestamp was found in, 
                # and which position the next search should start from 
                last_found_time_index = all_relev_timestamps_array__current_index
                
                #
                # no need to continue finding possible time slots - just break
                break
                
    # END OF DIFFERENT SENSOR LOOPING
    # print the resulting values slotted array - ie array with slots 
    # for values, formatted according to time slots
    ## print( " <<< resulting periodic values array : ")
    ## print( curr_sensor_measurements_for_all_time_periods )
    out_array_w_generated_periodic_data_arrays.append( curr_sensor_measurements_for_all_time_periods )
    
"""
                
# ende
print( "- done after "+str( time.time() - starttime )+" seconds " )

-- working on sensor id 7273 |  0/200
- done after 2.2531869411468506 seconds

In [45]:
curr_sensor_measurements_for_all_time_periods

array([  3.43,   3.78,   0.  ,   3.45,   2.1 ,   1.45,   2.02,   0.  ,
         2.  ,   2.45,   2.58,   3.67,   2.3 ,   2.8 ,   2.74,   3.  ,
         0.  ,   2.46,   3.2 ,   3.28,   2.14,   0.  ,   2.25,   2.5 ,
         2.04,   2.11,   0.  ,   2.22,   2.16,   3.43,   3.92,   0.  ,
         3.67,   3.43,   3.78,   3.47,   0.  ,   3.95,   3.7 ,   4.3 ,
         3.68,   3.35,   3.54,   2.82,   2.78,   3.18,   3.8 ,   3.7 ,
         3.17,   2.48,   0.  ,  24.2 ,  28.6 ,  36.15,  56.58,   0.  ,
         9.7 ,  11.85,   7.  ,   6.12,   0.  ,   6.96,   3.76,   7.76,
        28.13,  13.18,   4.42,   5.92,   6.25,   0.  , 455.  , 569.68,
       128.9 ,  16.56,   0.  ,  11.36,  13.7 ,  23.78,  22.02,  14.3 ,
         8.06,   2.62,   3.1 ,   4.08,   2.15,   2.06,   3.2 ,   3.8 ,
         0.  ,   3.6 ,   3.65,   2.85,   2.37,   0.  ,   0.  , 157.77,
       107.95,  77.23,  76.95,  33.72,  42.24,  18.16,   9.18,   0.  ,
        13.89,  38.6 ,  96.7 ,  71.92,   0.  ,  31.08,   8.12,   6.35,
         3.88,   0.  ,   3.04,   2.77,  39.67,  41.94,  32.36,  26.32,
        28.72,  26.3 ,   0.  ,   7.3 ,   7.02,   7.98,  11.05,   0.  ,
         2.4 ,   2.4 ,   2.14,   1.8 ,   1.6 ,   1.34,   1.56,   1.85,
         1.58,   1.8 ,   1.65,   1.84,   1.97,   2.17,   1.95,   2.77,
         2.18,   1.76,   2.4 ,   0.  ,   2.94,   3.84,   3.67,   2.5 ,
         0.  ,   2.48,   2.35,   2.  ,   2.67,   3.15,   3.8 ,   3.04,
         2.32,   0.  ,   3.85,   2.98,   3.94,   4.05,   0.  ,   4.31,
         3.78,   4.03,   4.98,   0.  ,   6.04,   6.8 ,   8.86,   7.83,
         5.43,   6.3 ,   6.98,   6.38,   0.  ,   7.65,   7.12,   7.22,
         7.74,   0.  ,   6.02,   8.55,  10.76,  11.03,   0.  ,   7.88,
         8.02,   8.9 ,   9.88,   0.  ,   9.38,   9.02,   9.75,  10.4 ,
        12.32,  13.94,  11.4 ,  10.14,  11.58,  11.54,  10.88,  10.07,
         9.32,   0.  ,   9.9 ,  10.65,   9.1 ,   9.35,   0.  ,   8.02,
         6.4 ,   9.09,  11.5 ,   0.  ,   8.09,  11.17,  11.88,  10.25,
         0.  ,  10.1 ,   8.38,   6.84,   9.78,   0.  ,   8.76,  12.02,
        12.25,   9.96,   0.  ,   9.88,  10.75,   9.92,   9.48,   0.  ,
         8.4 ,   8.64,  10.35,  11.46,   0.  ,   8.59,   6.48,   8.18,
         9.35,   7.47,   6.62,  10.  ,  10.68,   0.  ,   8.78,   9.65,
         7.68,   6.22,   0.  ,   8.6 ,   9.26,   9.05,   6.98,   7.38,
         7.42,   9.91,   8.88,   0.  ,   9.44,   6.85,   8.34,  11.32,
         0.  ,  11.65,   8.24,   9.05,   8.91,   0.  ,  10.88,   9.83,
         9.22,   9.35,  10.  ,   9.8 ,   7.52,   9.  ,   0.  ,   9.25,
         8.23,   9.28,   9.  ,   0.  ,   9.1 ,   9.05,   9.62,  12.72,
        11.82,  10.1 ,  10.05,  12.78,   0.  ,   8.4 ,   7.97,   7.1 ,
         7.43,   0.  ,   9.98,  11.08,  13.4 ,  12.86,   0.  ,   9.37,
         9.9 ,   9.5 ,   9.27,   7.98,   7.74,   8.04,   7.74,   0.  ,
        10.24,   7.94,   8.35,   9.32,   0.  ,   8.  ,   8.65,   9.68,
         7.1 ,   6.72,   6.42,   5.92,   6.44,   0.  ,   8.08,   6.55,
         6.74,   7.36,   0.  ,   7.35,   7.27,   7.02,   6.22,   6.56,
         5.78,   4.42,   6.  ,   6.9 ,   5.78,   5.12,   4.66,   6.53,
         0.  ,   7.78,   9.12,   7.43,   5.15,   0.  ,   6.32,   6.92,
         6.26,   4.98,   0.  ,   5.01,   4.51,   4.68,   5.98,   7.12,
         6.  ,   5.86,   5.9 ,   0.  ,   6.15,   3.7 ,   3.44,   4.49,
         0.  ,   4.19,   3.38,   3.95,   3.9 ,   4.72,   5.4 ,   3.5 ,
         4.  ,   4.66,   5.1 ,   8.25,   8.38,   0.  ,   5.86,   0.  ,
         3.05,   4.05,   4.53,   3.58,   0.  ,   5.66,   5.07,   3.55,
         3.8 ,   6.12,   3.5 ,   3.08,   5.04,   4.6 ,   4.31,   5.24,
         4.04,   3.42,   0.  ,   3.53,   3.82,   3.18,   2.95,   0.  ,
         4.23,   4.03,   3.78,   3.96,   3.9 ,   6.24,   5.76,   3.42,
         0.  ,   4.07,   3.2 ,   3.53,   3.56,   0.  ,   3.04,   3.1 ,
         4.13,   3.66,   0.  ,   4.14,   3.84,   4.3 ,   4.88,   5.62,
         6.62,   5.66,   5.92,   6.26,   4.65,   4.52,   4.4 ,   4.2 ,
         0.  ,   3.06,   3.88,   3.87,   3.85,   0.  ,   3.63,   3.43,
         3.32,   4.  ,   0.  ,   3.32,   4.37,   4.05,   4.3 ,   3.5 ,
         2.42,   2.6 ,   4.6 ,   0.  ,   3.6 ,   3.46,   2.76,   2.88,
         0.  ,   2.33,   2.35,   3.08,   3.62,   3.46,   3.01,   2.54,
         0.  ])

In [46]:
curr_sensor_measurements_for_all_time_periods

array([  3.43,   3.78,   0.  ,   3.45,   2.1 ,   1.45,   2.02,   0.  ,
         2.  ,   2.45,   2.58,   3.67,   2.3 ,   2.8 ,   2.74,   3.  ,
         0.  ,   2.46,   3.2 ,   3.28,   2.14,   0.  ,   2.25,   2.5 ,
         2.04,   2.11,   0.  ,   2.22,   2.16,   3.43,   3.92,   0.  ,
         3.67,   3.43,   3.78,   3.47,   0.  ,   3.95,   3.7 ,   4.3 ,
         3.68,   3.35,   3.54,   2.82,   2.78,   3.18,   3.8 ,   3.7 ,
         3.17,   2.48,   0.  ,  24.2 ,  28.6 ,  36.15,  56.58,   0.  ,
         9.7 ,  11.85,   7.  ,   6.12,   0.  ,   6.96,   3.76,   7.76,
        28.13,  13.18,   4.42,   5.92,   6.25,   0.  , 455.  , 569.68,
       128.9 ,  16.56,   0.  ,  11.36,  13.7 ,  23.78,  22.02,  14.3 ,
         8.06,   2.62,   3.1 ,   4.08,   2.15,   2.06,   3.2 ,   3.8 ,
         0.  ,   3.6 ,   3.65,   2.85,   2.37,   0.  ,   0.  , 157.77,
       107.95,  77.23,  76.95,  33.72,  42.24,  18.16,   9.18,   0.  ,
        13.89,  38.6 ,  96.7 ,  71.92,   0.  ,  31.08,   8.12,   6.35,
         3.88,   0.  ,   3.04,   2.77,  39.67,  41.94,  32.36,  26.32,
        28.72,  26.3 ,   0.  ,   7.3 ,   7.02,   7.98,  11.05,   0.  ,
         2.4 ,   2.4 ,   2.14,   1.8 ,   1.6 ,   1.34,   1.56,   1.85,
         1.58,   1.8 ,   1.65,   1.84,   1.97,   2.17,   1.95,   2.77,
         2.18,   1.76,   2.4 ,   0.  ,   2.94,   3.84,   3.67,   2.5 ,
         0.  ,   2.48,   2.35,   2.  ,   2.67,   3.15,   3.8 ,   3.04,
         2.32,   0.  ,   3.85,   2.98,   3.94,   4.05,   0.  ,   4.31,
         3.78,   4.03,   4.98,   0.  ,   6.04,   6.8 ,   8.86,   7.83,
         5.43,   6.3 ,   6.98,   6.38,   0.  ,   7.65,   7.12,   7.22,
         7.74,   0.  ,   6.02,   8.55,  10.76,  11.03,   0.  ,   7.88,
         8.02,   8.9 ,   9.88,   0.  ,   9.38,   9.02,   9.75,  10.4 ,
        12.32,  13.94,  11.4 ,  10.14,  11.58,  11.54,  10.88,  10.07,
         9.32,   0.  ,   9.9 ,  10.65,   9.1 ,   9.35,   0.  ,   8.02,
         6.4 ,   9.09,  11.5 ,   0.  ,   8.09,  11.17,  11.88,  10.25,
         0.  ,  10.1 ,   8.38,   6.84,   9.78,   0.  ,   8.76,  12.02,
        12.25,   9.96,   0.  ,   9.88,  10.75,   9.92,   9.48,   0.  ,
         8.4 ,   8.64,  10.35,  11.46,   0.  ,   8.59,   6.48,   8.18,
         9.35,   7.47,   6.62,  10.  ,  10.68,   0.  ,   8.78,   9.65,
         7.68,   6.22,   0.  ,   8.6 ,   9.26,   9.05,   6.98,   7.38,
         7.42,   9.91,   8.88,   0.  ,   9.44,   6.85,   8.34,  11.32,
         0.  ,  11.65,   8.24,   9.05,   8.91,   0.  ,  10.88,   9.83,
         9.22,   9.35,  10.  ,   9.8 ,   7.52,   9.  ,   0.  ,   9.25,
         8.23,   9.28,   9.  ,   0.  ,   9.1 ,   9.05,   9.62,  12.72,
        11.82,  10.1 ,  10.05,  12.78,   0.  ,   8.4 ,   7.97,   7.1 ,
         7.43,   0.  ,   9.98,  11.08,  13.4 ,  12.86,   0.  ,   9.37,
         9.9 ,   9.5 ,   9.27,   7.98,   7.74,   8.04,   7.74,   0.  ,
        10.24,   7.94,   8.35,   9.32,   0.  ,   8.  ,   8.65,   9.68,
         7.1 ,   6.72,   6.42,   5.92,   6.44,   0.  ,   8.08,   6.55,
         6.74,   7.36,   0.  ,   7.35,   7.27,   7.02,   6.22,   6.56,
         5.78,   4.42,   6.  ,   6.9 ,   5.78,   5.12,   4.66,   6.53,
         0.  ,   7.78,   9.12,   7.43,   5.15,   0.  ,   6.32,   6.92,
         6.26,   4.98,   0.  ,   5.01,   4.51,   4.68,   5.98,   7.12,
         6.  ,   5.86,   5.9 ,   0.  ,   6.15,   3.7 ,   3.44,   4.49,
         0.  ,   4.19,   3.38,   3.95,   3.9 ,   4.72,   5.4 ,   3.5 ,
         4.  ,   4.66,   5.1 ,   8.25,   8.38,   0.  ,   5.86,   0.  ,
         3.05,   4.05,   4.53,   3.58,   0.  ,   5.66,   5.07,   3.55,
         3.8 ,   6.12,   3.5 ,   3.08,   5.04,   4.6 ,   4.31,   5.24,
         4.04,   3.42,   0.  ,   3.53,   3.82,   3.18,   2.95,   0.  ,
         4.23,   4.03,   3.78,   3.96,   3.9 ,   6.24,   5.76,   3.42,
         0.  ,   4.07,   3.2 ,   3.53,   3.56,   0.  ,   3.04,   3.1 ,
         4.13,   3.66,   0.  ,   4.14,   3.84,   4.3 ,   4.88,   5.62,
         6.62,   5.66,   5.92,   6.26,   4.65,   4.52,   4.4 ,   4.2 ,
         0.  ,   3.06,   3.88,   3.87,   3.85,   0.  ,   3.63,   3.43,
         3.32,   4.  ,   0.  ,   3.32,   4.37,   4.05,   4.3 ,   3.5 ,
         2.42,   2.6 ,   4.6 ,   0.  ,   3.6 ,   3.46,   2.76,   2.88,
         0.  ,   2.33,   2.35,   3.08,   3.62,   3.46,   3.01,   2.54,
         0.  ])

In [47]:
len( out_array_w_generated_periodic_data_arrays )

0

In [48]:
out_array_w_generated_periodic_data_arrays

[]

## trying a remake with numpy

In [49]:
# temporary storage location for out arrays 
out_array_w_generated_periodic_data_arrays = []

# prepare the out array, beforhand
## curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods.shape[0] )

curr_sensor_id_i = 0

starttime = time.time() 

# DECLARING HERE FOR TESTING 
curr_sensor_measurements_for_all_time_periods = []

# Loop through the different sensor ( numbers )
for sensor_id_ in unique_sensor_ids[:10]:
    print("-- working on sensor id "+str( sensor_id_ )+" |  "+str( curr_sensor_id_i )+"/"+str( unique_sensor_ids.shape[0] )  )
    curr_sensor_id_i = curr_sensor_id_i + 1
    
    # fetch the measurements for this sensor id
    curr_sensor_id_measurements = relev_time_period__with_epoch_times[ relev_time_period['sensor_id'] == sensor_id_  ]

    # sort sensor data by time 
    curr_sensor_id_measurements = curr_sensor_id_measurements.sort_values( by=['timestamp'])
    
    # make separate arrays for different kinds of values
    curr_sensor__timestamp_values__only = np.array( curr_sensor_id_measurements['timestamp'] )
    curr_sensor__p1_values__only = np.array(  curr_sensor_id_measurements['p1'] )
    curr_sensor__p2_values__only = np.array(  curr_sensor_id_measurements['p2'] ) 
    ### print( curr_sensor__timestamp_values__only )
    ### print( curr_sensor__timestamp_values__only[0] )  
    
    # make an array with enough slots for all time periods
    # SAVE DATA HERE
    curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods__as_epoch_times.shape[0] )
    
    ### print( curr_sensor_measurements_for_all_time_periods )
    
    #
    # LOOP 
    # - go through the sensor (time) values 
    # -- and later loop through the available 
    # -- time slots, and see if the currnet time value
    # -- fits in the given slot.
    # -- if it does, then 'save' it into the array
    # -- of relevant measurements, in the relevant slot
    
    for curr_sensor_measurement_i in range( curr_sensor__timestamp_values__only.shape[0] ):
        
        ### print( "\n -- -- working on sensor measurment #"+str( curr_sensor_measurement_i ) )
        ### print( " -- -- which is at time "+str( curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] ))

        #
        # LOOP
        # - through available time slots
        # - checking if the current measurement time 
        # - is within the relevant time slot(s)

        # set a variable to keep track which time slot
        # we checked last.
        # thus we don't need to check earlier values
        index_of_last_found_time_slot = 0

        # looop then… 
        for curr_out_time_slot_i in range( index_of_last_found_time_slot, data_sampling_windows__time_periods__as_epoch_times.shape[0]-1 ):
        
            ### print("\n -- -- -- checking if measurement at time "+str( curr_sensor__timestamp_values__only.iat[curr_sensor_measurement_i] ) )
            ### print(" -- -- -- if in this time slot, of index #"+str( curr_sensor_measurement_i ) )
            ### print(" -- -- -- btw times ("+str(curr_out_time_slot_i)+") "+str( data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i ] ) )
            ### print(" -- -- -- and "+str( data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i + 1 ] ) )

            if curr_sensor__timestamp_values__only[curr_sensor_measurement_i] > data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i ] and curr_sensor__timestamp_values__only[curr_sensor_measurement_i] < data_sampling_windows__time_periods__as_epoch_times[ curr_out_time_slot_i + 1]:
                
                ### print("\n YAY! - found currnet measurement time ( i = "+str(curr_sensor_measurement_i)+", between the slots "+str(curr_out_time_slot_i)+"-"+str(curr_out_time_slot_i+1) )
                
                curr_sensor_measurements_for_all_time_periods[ curr_out_time_slot_i ] = curr_sensor__p1_values__only[ curr_sensor_measurement_i ]
                
                
# ende
print( "- done after "+str( time.time() - starttime )+" seconds " )

-- working on sensor id 7273 |  0/200
-- working on sensor id 7275 |  1/200
-- working on sensor id 7277 |  2/200
-- working on sensor id 7406 |  3/200
-- working on sensor id 7428 |  4/200
-- working on sensor id 7469 |  5/200
-- working on sensor id 7597 |  6/200
-- working on sensor id 8683 |  7/200
-- working on sensor id 9411 |  8/200
-- working on sensor id 9436 |  9/200
- done after 3.115806818008423 seconds

In [50]:
curr_sensor_measurements_for_all_time_periods

array([ 2.12,  3.04,  0.  ,  2.06,  3.  ,  3.34,  0.  ,  3.48,  3.16,
        3.25,  3.14,  1.92,  2.32,  2.42,  2.32,  0.  ,  3.38,  3.1 ,
        3.02,  2.22,  2.33,  1.8 ,  2.34,  2.99,  0.  ,  2.4 ,  1.74,
        1.82,  0.  ,  1.45,  1.94,  3.16,  3.8 ,  1.3 ,  1.98,  3.25,
        3.72,  0.  ,  3.25,  2.62,  2.62,  0.  ,  3.1 ,  2.8 ,  2.8 ,
        2.06,  1.46,  2.22,  2.38,  1.92,  0.  ,  3.26,  2.84,  2.12,
        2.18,  5.03,  5.65,  2.54,  2.08,  0.  ,  1.62,  1.7 ,  1.78,
        0.  ,  2.82,  1.84,  1.64,  2.24,  2.55,  2.53,  4.48,  4.07,
        0.  ,  2.58,  2.2 ,  1.82,  2.3 ,  2.45,  3.35,  2.58,  1.56,
        0.  ,  1.75,  2.86,  0.  ,  3.7 ,  0.  ,  3.76,  3.98,  3.5 ,
        0.  ,  2.68,  2.65,  2.76,  3.12,  0.  ,  2.56,  3.22,  3.06,
        2.37,  4.05,  2.54,  2.88,  2.48,  0.  ,  3.55,  3.45,  5.25,
        0.  ,  5.23,  0.  ,  6.17,  5.5 ,  0.  ,  7.45,  6.62,  4.58,
        3.22,  3.86,  3.57,  2.63,  2.46,  0.  ,  2.42,  2.53,  2.48,
        2.78,  2.75,  3.15,  3.62,  3.8 ,  2.44,  3.5 ,  4.72,  5.05,
        0.  ,  2.65,  3.47,  4.85,  4.83,  4.77,  4.46,  3.84,  3.75,
        0.  ,  4.08,  3.68,  3.05,  0.  ,  4.25,  4.3 ,  4.07,  4.99,
        4.51,  3.65,  3.84,  5.46,  0.  ,  4.24,  5.02,  4.28,  3.88,
        5.58,  4.07,  4.1 ,  5.4 ,  0.  ,  9.4 ,  6.42,  5.72,  0.  ,
        6.75,  5.55,  5.32,  6.52,  8.98,  7.32,  8.22,  8.07,  0.  ,
        5.22,  7.22,  7.37,  7.1 ,  8.43,  9.07,  9.27,  8.72,  0.  ,
        5.95,  7.32,  7.7 ,  0.  ,  7.76,  9.1 ,  8.97,  6.78,  7.22,
        7.15,  6.54,  8.67,  0.  , 15.6 , 14.25,  8.38,  8.65,  6.64,
        9.09,  9.  ,  7.06,  0.  ,  8.07,  6.63,  0.  ,  6.77,  0.  ,
        5.02,  5.12,  5.07,  0.  , 17.92, 19.87, 18.35, 20.46, 22.1 ,
       29.75, 35.3 , 39.57,  0.  , 35.62, 32.05, 27.4 , 24.5 , 27.57,
       26.32, 26.24, 28.78,  0.  , 31.38, 29.84, 30.85,  0.  , 22.94,
       19.72, 19.42, 17.37, 13.84, 14.14, 12.84, 11.58,  0.  , 10.43,
       12.28, 11.68,  9.86,  9.7 ,  9.8 , 10.04,  9.57,  0.  ,  8.12,
        8.16,  8.93,  0.  ,  7.25,  6.75,  7.7 ,  8.09,  7.54,  7.92,
        7.36,  8.12,  0.  ,  7.94,  5.68,  6.22,  7.6 ,  7.64,  7.28,
        7.28,  7.72,  0.  ,  7.82,  8.15, 10.45,  0.  ,  5.15,  6.52,
        8.4 ,  6.28,  6.85,  6.32,  7.  ,  6.18,  0.  ,  9.85,  7.82,
        6.7 ,  5.7 ,  8.13, 10.76,  8.  ,  4.77,  6.04,  7.57, 10.  ,
        7.93,  0.  ,  8.56,  9.38,  8.05,  7.22, 10.67,  0.  ,  6.93,
        7.46,  7.52,  0.  , 11.2 , 10.57,  8.4 ,  7.45,  8.84,  7.48,
        7.5 ,  8.86,  0.  , 10.14, 10.15,  7.98,  0.  ,  8.06,  7.93,
        9.41, 10.52,  7.32,  6.52,  6.24,  5.37,  0.  ,  8.76, 12.57,
       12.04,  8.14,  6.4 ,  5.83,  6.9 ,  6.42,  0.  ,  7.96,  7.9 ,
        7.44,  0.  ,  7.72,  5.34,  6.22,  6.8 ,  4.36,  6.28,  6.92,
        6.55,  0.  ,  4.93,  6.86,  7.95,  6.34,  5.22,  4.31,  3.66,
        5.18,  6.48,  6.12,  3.58,  2.96,  0.  ,  5.55,  5.42,  5.32,
        4.58,  3.66,  3.62,  5.85,  4.66,  2.68,  0.  ,  3.76,  2.84,
        3.22,  0.  ,  3.58,  3.75,  3.04,  1.78,  3.57,  2.88,  3.86,
        4.46,  0.  ,  3.04,  3.2 ,  3.95,  4.88,  3.6 ,  2.84,  3.87,
        4.47,  0.  ,  3.04,  4.07,  4.18,  0.  ,  3.96,  3.05,  4.05,
        4.05,  4.78,  5.75,  6.06,  6.6 ,  0.  ,  4.25,  4.22,  3.4 ,
        3.25,  4.1 ,  3.7 ,  2.77,  2.05,  3.49,  3.78,  5.38,  3.75,
        0.  ,  3.67,  2.65,  2.86,  2.76,  2.04,  2.34,  3.28,  4.  ,
        0.  ,  2.54,  2.1 ,  1.9 ,  2.15,  4.26,  4.33,  4.81,  3.08,
        0.  ,  2.45,  1.82,  2.01,  0.  ,  2.22,  2.32,  3.24,  4.5 ,
        3.54,  4.65,  4.28,  2.66,  0.  ,  4.38,  4.6 ,  3.58,  2.05,
        1.88,  2.08,  3.32,  3.13,  0.  ,  2.44,  2.58,  1.55,  0.  ,
        3.12,  2.38,  3.54,  0.  ])

## Test : make a new row, with custom data, in the sensor data array

### This would, amongst other things, be a help in changing the time span of input timeseries data

In [51]:
single_data_line = in_data[:1]
single_data_line

   sensor_id sensor_namee     lat     lon           timestamp    p1    p2
0       7273       SDS011  60.002  17.846 2018-12-31 11:57:22  3.43  1.56

In [52]:
single_data_line.columns

Index(['sensor_id', 'sensor_namee', 'lat', 'lon', 'timestamp', 'p1', 'p2'], dtype='object')

#### let's try changing some data…

In [53]:
single_data_line['sensor_id'] = 1

/Applications/z_extras/code/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
single_data_line.loc[0, 'sensor_id']

1

In [55]:
single_data_line.loc[0, 'sensor_id'] = 2

/Applications/z_extras/code/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [56]:
single_data_line

   sensor_id sensor_namee     lat     lon           timestamp    p1    p2
0          2       SDS011  60.002  17.846 2018-12-31 11:57:22  3.43  1.56

In [57]:
single_data_line = single_data_line.set_index( 'timestamp' )

In [58]:
single_data_line.index

DatetimeIndex(['2018-12-31 11:57:22'], dtype='datetime64[ns]', name='timestamp', freq=None)

In [59]:
single_data_line.iloc[0]

sensor_id            2
sensor_namee    SDS011
lat             60.002
lon             17.846
p1                3.43
p2                1.56
Name: 2018-12-31 11:57:22, dtype: object

## Doing own time-series construction

### : extending time-series arrays by cutting-pasting time arrays.

In [60]:
test_time_series = in_data
test_time_series.shape

(127109, 7)

In [61]:
data_from_start = test_time_series[:10]
data_from_start

   sensor_id sensor_namee     lat     lon           timestamp      p1     p2
0          2       SDS011  60.002  17.846 2018-12-31 11:57:22    3.43   1.56
1       7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2       7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
3       7406       SDS011  56.964  24.128 2018-12-31 11:56:41   11.05   6.62
4       7428       SDS011  59.868  17.624 2018-12-31 11:57:42    1.78   1.02
5       7469       SDS011  56.944  24.142 2018-12-31 11:57:52    8.40   5.54
6       7597       SDS011  59.320  18.064 2018-12-31 11:58:51    3.68   2.00
7       8683       SDS011  59.744  18.206 2018-12-31 11:58:28    3.01   2.80
8       9411       SDS011  59.266  15.230 2018-12-31 11:57:18    3.44   2.18
9       9436       SDS011  59.334  18.034 2018-12-31 11:57:22    2.12   1.90

In [62]:
data_from_middle = test_time_series[60000:60010]
data_from_middle.head()

       sensor_id sensor_namee     lat     lon           timestamp    p1    p2
60000      12679       SDS011  59.384  17.874 2018-12-31 16:52:43  0.40  0.40
60001      12687       SDS011  59.388  17.798 2018-12-31 16:52:21  2.83  1.90
60002      12691       SDS011  57.636  18.304 2018-12-31 16:51:17  2.40  1.70
60003      12693       SDS011  58.190  12.720 2018-12-31 16:51:03  6.42  2.62
60004      14017       SDS011  59.376  18.010 2018-12-31 16:51:10  4.07  1.94

In [63]:
data_from_end = test_time_series[-10:]
data_from_end

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

### let's try make an array, where we extend the time  by adding earlier and later times

In [64]:
middle_array_with_earlier_time = data_from_start.append( data_from_middle )

In [65]:
middle_array_with_earlier_time

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,2,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
60000,12679,SDS011,59.384,17.874,2018-12-31 16:52:43,0.40,0.40
60001,12687,SDS011,59.388,17.798,2018-12-31 16:52:21,2.83,1.90
60002,12691,SDS011,57.636,18.304,2018-12-31 16:51:17,2.40,1.70
60003,12693,SDS011,58.190,12.720,2018-12-31 16:51:03,6.42,2.62
60004,14017,SDS011,59.376,18.010,2018-12-31 16:51:10,4.07,1.94
60005,14133,SDS011,59.364,18.018,2018-12-31 16:50:49,4.14,2.38
60006,14209,SDS011,56.070,12.698,2018-12-31 16:51:35,28.52,13.48
60007,14264,SDS011,57.654,11.880,2018-12-31 16:51:51,26.92,8.46
60008,14276,SDS011,57.346,12.150,2018-12-31 16:50:46,72.48,20.16
60009,14278,SDS011,59.374,18.010,2018-12-31 16:51:31,4.64,2.30

In [66]:
middle_array_with_earlier_and_later_added_times = middle_array_with_earlier_time.append( data_from_end )
middle_array_with_earlier_and_later_added_times

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,2,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
60000,12679,SDS011,59.384,17.874,2018-12-31 16:52:43,0.40,0.40
60001,12687,SDS011,59.388,17.798,2018-12-31 16:52:21,2.83,1.90
60002,12691,SDS011,57.636,18.304,2018-12-31 16:51:17,2.40,1.70
60003,12693,SDS011,58.190,12.720,2018-12-31 16:51:03,6.42,2.62
60004,14017,SDS011,59.376,18.010,2018-12-31 16:51:10,4.07,1.94
60005,14133,SDS011,59.364,18.018,2018-12-31 16:50:49,4.14,2.38
60006,14209,SDS011,56.070,12.698,2018-12-31 16:51:35,28.52,13.48
60007,14264,SDS011,57.654,11.880,2018-12-31 16:51:51,26.92,8.46
60008,14276,SDS011,57.346,12.150,2018-12-31 16:50:46,72.48,20.16
60009,14278,SDS011,59.374,18.010,2018-12-31 16:51:31,4.64,2.30
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [67]:
# now resample the data, such that the time values in between are filled in

In [68]:
middle_array_with_earlier_and_later_added_times['timestamp'] = pd.to_datetime( middle_array_with_earlier_and_later_added_times['timestamp'] )

In [69]:
middle_array_with_earlier_and_later_added_times.set_index('timestamp')

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:57:22          2       SDS011  60.002  17.846    3.43   1.56
2018-12-31 11:58:44       7275       SDS011  57.720  11.888  482.77  33.82
2018-12-31 11:58:47       7277       SDS011  59.266  15.230    5.48   2.47
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:57:42       7428       SDS011  59.868  17.624    1.78   1.02
2018-12-31 11:57:52       7469       SDS011  56.944  24.142    8.40   5.54
2018-12-31 11:58:51       7597       SDS011  59.320  18.064    3.68   2.00
2018-12-31 11:58:28       8683       SDS011  59.744  18.206    3.01   2.80
2018-12-31 11:57:18       9411       SDS011  59.266  15.230    3.44   2.18
2018-12-31 11:57:22       9436       SDS011  59.334  18.034    2.12   1.90
2018-12-31 16:52:43      12679       SDS011  59.384  17.874    0.40   0.40
2018-12-31 16:52:21      12687       SDS011  59.388  17.798    2.83   1.90
2018-12-31 16:51:17      12691       SDS011  57.636  18.304    2.40   1.70
2018-12-31 16:51:03      12693       SDS011  58.190  12.720    6.42   2.62
2018-12-31 16:51:10      14017       SDS011  59.376  18.010    4.07   1.94
2018-12-31 16:50:49      14133       SDS011  59.364  18.018    4.14   2.38
2018-12-31 16:51:35      14209       SDS011  56.070  12.698   28.52  13.48
2018-12-31 16:51:51      14264       SDS011  57.654  11.880   26.92   8.46
2018-12-31 16:50:46      14276       SDS011  57.346  12.150   72.48  20.16
2018-12-31 16:51:31      14278       SDS011  59.374  18.010    4.64   2.30
2019-01-01 11:59:41      13020       SDS011  57.722  11.948   20.64   3.67
2019-01-01 11:59:46      16147       SDS011  59.364  18.018    3.28   1.80
2019-01-01 11:57:19      16153       SDS011  55.648  13.208   20.00   3.90
2019-01-01 11:59:59      16296       SDS011  56.144  13.394   23.86   7.45
2019-01-01 11:56:55      16533       SDS011  55.722  13.202   18.05   4.33
2019-01-01 11:58:57      16723       SDS011  57.736  11.894   16.47   3.40
2019-01-01 11:59:36      16815       SDS011  59.462  18.040    2.67   1.97
2019-01-01 11:59:41      17235       SDS011  59.272  17.780    4.69   1.82
2019-01-01 11:57:12      10588       SDS011  55.676  13.346   14.08   3.68
2019-01-01 11:58:42      10647       SDS011  55.608  13.036   23.42   4.75

In [70]:
middle_array_with_earlier_and_later_added_times

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,2,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
60000,12679,SDS011,59.384,17.874,2018-12-31 16:52:43,0.40,0.40
60001,12687,SDS011,59.388,17.798,2018-12-31 16:52:21,2.83,1.90
60002,12691,SDS011,57.636,18.304,2018-12-31 16:51:17,2.40,1.70
60003,12693,SDS011,58.190,12.720,2018-12-31 16:51:03,6.42,2.62
60004,14017,SDS011,59.376,18.010,2018-12-31 16:51:10,4.07,1.94
60005,14133,SDS011,59.364,18.018,2018-12-31 16:50:49,4.14,2.38
60006,14209,SDS011,56.070,12.698,2018-12-31 16:51:35,28.52,13.48
60007,14264,SDS011,57.654,11.880,2018-12-31 16:51:51,26.92,8.46
60008,14276,SDS011,57.346,12.150,2018-12-31 16:50:46,72.48,20.16
60009,14278,SDS011,59.374,18.010,2018-12-31 16:51:31,4.64,2.30
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [71]:
middle_array_with_earlier_and_later_added_times__RESAMPLED_to_fill_blank_time_intervals = middle_array_with_earlier_and_later_added_times.resample("5Min").mean().bfill()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [ ]:
# SIDE test : let's try doing the resampling on one column only

In [ ]:
middle_array_with_earlier_and_later_added_times

In [ ]:
middle_array_with_earlier_and_later_added_times__P1_ONLY = middle_array_with_earlier_and_later_added_times[ [ 'timestamp', 'p1'] ]
middle_array_with_earlier_and_later_added_times__P1_ONLY

In [ ]:
middle_array_with_earlier_and_later_added_times__P1_ONLY['timestamp'] = pd.to_datetime( middle_array_with_earlier_and_later_added_times__P1_ONLY['timestamp'] )

In [ ]:
middle_array_with_earlier_and_later_added_times__P1_ONLY.set_index('timestamp')

In [ ]:
middle_array_with_earlier_and_later_added_times__P1_ONLY.resample("5Min")