In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
# parameters

# start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"
# generate this please
start_time = "?????"

time_frequency_for_periods__for_basic_data = "5T"
num_of_time_periods___for_basic_data = 24*20 # 24 hrs * 12 x 5 mins in each hour

# when generating time periods 
sampling_frequency = "3T"



# --- data urls 

curr_url = "????"
nordic_midnight_24_hrs_data__url = "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"

# set the current data source 
curr_url =nordic_midnight_24_hrs_data__url

In [3]:
# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( curr_url )
in_data.shape

(127109, 7)

In [4]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp        object
p1              float64
p2              float64
dtype: object

In [5]:
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [6]:
in_data.head()

   sensor_id sensor_namee     lat     lon           timestamp      p1     p2
0       7273       SDS011  60.002  17.846 2018-12-31 11:57:22    3.43   1.56
1       7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2       7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
3       7406       SDS011  56.964  24.128 2018-12-31 11:56:41   11.05   6.62
4       7428       SDS011  59.868  17.624 2018-12-31 11:57:42    1.78   1.02

In [7]:
in_data.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [8]:
in_data2 = in_data.copy()

In [9]:
in_data2['timestamp'] = in_data['timestamp'].astype( 'int64' )

In [10]:
in_data2.head()

   sensor_id sensor_namee     lat     lon            timestamp      p1     p2
0       7273       SDS011  60.002  17.846  1546257442000000000    3.43   1.56
1       7275       SDS011  57.720  11.888  1546257524000000000  482.77  33.82
2       7277       SDS011  59.266  15.230  1546257527000000000    5.48   2.47
3       7406       SDS011  56.964  24.128  1546257401000000000   11.05   6.62
4       7428       SDS011  59.868  17.624  1546257462000000000    1.78   1.02

In [11]:
in_data2.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [12]:
### various time operations

In [13]:
end_time

'2019-01-01 11:58:42'

In [14]:
# generate the time slots when the data is sampled

data_sampling_windows__time_periods = pd.date_range( end_time, freq=sampling_frequency,  
periods=num_of_time_periods___for_basic_data+1)

In [15]:
# check generated times
data_sampling_windows__time_periods

DatetimeIndex(['2019-01-01 11:58:42', '2019-01-01 12:01:42',
               '2019-01-01 12:04:42', '2019-01-01 12:07:42',
               '2019-01-01 12:10:42', '2019-01-01 12:13:42',
               '2019-01-01 12:16:42', '2019-01-01 12:19:42',
               '2019-01-01 12:22:42', '2019-01-01 12:25:42',
               ...
               '2019-01-02 11:31:42', '2019-01-02 11:34:42',
               '2019-01-02 11:37:42', '2019-01-02 11:40:42',
               '2019-01-02 11:43:42', '2019-01-02 11:46:42',
               '2019-01-02 11:49:42', '2019-01-02 11:52:42',
               '2019-01-02 11:55:42', '2019-01-02 11:58:42'],
              dtype='datetime64[ns]', length=481, freq='3T')

In [16]:
# then to 'go back in time' from the end date

# adding the '+1' to avoid the off by one errors  
data_sampling_windows__time_periods = data_sampling_windows__time_periods - ( num_of_time_periods___for_basic_data
 + 1 )

In [17]:
data_sampling_windows__time_periods[0]

Timestamp('2018-12-31 11:55:42', freq='3T')

In [18]:
data_sampling_windows__time_periods

DatetimeIndex(['2018-12-31 11:55:42', '2018-12-31 11:58:42',
               '2018-12-31 12:01:42', '2018-12-31 12:04:42',
               '2018-12-31 12:07:42', '2018-12-31 12:10:42',
               '2018-12-31 12:13:42', '2018-12-31 12:16:42',
               '2018-12-31 12:19:42', '2018-12-31 12:22:42',
               ...
               '2019-01-01 11:28:42', '2019-01-01 11:31:42',
               '2019-01-01 11:34:42', '2019-01-01 11:37:42',
               '2019-01-01 11:40:42', '2019-01-01 11:43:42',
               '2019-01-01 11:46:42', '2019-01-01 11:49:42',
               '2019-01-01 11:52:42', '2019-01-01 11:55:42'],
              dtype='datetime64[ns]', length=481, freq='3T')

In [35]:
data_sampling_windows__time_periods.shape

(481,)

In [19]:
end_time = pd.to_datetime( end_time )
end_time

Timestamp('2019-01-01 11:58:42')

In [20]:
start_time = data_sampling_windows__time_periods[0]
start_time

Timestamp('2018-12-31 11:55:42', freq='3T')

In [21]:
### Fetch relevant time period, of data from csv 

relev_time_period = in_data[ in_data['timestamp'] >= start_time ]
relev_time_period = relev_time_period[ relev_time_period['timestamp'] < end_time ]


in_data.shape, relev_time_period.shape

((127109, 7), (84702, 7))

In [22]:
relev_time_period.head()

   sensor_id sensor_namee     lat     lon           timestamp      p1     p2
0       7273       SDS011  60.002  17.846 2018-12-31 11:57:22    3.43   1.56
1       7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2       7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
3       7406       SDS011  56.964  24.128 2018-12-31 11:56:41   11.05   6.62
4       7428       SDS011  59.868  17.624 2018-12-31 11:57:42    1.78   1.02

In [23]:
relev_time_period.tail()

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68

In [24]:
# --- now loop through the different sensor datas

In [25]:
unique_sensor_ids = relev_time_period['sensor_id'].unique()
unique_sensor_ids.shape

(200,)

In [66]:
# temporary storage location for out arrays 
out_array_w_generated_periodic_data_arrays = []

# prepare the out array, beforhand
## curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods.shape[0] )

curr_sensor_id_i = 0

starttime = time.time() 

# Loop through the different sensor ( numbers )
for sensor_id_ in unique_sensor_ids[:1]:
    print("-- working on sensor id "+str( sensor_id_ )+" |  "+str( curr_sensor_id_i )+"/"+str( unique_sensor_ids.shape[0] )  )
    curr_sensor_id_i = curr_sensor_id_i + 1
    
    # fetch the measurements for this sensor id
    curr_sensor_id_measurements = relev_time_period[ relev_time_period['sensor_id'] == sensor_id_  ]
    
    # sort them by time 
    curr_sensor_id_measurements = curr_sensor_id_measurements.sort_values( by=['timestamp'] ) 
    ## print("--- current sensor id has "+str( curr_sensor_id_measurements.shape[0])+" measurements" )
    
    curr_sensor_id_measurements__only_timestamps = curr_sensor_id_measurements['timestamp']
    curr_sensor_id_measurements__only_p1_vals = curr_sensor_id_measurements['p1']
    curr_sensor_id_measurements__only_p2_vals = curr_sensor_id_measurements['p2']
    
    # -- make sure all the measurements of the given time period are there
    
    # make an array with enough slots for all time periods
    curr_sensor_measurements_for_all_time_periods = np.zeros( data_sampling_windows__time_periods.shape[0] )
    ## print(" --- curr_sensor_measurements_for_all_time_periods.shape = "+str( curr_sensor_measurements_for_all_time_periods.shape ))
    ## print( curr_sensor_measurements_for_all_time_periods )
    
    # loop through all values in the data 
    for curr_sensor_measurements_row_i in range( curr_sensor_id_measurements__only_timestamps.shape[0] ):
    ### for curr_sensor_measurements_row_i in range( 10 ):
        ## print("\n-- -- working on measurement #"+str( curr_sensor_measurements_row_i )+" (pm2.5/10  : "+str(curr_sensor_id_measurements__only_p1_vals.iloc[ curr_sensor_measurements_row_i])+"/"+str(curr_sensor_id_measurements__only_p2_vals.iloc[ curr_sensor_measurements_row_i])+") - with timestamp "+str( curr_sensor_id_measurements__only_timestamps.iloc[ curr_sensor_measurements_row_i ] ) )
        
        # loop through the available timestamps, and see whether the current time stamp
        # is within these. 
        # - if it is, then insert it at the appropiate current index 
        # in the out array
        
        # optimisation variable to remember where the last 
        # value was found, in time
        # - the idea is that we start the next search in time indicies, 
        #   only after the last found position, so we can skip checking the previous positions 
        last_found_time_index = 0 
        # note the optimisation above and below 
        for all_relev_timestamps_array__current_index in range( last_found_time_index, data_sampling_windows__time_periods.shape[0]-1 ):
        ### unoptimised edition : 
        ### for all_relev_timestamps_array__current_index in range( data_sampling_windows__time_periods.shape[0]-1 ):
        ### for all_relev_timestamps_array__current_index in range( 100 ):
        
            # print("-- -- -- looping through available timestamps - loooking at index #"+str( all_relev_timestamps_array__current_index )+" : timestamp "+str( data_sampling_windows__time_periods[ all_relev_timestamps_array__current_index ] ))
            #
            if curr_sensor_id_measurements__only_timestamps.iloc[ curr_sensor_measurements_row_i ] > data_sampling_windows__time_periods[ all_relev_timestamps_array__current_index ] and curr_sensor_id_measurements__only_timestamps.iloc[ curr_sensor_measurements_row_i ] < data_sampling_windows__time_periods[ all_relev_timestamps_array__current_index+1 ]:
                
                ## print(" -- -- -- -- YAY! the current timestamp ( "+str(  curr_sensor_id_measurements__only_timestamps.iloc[ curr_sensor_measurements_row_i ]  )+" is within the specified time ranges, at index "+str( all_relev_timestamps_array__current_index )+" amongst the possible time periods data. ie. btw "+str( data_sampling_windows__time_periods[ all_relev_timestamps_array__current_index ])+" and "+str( data_sampling_windows__time_periods[ all_relev_timestamps_array__current_index ]+1 ) )
                # 
                # assign the current PM value as appropriate 
                curr_sensor_measurements_for_all_time_periods[ all_relev_timestamps_array__current_index ] = curr_sensor_id_measurements__only_p1_vals.iloc[ curr_sensor_measurements_row_i ]
                
                # set the variable suggesting which position 
                # the timestamp was found in, 
                # and which position the next search should start from 
                last_found_time_index = all_relev_timestamps_array__current_index
                
                #
                # no need to continue finding possible time slots - just break
                break
                
    # END OF DIFFERENT SENSOR LOOPING
    # print the resulting values slotted array - ie array with slots 
    # for values, formatted according to time slots
    ## print( " <<< resulting periodic values array : ")
    ## print( curr_sensor_measurements_for_all_time_periods )
    out_array_w_generated_periodic_data_arrays.append( curr_sensor_measurements_for_all_time_periods )
                
# ende
print( "- done after "+str( time.time() - starttime )+" seconds " )

-- working on sensor id 7273 |  0/200
- done after 5.739981174468994 seconds

In [56]:
curr_sensor_measurements_for_all_time_periods

array([  3.43,   3.78,   0.  ,   3.45,   2.1 ,   1.45,   2.02,   0.  ,
         1.78,   2.45,   2.58,   3.67,   2.3 ,   2.8 ,   2.74,   3.  ,
         0.  ,   2.46,   3.2 ,   3.28,   2.14,   0.  ,   2.25,   2.5 ,
         2.04,   2.11,   0.  ,   2.25,   2.16,   3.43,   3.92,   0.  ,
         3.67,   3.43,   3.78,   3.47,   0.  ,   3.95,   3.7 ,   4.3 ,
         3.68,   3.35,   3.54,   2.82,   2.78,   3.18,   3.8 ,   3.7 ,
         3.17,   2.48,   0.  ,  24.2 ,  28.6 ,  36.15,  56.58,   0.  ,
         9.7 ,  11.85,   7.  ,   6.12,   0.  ,   6.96,   3.76,   7.76,
        28.13,  13.18,   4.42,   5.92,   6.25,   0.  , 455.  , 569.68,
       128.9 ,  16.56,   0.  ,  11.36,  13.7 ,  23.78,  22.02,  14.3 ,
         8.06,   2.62,   3.1 ,   4.08,   2.15,   2.06,   3.2 ,   3.8 ,
         0.  ,   3.6 ,   3.65,   2.85,   2.37,   0.  ,   0.  , 157.77,
       107.95,  77.23,  76.95,  33.72,  42.24,  18.16,   9.18,   0.  ,
        14.96,  38.6 ,  96.7 ,  71.92,   0.  ,  31.08,   8.12,   6.35,
         3.88,   0.  ,   3.04,   2.77,  39.67,  41.94,  32.36,  26.32,
        28.72,  26.3 ,   0.  ,   7.3 ,   7.02,   7.98,  11.05,   0.  ,
         2.4 ,   2.4 ,   2.14,   1.8 ,   1.6 ,   1.34,   1.56,   1.85,
         1.58,   1.8 ,   1.65,   1.84,   1.97,   2.17,   1.95,   2.77,
         2.18,   1.76,   2.4 ,   0.  ,   2.94,   3.84,   3.67,   2.5 ,
         0.  ,   2.48,   2.35,   2.  ,   2.67,   3.15,   3.8 ,   3.04,
         2.32,   0.  ,   3.85,   2.98,   3.94,   4.05,   0.  ,   4.31,
         3.78,   4.03,   4.98,   0.  ,   6.04,   6.8 ,   8.86,   7.83,
         5.43,   6.3 ,   6.98,   6.38,   0.  ,   7.65,   7.12,   7.22,
         7.74,   0.  ,   6.02,   8.55,  10.76,  11.03,   0.  ,   7.88,
         8.02,   8.9 ,   9.88,   0.  ,   9.38,   9.02,   9.75,  10.4 ,
        12.32,  13.94,  11.4 ,  10.14,  11.58,  11.54,  10.88,  10.07,
         9.32,   0.  ,   9.9 ,  10.65,   9.1 ,   9.35,   0.  ,   8.02,
         6.4 ,   9.09,  11.5 ,   0.  ,   8.09,  11.17,  11.88,  10.25,
         0.  ,  10.1 ,   8.38,   6.84,   9.78,   0.  ,   8.76,  12.02,
        12.25,   9.96,   0.  ,   9.88,  10.75,   9.92,   9.48,   0.  ,
         8.4 ,   8.64,  10.35,  11.46,   0.  ,   8.59,   6.48,   8.18,
         9.35,   7.47,   6.62,  10.  ,  10.68,   0.  ,   7.59,   9.65,
         7.68,   6.22,   0.  ,  10.12,   9.26,   9.05,   6.98,   7.38,
         7.42,   9.91,   8.88,   0.  ,   9.44,   6.85,   8.34,  11.32,
         0.  ,  11.65,   8.24,   9.05,   8.91,   0.  ,  10.88,   9.83,
         9.22,   9.35,  10.  ,   9.8 ,   7.52,   9.  ,   0.  ,  12.25,
         8.23,   9.28,   9.  ,   0.  ,   9.1 ,   9.05,   9.62,  12.72,
        11.82,  10.1 ,  10.05,  12.78,   0.  ,   8.4 ,   7.97,   7.1 ,
         7.43,   0.  ,   9.98,  11.08,  13.4 ,  12.86,   0.  ,   9.37,
         9.9 ,   9.5 ,   9.27,   7.98,   7.74,   8.04,   7.74,   0.  ,
        10.24,   7.94,   8.35,   9.32,   0.  ,   8.  ,   8.65,   9.68,
         7.1 ,   6.72,   6.42,   5.92,   6.44,   0.  ,   8.08,   6.55,
         6.74,   7.36,   0.  ,   7.35,   7.27,   7.02,   6.22,   6.56,
         5.78,   4.42,   6.  ,   6.9 ,   5.78,   5.12,   4.66,   6.53,
         0.  ,   7.78,   9.12,   7.43,   5.15,   0.  ,   6.32,   6.92,
         6.26,   4.98,   0.  ,   5.01,   4.51,   4.68,   5.98,   7.12,
         6.  ,   5.86,   5.9 ,   0.  ,   6.15,   3.7 ,   3.44,   4.49,
         0.  ,   4.19,   3.38,   3.95,   3.9 ,   4.72,   5.4 ,   3.5 ,
         4.  ,   4.66,   5.1 ,   8.25,   8.38,   0.  ,   5.86,   0.  ,
         3.05,   4.05,   4.53,   3.58,   0.  ,   5.66,   5.07,   3.55,
         3.8 ,   6.12,   3.5 ,   3.08,   5.04,   4.6 ,   4.31,   5.24,
         4.04,   3.42,   0.  ,   3.53,   3.82,   3.18,   2.95,   0.  ,
         4.23,   4.03,   3.78,   3.96,   3.9 ,   6.24,   5.76,   3.42,
         0.  ,   4.07,   3.2 ,   3.53,   3.56,   0.  ,   3.04,   3.1 ,
         4.13,   3.66,   0.  ,   4.14,   3.84,   4.3 ,   4.88,   5.62,
         6.62,   5.66,   5.92,   6.26,   4.65,   4.52,   4.4 ,   4.2 ,
         0.  ,   3.06,   3.88,   3.87,   3.85,   0.  ,   3.63,   3.43,
         3.32,   4.  ,   0.  ,   3.32,   4.37,   4.05,   4.3 ,   3.5 ,
         2.42,   2.6 ,   4.6 ,   0.  ,   4.16,   3.46,   2.76,   2.88,
         0.  ,   2.33,   2.35,   3.08,   3.62,   3.46,   3.01,   2.54,
         0.  ])

In [57]:
len( out_array_w_generated_periodic_data_arrays )

1

In [58]:
out_array_w_generated_periodic_data_arrays

[array([  3.43,   3.78,   0.  ,   3.45,   2.1 ,   1.45,   2.02,   0.  ,
          1.78,   2.45,   2.58,   3.67,   2.3 ,   2.8 ,   2.74,   3.  ,
          0.  ,   2.46,   3.2 ,   3.28,   2.14,   0.  ,   2.25,   2.5 ,
          2.04,   2.11,   0.  ,   2.25,   2.16,   3.43,   3.92,   0.  ,
          3.67,   3.43,   3.78,   3.47,   0.  ,   3.95,   3.7 ,   4.3 ,
          3.68,   3.35,   3.54,   2.82,   2.78,   3.18,   3.8 ,   3.7 ,
          3.17,   2.48,   0.  ,  24.2 ,  28.6 ,  36.15,  56.58,   0.  ,
          9.7 ,  11.85,   7.  ,   6.12,   0.  ,   6.96,   3.76,   7.76,
         28.13,  13.18,   4.42,   5.92,   6.25,   0.  , 455.  , 569.68,
        128.9 ,  16.56,   0.  ,  11.36,  13.7 ,  23.78,  22.02,  14.3 ,
          8.06,   2.62,   3.1 ,   4.08,   2.15,   2.06,   3.2 ,   3.8 ,
          0.  ,   3.6 ,   3.65,   2.85,   2.37,   0.  ,   0.  , 157.77,
        107.95,  77.23,  76.95,  33.72,  42.24,  18.16,   9.18,   0.  ,
         14.96,  38.6 ,  96.7 ,  71.92,   0.  ,  31.08,   8.12,   6.35,
          3.88,   0.  ,   3.04,   2.77,  39.67,  41.94,  32.36,  26.32,
         28.72,  26.3 ,   0.  ,   7.3 ,   7.02,   7.98,  11.05,   0.  ,
          2.4 ,   2.4 ,   2.14,   1.8 ,   1.6 ,   1.34,   1.56,   1.85,
          1.58,   1.8 ,   1.65,   1.84,   1.97,   2.17,   1.95,   2.77,
          2.18,   1.76,   2.4 ,   0.  ,   2.94,   3.84,   3.67,   2.5 ,
          0.  ,   2.48,   2.35,   2.  ,   2.67,   3.15,   3.8 ,   3.04,
          2.32,   0.  ,   3.85,   2.98,   3.94,   4.05,   0.  ,   4.31,
          3.78,   4.03,   4.98,   0.  ,   6.04,   6.8 ,   8.86,   7.83,
          5.43,   6.3 ,   6.98,   6.38,   0.  ,   7.65,   7.12,   7.22,
          7.74,   0.  ,   6.02,   8.55,  10.76,  11.03,   0.  ,   7.88,
          8.02,   8.9 ,   9.88,   0.  ,   9.38,   9.02,   9.75,  10.4 ,
         12.32,  13.94,  11.4 ,  10.14,  11.58,  11.54,  10.88,  10.07,
          9.32,   0.  ,   9.9 ,  10.65,   9.1 ,   9.35,   0.  ,   8.02,
          6.4 ,   9.09,  11.5 ,   0.  ,   8.09,  11.17,  11.88,  10.25,
          0.  ,  10.1 ,   8.38,   6.84,   9.78,   0.  ,   8.76,  12.02,
         12.25,   9.96,   0.  ,   9.88,  10.75,   9.92,   9.48,   0.  ,
          8.4 ,   8.64,  10.35,  11.46,   0.  ,   8.59,   6.48,   8.18,
          9.35,   7.47,   6.62,  10.  ,  10.68,   0.  ,   7.59,   9.65,
          7.68,   6.22,   0.  ,  10.12,   9.26,   9.05,   6.98,   7.38,
          7.42,   9.91,   8.88,   0.  ,   9.44,   6.85,   8.34,  11.32,
          0.  ,  11.65,   8.24,   9.05,   8.91,   0.  ,  10.88,   9.83,
          9.22,   9.35,  10.  ,   9.8 ,   7.52,   9.  ,   0.  ,  12.25,
          8.23,   9.28,   9.  ,   0.  ,   9.1 ,   9.05,   9.62,  12.72,
         11.82,  10.1 ,  10.05,  12.78,   0.  ,   8.4 ,   7.97,   7.1 ,
          7.43,   0.  ,   9.98,  11.08,  13.4 ,  12.86,   0.  ,   9.37,
          9.9 ,   9.5 ,   9.27,   7.98,   7.74,   8.04,   7.74,   0.  ,
         10.24,   7.94,   8.35,   9.32,   0.  ,   8.  ,   8.65,   9.68,
          7.1 ,   6.72,   6.42,   5.92,   6.44,   0.  ,   8.08,   6.55,
          6.74,   7.36,   0.  ,   7.35,   7.27,   7.02,   6.22,   6.56,
          5.78,   4.42,   6.  ,   6.9 ,   5.78,   5.12,   4.66,   6.53,
          0.  ,   7.78,   9.12,   7.43,   5.15,   0.  ,   6.32,   6.92,
          6.26,   4.98,   0.  ,   5.01,   4.51,   4.68,   5.98,   7.12,
          6.  ,   5.86,   5.9 ,   0.  ,   6.15,   3.7 ,   3.44,   4.49,
          0.  ,   4.19,   3.38,   3.95,   3.9 ,   4.72,   5.4 ,   3.5 ,
          4.  ,   4.66,   5.1 ,   8.25,   8.38,   0.  ,   5.86,   0.  ,
          3.05,   4.05,   4.53,   3.58,   0.  ,   5.66,   5.07,   3.55,
          3.8 ,   6.12,   3.5 ,   3.08,   5.04,   4.6 ,   4.31,   5.24,
          4.04,   3.42,   0.  ,   3.53,   3.82,   3.18,   2.95,   0.  ,
          4.23,   4.03,   3.78,   3.96,   3.9 ,   6.24,   5.76,   3.42,
          0.  ,   4.07,   3.2 ,   3.53,   3.56,   0.  ,   3.04,   3.1 ,
          4.13,   3.66,   0.  ,   4.14,   3.84,   4.3 ,   4.88,   5.62,
          6.62,   5.66,   5.92,   6.26,   4.65,   4.52,   4.4 ,   4.2 ,
          0.  ,   3.06,   3.88,   3.87,   3.85,   0.  ,   3.63,   3.43,
          3.32,   4.  ,   0.  ,   3.32,   4.37,   4.05,   4.3 ,   3.5 ,
          2.42,   2.6 ,   4.6 ,   0.  ,   4.16,   3.46,   2.76,   2.88,
          0.  ,   2.33,   2.35,   3.08,   3.62,   3.46,   3.01,   2.54,
          0.  ])]