In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
one = pd.Timestamp( time.ctime() )

In [4]:
one

Timestamp('2019-01-16 09:37:16')

In [5]:
dir( time )

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'clock',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'perf_counter',
 'process_time',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'time',
 'timezone',
 'tzname',
 'tzset']

In [6]:
time.ctime()

'Wed Jan 16 09:37:16 2019'

In [7]:

pd.Timedelta( '1 days')

Timedelta('1 days 00:00:00')

In [8]:
pd.Timedelta( days=1, seconds=1 )

Timedelta('1 days 00:00:01')

In [9]:
pd.Timedelta( np.timedelta64( 1, 'ms'))

Timedelta('0 days 00:00:00.001000')

In [10]:
daterange = pd.date_range( time.ctime(), periods=24, freq='H')

In [11]:
daterange

DatetimeIndex(['2019-01-16 09:37:17', '2019-01-16 10:37:17',
               '2019-01-16 11:37:17', '2019-01-16 12:37:17',
               '2019-01-16 13:37:17', '2019-01-16 14:37:17',
               '2019-01-16 15:37:17', '2019-01-16 16:37:17',
               '2019-01-16 17:37:17', '2019-01-16 18:37:17',
               '2019-01-16 19:37:17', '2019-01-16 20:37:17',
               '2019-01-16 21:37:17', '2019-01-16 22:37:17',
               '2019-01-16 23:37:17', '2019-01-17 00:37:17',
               '2019-01-17 01:37:17', '2019-01-17 02:37:17',
               '2019-01-17 03:37:17', '2019-01-17 04:37:17',
               '2019-01-17 05:37:17', '2019-01-17 06:37:17',
               '2019-01-17 07:37:17', '2019-01-17 08:37:17'],
              dtype='datetime64[ns]', freq='H')

In [12]:
# move back one day… 
daterange - pd.Timedelta( days=1 )

DatetimeIndex(['2019-01-15 09:37:17', '2019-01-15 10:37:17',
               '2019-01-15 11:37:17', '2019-01-15 12:37:17',
               '2019-01-15 13:37:17', '2019-01-15 14:37:17',
               '2019-01-15 15:37:17', '2019-01-15 16:37:17',
               '2019-01-15 17:37:17', '2019-01-15 18:37:17',
               '2019-01-15 19:37:17', '2019-01-15 20:37:17',
               '2019-01-15 21:37:17', '2019-01-15 22:37:17',
               '2019-01-15 23:37:17', '2019-01-16 00:37:17',
               '2019-01-16 01:37:17', '2019-01-16 02:37:17',
               '2019-01-16 03:37:17', '2019-01-16 04:37:17',
               '2019-01-16 05:37:17', '2019-01-16 06:37:17',
               '2019-01-16 07:37:17', '2019-01-16 08:37:17'],
              dtype='datetime64[ns]', freq='H')

In [13]:
# move back a dew hours… 
daterange - pd.Timedelta( hours=1 )

DatetimeIndex(['2019-01-16 08:37:17', '2019-01-16 09:37:17',
               '2019-01-16 10:37:17', '2019-01-16 11:37:17',
               '2019-01-16 12:37:17', '2019-01-16 13:37:17',
               '2019-01-16 14:37:17', '2019-01-16 15:37:17',
               '2019-01-16 16:37:17', '2019-01-16 17:37:17',
               '2019-01-16 18:37:17', '2019-01-16 19:37:17',
               '2019-01-16 20:37:17', '2019-01-16 21:37:17',
               '2019-01-16 22:37:17', '2019-01-16 23:37:17',
               '2019-01-17 00:37:17', '2019-01-17 01:37:17',
               '2019-01-17 02:37:17', '2019-01-17 03:37:17',
               '2019-01-17 04:37:17', '2019-01-17 05:37:17',
               '2019-01-17 06:37:17', '2019-01-17 07:37:17'],
              dtype='datetime64[ns]', freq='H')

In [14]:
# try make a time range, back in time, based on variables
hours_ = 24

In [15]:
original_time_range = pd.date_range( time.ctime(), periods=hours_, freq="H")
original_time_range

DatetimeIndex(['2019-01-16 09:37:18', '2019-01-16 10:37:18',
               '2019-01-16 11:37:18', '2019-01-16 12:37:18',
               '2019-01-16 13:37:18', '2019-01-16 14:37:18',
               '2019-01-16 15:37:18', '2019-01-16 16:37:18',
               '2019-01-16 17:37:18', '2019-01-16 18:37:18',
               '2019-01-16 19:37:18', '2019-01-16 20:37:18',
               '2019-01-16 21:37:18', '2019-01-16 22:37:18',
               '2019-01-16 23:37:18', '2019-01-17 00:37:18',
               '2019-01-17 01:37:18', '2019-01-17 02:37:18',
               '2019-01-17 03:37:18', '2019-01-17 04:37:18',
               '2019-01-17 05:37:18', '2019-01-17 06:37:18',
               '2019-01-17 07:37:18', '2019-01-17 08:37:18'],
              dtype='datetime64[ns]', freq='H')

In [16]:
date_range_moved = original_time_range - pd.Timedelta( hours=hours_ ) 
date_range_moved

DatetimeIndex(['2019-01-15 09:37:18', '2019-01-15 10:37:18',
               '2019-01-15 11:37:18', '2019-01-15 12:37:18',
               '2019-01-15 13:37:18', '2019-01-15 14:37:18',
               '2019-01-15 15:37:18', '2019-01-15 16:37:18',
               '2019-01-15 17:37:18', '2019-01-15 18:37:18',
               '2019-01-15 19:37:18', '2019-01-15 20:37:18',
               '2019-01-15 21:37:18', '2019-01-15 22:37:18',
               '2019-01-15 23:37:18', '2019-01-16 00:37:18',
               '2019-01-16 01:37:18', '2019-01-16 02:37:18',
               '2019-01-16 03:37:18', '2019-01-16 04:37:18',
               '2019-01-16 05:37:18', '2019-01-16 06:37:18',
               '2019-01-16 07:37:18', '2019-01-16 08:37:18'],
              dtype='datetime64[ns]', freq='H')

In [24]:
date_range_moved_as_epoc = date_range_moved.astype( np.int32 )
date_range_moved_as_epoc

Int64Index([1547545038000000000, 1547548638000000000, 1547552238000000000,
            1547555838000000000, 1547559438000000000, 1547563038000000000,
            1547566638000000000, 1547570238000000000, 1547573838000000000,
            1547577438000000000, 1547581038000000000, 1547584638000000000,
            1547588238000000000, 1547591838000000000, 1547595438000000000,
            1547599038000000000, 1547602638000000000, 1547606238000000000,
            1547609838000000000, 1547613438000000000, 1547617038000000000,
            1547620638000000000, 1547624238000000000, 1547627838000000000],
           dtype='int64')

In [45]:
date_range_moved.shape

(24,)

In [47]:
date_range_moved[0]

Timestamp('2019-01-09 07:45:37', freq='H')

In [48]:
dir( date_range_moved[0] )

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_attributes',
 '_date_repr',
 '_get_date_name_field',
 '_get_start_end_field',
 '_has_time_component',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']

In [52]:
 date_range_moved[0].ctime()

'Wed Jan  9 07:45:37 2019'

In [53]:
 date_range_moved[0].timestamp()

1547019937.0

In [60]:
str( date_range_moved[0] )

'2019-01-09 07:45:37'

In [64]:
start_time = time.time()
start_time

time.sleep( 1 )
time_1_sec_later = time.time()

In [66]:
time_diff = time_1_sec_later - start_time
time_diff

1.005403757095337

In [25]:
# another go with getting the right time range
# - we start with the time range
daterange2 = pd.date_range( time.ctime(), periods=24, freq='H')
daterange2

DatetimeIndex(['2019-01-16 09:39:40', '2019-01-16 10:39:40',
               '2019-01-16 11:39:40', '2019-01-16 12:39:40',
               '2019-01-16 13:39:40', '2019-01-16 14:39:40',
               '2019-01-16 15:39:40', '2019-01-16 16:39:40',
               '2019-01-16 17:39:40', '2019-01-16 18:39:40',
               '2019-01-16 19:39:40', '2019-01-16 20:39:40',
               '2019-01-16 21:39:40', '2019-01-16 22:39:40',
               '2019-01-16 23:39:40', '2019-01-17 00:39:40',
               '2019-01-17 01:39:40', '2019-01-17 02:39:40',
               '2019-01-17 03:39:40', '2019-01-17 04:39:40',
               '2019-01-17 05:39:40', '2019-01-17 06:39:40',
               '2019-01-17 07:39:40', '2019-01-17 08:39:40'],
              dtype='datetime64[ns]', freq='H')

In [27]:
# we subtract the period frequency we originally set
daterange_minus_24_hours = daterange2 - 24
daterange_minus_24_hours

DatetimeIndex(['2019-01-15 09:39:40', '2019-01-15 10:39:40',
               '2019-01-15 11:39:40', '2019-01-15 12:39:40',
               '2019-01-15 13:39:40', '2019-01-15 14:39:40',
               '2019-01-15 15:39:40', '2019-01-15 16:39:40',
               '2019-01-15 17:39:40', '2019-01-15 18:39:40',
               '2019-01-15 19:39:40', '2019-01-15 20:39:40',
               '2019-01-15 21:39:40', '2019-01-15 22:39:40',
               '2019-01-15 23:39:40', '2019-01-16 00:39:40',
               '2019-01-16 01:39:40', '2019-01-16 02:39:40',
               '2019-01-16 03:39:40', '2019-01-16 04:39:40',
               '2019-01-16 05:39:40', '2019-01-16 06:39:40',
               '2019-01-16 07:39:40', '2019-01-16 08:39:40'],
              dtype='datetime64[ns]', freq='H')

In [29]:
# and then, just for practice, turn it into epoch 
daterange_minus_24_hours__as_epoc = daterange_minus_24_hours.astype( np.int32 )
daterange_minus_24_hours__as_epoc

Int64Index([1547545180000000000, 1547548780000000000, 1547552380000000000,
            1547555980000000000, 1547559580000000000, 1547563180000000000,
            1547566780000000000, 1547570380000000000, 1547573980000000000,
            1547577580000000000, 1547581180000000000, 1547584780000000000,
            1547588380000000000, 1547591980000000000, 1547595580000000000,
            1547599180000000000, 1547602780000000000, 1547606380000000000,
            1547609980000000000, 1547613580000000000, 1547617180000000000,
            1547620780000000000, 1547624380000000000, 1547627980000000000],
           dtype='int64')

In [42]:
type( daterange_minus_24_hours__as_epoc[0] )

numpy.int64

In [43]:
single_daterange_as_epoch__value = daterange_minus_24_hours__as_epoc[0]

In [30]:
# try convert the timestamp in the data, to epoch

in_data = pd.read_csv( "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv" )

In [32]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp        object
p1              float64
p2              float64
dtype: object

In [35]:
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [36]:
in_data.dtypes

sensor_id                int64
sensor_namee            object
lat                    float64
lon                    float64
timestamp       datetime64[ns]
p1                     float64
p2                     float64
dtype: object

In [37]:
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
10,9743,SDS011,57.664,12.054,2018-12-31 11:57:15,268.58,29.05
11,9797,SDS011,57.492,12.652,2018-12-31 11:58:52,10.13,7.05
12,10216,SDS011,59.674,16.838,2018-12-31 11:57:28,3.94,2.75
13,10250,SDS011,58.692,12.478,2018-12-31 11:58:38,11.55,5.88
14,10281,SDS011,59.472,18.048,2018-12-31 11:58:42,5.18,3.12
15,10430,SDS011,59.958,17.726,2018-12-31 11:57:35,2.42,1.58
16,10647,SDS011,55.608,13.036,2018-12-31 11:58:28,14.65,5.10
17,10721,SDS011,59.450,18.124,2018-12-31 11:57:54,2.28,1.45
18,10723,SDS011,59.298,18.052,2018-12-31 11:56:45,4.90,2.76
19,10803,SDS011,57.690,11.954,2018-12-31 11:58:07,31.01,6.02
20,10823,SDS011,59.332,18.034,2018-12-31 11:57:37,3.78,2.05
21,10825,SDS011,55.898,14.094,2018-12-31 11:57:55,9.50,7.00
22,10827,SDS011,59.334,13.512,2018-12-31 11:56:40,11.45,6.00
23,10843,SDS011,59.354,18.364,2018-12-31 11:58:46,5.44,2.13
24,10914,SDS011,61.450,23.858,2018-12-31 11:58:48,1.97,1.88
25,10922,SDS011,59.494,17.976,2018-12-31 11:57:26,5.75,3.05
26,10924,SDS011,59.860,17.652,2018-12-31 11:56:44,2.58,1.16
27,10926,SDS011,59.472,18.304,2018-12-31 11:57:06,3.26,2.35
28,11002,SDS011,55.796,13.090,2018-12-31 11:58:37,6.34,3.08
29,11004,SDS011,59.622,16.556,2018-12-31 11:58:53,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,2019-01-01 11:59:35,11.82,1.67
127080,18836,SDS011,63.404,13.030,2019-01-01 11:59:39,12.26,1.97
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30
127085,11232,SDS011,55.596,13.022,2019-01-01 11:59:46,16.80,4.07
127086,11374,SDS011,59.258,18.008,2019-01-01 11:59:40,6.35,4.08
127087,11378,SDS011,59.392,16.748,2019-01-01 11:59:47,1.25,0.64
127088,11445,SDS011,64.178,15.432,2019-01-01 11:59:51,0.45,0.26
127089,11546,SDS011,59.456,17.802,2019-01-01 11:59:45,1.42,0.86
127090,11663,SDS011,59.380,18.040,2019-01-01 11:59:48,1.77,1.10
127091,11769,SDS011,59.238,18.226,2019-01-01 11:59:56,2.49,1.35
127092,12383,SDS011,63.808,20.336,2019-01-01 11:59:40,2.13,0.65
127093,12387,SDS011,58.560,15.306,2019-01-01 11:59:52,1.10,0.65
127094,12673,SDS011,59.364,18.022,2019-01-01 11:59:49,2.63,1.50
127095,12675,SDS011,59.450,17.892,2019-01-01 11:59:47,3.30,1.52
127096,12691,SDS011,57.636,18.304,2019-01-01 11:59:55,5.25,1.94
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127098,13012,SDS011,57.662,12.006,2019-01-01 11:59:58,8.18,2.25
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [106]:
in_data_as_epoch = in_data
in_data_as_epoch['timestamp'] = in_data_as_epoch['timestamp'].astype( 'int64' )
in_data_as_epoch

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,1546257442000000000,3.43,1.56
1,7275,SDS011,57.720,11.888,1546257524000000000,482.77,33.82
2,7277,SDS011,59.266,15.230,1546257527000000000,5.48,2.47
3,7406,SDS011,56.964,24.128,1546257401000000000,11.05,6.62
4,7428,SDS011,59.868,17.624,1546257462000000000,1.78,1.02
5,7469,SDS011,56.944,24.142,1546257472000000000,8.40,5.54
6,7597,SDS011,59.320,18.064,1546257531000000000,3.68,2.00
7,8683,SDS011,59.744,18.206,1546257508000000000,3.01,2.80
8,9411,SDS011,59.266,15.230,1546257438000000000,3.44,2.18
9,9436,SDS011,59.334,18.034,1546257442000000000,2.12,1.90
10,9743,SDS011,57.664,12.054,1546257435000000000,268.58,29.05
11,9797,SDS011,57.492,12.652,1546257532000000000,10.13,7.05
12,10216,SDS011,59.674,16.838,1546257448000000000,3.94,2.75
13,10250,SDS011,58.692,12.478,1546257518000000000,11.55,5.88
14,10281,SDS011,59.472,18.048,1546257522000000000,5.18,3.12
15,10430,SDS011,59.958,17.726,1546257455000000000,2.42,1.58
16,10647,SDS011,55.608,13.036,1546257508000000000,14.65,5.10
17,10721,SDS011,59.450,18.124,1546257474000000000,2.28,1.45
18,10723,SDS011,59.298,18.052,1546257405000000000,4.90,2.76
19,10803,SDS011,57.690,11.954,1546257487000000000,31.01,6.02
20,10823,SDS011,59.332,18.034,1546257457000000000,3.78,2.05
21,10825,SDS011,55.898,14.094,1546257475000000000,9.50,7.00
22,10827,SDS011,59.334,13.512,1546257400000000000,11.45,6.00
23,10843,SDS011,59.354,18.364,1546257526000000000,5.44,2.13
24,10914,SDS011,61.450,23.858,1546257528000000000,1.97,1.88
25,10922,SDS011,59.494,17.976,1546257446000000000,5.75,3.05
26,10924,SDS011,59.860,17.652,1546257404000000000,2.58,1.16
27,10926,SDS011,59.472,18.304,1546257426000000000,3.26,2.35
28,11002,SDS011,55.796,13.090,1546257517000000000,6.34,3.08
29,11004,SDS011,59.622,16.556,1546257533000000000,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,1546343975000000000,11.82,1.67
127080,18836,SDS011,63.404,13.030,1546343979000000000,12.26,1.97
127081,19119,SDS011,56.972,24.132,1546343793000000000,10.84,3.66
127082,19207,SDS011,59.466,18.036,1546343900000000000,5.74,2.40
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127084,7273,SDS011,60.002,17.846,1546343974000000000,2.63,1.30
127085,11232,SDS011,55.596,13.022,1546343986000000000,16.80,4.07
127086,11374,SDS011,59.258,18.008,1546343980000000000,6.35,4.08
127087,11378,SDS011,59.392,16.748,1546343987000000000,1.25,0.64
127088,11445,SDS011,64.178,15.432,1546343991000000000,0.45,0.26
127089,11546,SDS011,59.456,17.802,1546343985000000000,1.42,0.86
127090,11663,SDS011,59.380,18.040,1546343988000000000,1.77,1.10
127091,11769,SDS011,59.238,18.226,1546343996000000000,2.49,1.35
127092,12383,SDS011,63.808,20.336,1546343980000000000,2.13,0.65
127093,12387,SDS011,58.560,15.306,1546343992000000000,1.10,0.65
127094,12673,SDS011,59.364,18.022,1546343989000000000,2.63,1.50
127095,12675,SDS011,59.450,17.892,1546343987000000000,3.30,1.52
127096,12691,SDS011,57.636,18.304,1546343995000000000,5.25,1.94
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127098,13012,SDS011,57.662,12.006,1546343998000000000,8.18,2.25
127099,13020,SDS011,57.722,11.948,1546343981000000000,20.64,3.67
127100,16147,SDS011,59.364,18.018,1546343986000000000,3.28,1.80
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127102,16296,SDS011,56.144,13.394,1546343999000000000,23.86,7.45
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [107]:
type( in_data_as_epoch['timestamp'][0] )

numpy.int64

In [108]:
single_timestamp_value_as_epoch__value = in_data_as_epoch['timestamp'][0]

In [109]:
# both values 
single_daterange_as_epoch__value, single_timestamp_value_as_epoch__value

(1547545180000000000, 1546257442000000000)

In [110]:
( single_timestamp_value_as_epoch__value - single_daterange_as_epoch__value ) / ( 60*60*24 * 1000000000
                                                                                )

-14.904375

In [111]:
len( str( single_daterange_as_epoch__value )), len( str( single_timestamp_value_as_epoch__value ))

(19, 19)

In [112]:
# divide by a billion to get the time value in seconds ; ) 
time.ctime( single_daterange_as_epoch__value/1000000000 )

'Tue Jan 15 10:39:40 2019'

In [113]:
# dry run

In [114]:
start_time = "2018-12-31 11:58:42"
end_time = "2019-01-01 11:58:42"

In [115]:
# set up the relevant time range

In [116]:
time_frequency = "5T"
num_of_time_periods = 24*12+1

In [117]:
time_date_range = pd.date_range( end_time, periods=num_of_time_periods, freq = time_frequency ) 
time_date_range = time_date_range - ( num_of_time_periods -1 )
time_date_range

DatetimeIndex(['2018-12-31 11:58:42', '2018-12-31 12:03:42',
               '2018-12-31 12:08:42', '2018-12-31 12:13:42',
               '2018-12-31 12:18:42', '2018-12-31 12:23:42',
               '2018-12-31 12:28:42', '2018-12-31 12:33:42',
               '2018-12-31 12:38:42', '2018-12-31 12:43:42',
               ...
               '2019-01-01 11:13:42', '2019-01-01 11:18:42',
               '2019-01-01 11:23:42', '2019-01-01 11:28:42',
               '2019-01-01 11:33:42', '2019-01-01 11:38:42',
               '2019-01-01 11:43:42', '2019-01-01 11:48:42',
               '2019-01-01 11:53:42', '2019-01-01 11:58:42'],
              dtype='datetime64[ns]', length=289, freq='5T')

In [118]:
time_date_range_as_epoch = time_date_range.astype( np.int64 )
time_date_range_as_epoch

Int64Index([1546257522000000000, 1546257822000000000, 1546258122000000000,
            1546258422000000000, 1546258722000000000, 1546259022000000000,
            1546259322000000000, 1546259622000000000, 1546259922000000000,
            1546260222000000000,
            ...
            1546341222000000000, 1546341522000000000, 1546341822000000000,
            1546342122000000000, 1546342422000000000, 1546342722000000000,
            1546343022000000000, 1546343322000000000, 1546343622000000000,
            1546343922000000000],
           dtype='int64', length=289)

In [119]:
# work with the in data 
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,1546257442000000000,3.43,1.56
1,7275,SDS011,57.720,11.888,1546257524000000000,482.77,33.82
2,7277,SDS011,59.266,15.230,1546257527000000000,5.48,2.47
3,7406,SDS011,56.964,24.128,1546257401000000000,11.05,6.62
4,7428,SDS011,59.868,17.624,1546257462000000000,1.78,1.02
5,7469,SDS011,56.944,24.142,1546257472000000000,8.40,5.54
6,7597,SDS011,59.320,18.064,1546257531000000000,3.68,2.00
7,8683,SDS011,59.744,18.206,1546257508000000000,3.01,2.80
8,9411,SDS011,59.266,15.230,1546257438000000000,3.44,2.18
9,9436,SDS011,59.334,18.034,1546257442000000000,2.12,1.90
10,9743,SDS011,57.664,12.054,1546257435000000000,268.58,29.05
11,9797,SDS011,57.492,12.652,1546257532000000000,10.13,7.05
12,10216,SDS011,59.674,16.838,1546257448000000000,3.94,2.75
13,10250,SDS011,58.692,12.478,1546257518000000000,11.55,5.88
14,10281,SDS011,59.472,18.048,1546257522000000000,5.18,3.12
15,10430,SDS011,59.958,17.726,1546257455000000000,2.42,1.58
16,10647,SDS011,55.608,13.036,1546257508000000000,14.65,5.10
17,10721,SDS011,59.450,18.124,1546257474000000000,2.28,1.45
18,10723,SDS011,59.298,18.052,1546257405000000000,4.90,2.76
19,10803,SDS011,57.690,11.954,1546257487000000000,31.01,6.02
20,10823,SDS011,59.332,18.034,1546257457000000000,3.78,2.05
21,10825,SDS011,55.898,14.094,1546257475000000000,9.50,7.00
22,10827,SDS011,59.334,13.512,1546257400000000000,11.45,6.00
23,10843,SDS011,59.354,18.364,1546257526000000000,5.44,2.13
24,10914,SDS011,61.450,23.858,1546257528000000000,1.97,1.88
25,10922,SDS011,59.494,17.976,1546257446000000000,5.75,3.05
26,10924,SDS011,59.860,17.652,1546257404000000000,2.58,1.16
27,10926,SDS011,59.472,18.304,1546257426000000000,3.26,2.35
28,11002,SDS011,55.796,13.090,1546257517000000000,6.34,3.08
29,11004,SDS011,59.622,16.556,1546257533000000000,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,1546343975000000000,11.82,1.67
127080,18836,SDS011,63.404,13.030,1546343979000000000,12.26,1.97
127081,19119,SDS011,56.972,24.132,1546343793000000000,10.84,3.66
127082,19207,SDS011,59.466,18.036,1546343900000000000,5.74,2.40
127083,19301,SDS011,59.362,12.152,1546343810000000000,0.02,0.00
127084,7273,SDS011,60.002,17.846,1546343974000000000,2.63,1.30
127085,11232,SDS011,55.596,13.022,1546343986000000000,16.80,4.07
127086,11374,SDS011,59.258,18.008,1546343980000000000,6.35,4.08
127087,11378,SDS011,59.392,16.748,1546343987000000000,1.25,0.64
127088,11445,SDS011,64.178,15.432,1546343991000000000,0.45,0.26
127089,11546,SDS011,59.456,17.802,1546343985000000000,1.42,0.86
127090,11663,SDS011,59.380,18.040,1546343988000000000,1.77,1.10
127091,11769,SDS011,59.238,18.226,1546343996000000000,2.49,1.35
127092,12383,SDS011,63.808,20.336,1546343980000000000,2.13,0.65
127093,12387,SDS011,58.560,15.306,1546343992000000000,1.10,0.65
127094,12673,SDS011,59.364,18.022,1546343989000000000,2.63,1.50
127095,12675,SDS011,59.450,17.892,1546343987000000000,3.30,1.52
127096,12691,SDS011,57.636,18.304,1546343995000000000,5.25,1.94
127097,12990,SDS011,57.692,11.958,1546343880000000000,16.63,3.60
127098,13012,SDS011,57.662,12.006,1546343998000000000,8.18,2.25
127099,13020,SDS011,57.722,11.948,1546343981000000000,20.64,3.67
127100,16147,SDS011,59.364,18.018,1546343986000000000,3.28,1.80
127101,16153,SDS011,55.648,13.208,1546343839000000000,20.00,3.90
127102,16296,SDS011,56.144,13.394,1546343999000000000,23.86,7.45
127103,16533,SDS011,55.722,13.202,1546343815000000000,18.05,4.33
127104,16723,SDS011,57.736,11.894,1546343937000000000,16.47,3.40
127105,16815,SDS011,59.462,18.040,1546343976000000000,2.67,1.97
127106,17235,SDS011,59.272,17.780,1546343981000000000,4.69,1.82
127107,10588,SDS011,55.676,13.346,1546343832000000000,14.08,3.68
127108,10647,SDS011,55.608,13.036,1546343922000000000,23.42,4.75

In [ ]:
# work with the csv loaded data

In [121]:
in_data.dtypes

sensor_id         int64
sensor_namee     object
lat             float64
lon             float64
timestamp         int64
p1              float64
p2              float64
dtype: object

In [122]:
# just to repeat this, so we don't forget it 
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [124]:
in_data

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
0,7273,SDS011,60.002,17.846,2018-12-31 11:57:22,3.43,1.56
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
3,7406,SDS011,56.964,24.128,2018-12-31 11:56:41,11.05,6.62
4,7428,SDS011,59.868,17.624,2018-12-31 11:57:42,1.78,1.02
5,7469,SDS011,56.944,24.142,2018-12-31 11:57:52,8.40,5.54
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
7,8683,SDS011,59.744,18.206,2018-12-31 11:58:28,3.01,2.80
8,9411,SDS011,59.266,15.230,2018-12-31 11:57:18,3.44,2.18
9,9436,SDS011,59.334,18.034,2018-12-31 11:57:22,2.12,1.90
10,9743,SDS011,57.664,12.054,2018-12-31 11:57:15,268.58,29.05
11,9797,SDS011,57.492,12.652,2018-12-31 11:58:52,10.13,7.05
12,10216,SDS011,59.674,16.838,2018-12-31 11:57:28,3.94,2.75
13,10250,SDS011,58.692,12.478,2018-12-31 11:58:38,11.55,5.88
14,10281,SDS011,59.472,18.048,2018-12-31 11:58:42,5.18,3.12
15,10430,SDS011,59.958,17.726,2018-12-31 11:57:35,2.42,1.58
16,10647,SDS011,55.608,13.036,2018-12-31 11:58:28,14.65,5.10
17,10721,SDS011,59.450,18.124,2018-12-31 11:57:54,2.28,1.45
18,10723,SDS011,59.298,18.052,2018-12-31 11:56:45,4.90,2.76
19,10803,SDS011,57.690,11.954,2018-12-31 11:58:07,31.01,6.02
20,10823,SDS011,59.332,18.034,2018-12-31 11:57:37,3.78,2.05
21,10825,SDS011,55.898,14.094,2018-12-31 11:57:55,9.50,7.00
22,10827,SDS011,59.334,13.512,2018-12-31 11:56:40,11.45,6.00
23,10843,SDS011,59.354,18.364,2018-12-31 11:58:46,5.44,2.13
24,10914,SDS011,61.450,23.858,2018-12-31 11:58:48,1.97,1.88
25,10922,SDS011,59.494,17.976,2018-12-31 11:57:26,5.75,3.05
26,10924,SDS011,59.860,17.652,2018-12-31 11:56:44,2.58,1.16
27,10926,SDS011,59.472,18.304,2018-12-31 11:57:06,3.26,2.35
28,11002,SDS011,55.796,13.090,2018-12-31 11:58:37,6.34,3.08
29,11004,SDS011,59.622,16.556,2018-12-31 11:58:53,4.40,1.95
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,2019-01-01 11:59:35,11.82,1.67
127080,18836,SDS011,63.404,13.030,2019-01-01 11:59:39,12.26,1.97
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30
127085,11232,SDS011,55.596,13.022,2019-01-01 11:59:46,16.80,4.07
127086,11374,SDS011,59.258,18.008,2019-01-01 11:59:40,6.35,4.08
127087,11378,SDS011,59.392,16.748,2019-01-01 11:59:47,1.25,0.64
127088,11445,SDS011,64.178,15.432,2019-01-01 11:59:51,0.45,0.26
127089,11546,SDS011,59.456,17.802,2019-01-01 11:59:45,1.42,0.86
127090,11663,SDS011,59.380,18.040,2019-01-01 11:59:48,1.77,1.10
127091,11769,SDS011,59.238,18.226,2019-01-01 11:59:56,2.49,1.35
127092,12383,SDS011,63.808,20.336,2019-01-01 11:59:40,2.13,0.65
127093,12387,SDS011,58.560,15.306,2019-01-01 11:59:52,1.10,0.65
127094,12673,SDS011,59.364,18.022,2019-01-01 11:59:49,2.63,1.50
127095,12675,SDS011,59.450,17.892,2019-01-01 11:59:47,3.30,1.52
127096,12691,SDS011,57.636,18.304,2019-01-01 11:59:55,5.25,1.94
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127098,13012,SDS011,57.662,12.006,2019-01-01 11:59:58,8.18,2.25
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [ ]:
start_time = "2018-12-31 11:58:42"
end_time = "2019-01-01 11:58:42"

In [180]:
relevant_period = in_data[  in_data['timestamp'] > start_time && in_data['timestamp'] < end_time  ]

SyntaxError: invalid syntax (<ipython-input-180-9ace91e408fd>, line 1)

In [181]:
relevant_period

,sensor_id,sensor_namee,lat,lon,timestamp,p1,p2
1,7275,SDS011,57.720,11.888,2018-12-31 11:58:44,482.77,33.82
2,7277,SDS011,59.266,15.230,2018-12-31 11:58:47,5.48,2.47
6,7597,SDS011,59.320,18.064,2018-12-31 11:58:51,3.68,2.00
11,9797,SDS011,57.492,12.652,2018-12-31 11:58:52,10.13,7.05
23,10843,SDS011,59.354,18.364,2018-12-31 11:58:46,5.44,2.13
24,10914,SDS011,61.450,23.858,2018-12-31 11:58:48,1.97,1.88
29,11004,SDS011,59.622,16.556,2018-12-31 11:58:53,4.40,1.95
40,11543,SDS011,58.186,16.010,2018-12-31 11:58:44,2.40,1.40
46,11763,SDS011,56.522,14.950,2018-12-31 11:58:47,8.31,4.12
53,12124,SDS011,57.908,16.490,2018-12-31 11:58:55,0.11,0.11
59,12141,SDS011,59.284,18.022,2018-12-31 11:58:51,2.55,1.42
74,12990,SDS011,57.692,11.958,2018-12-31 11:58:54,124.39,16.90
76,13000,SDS011,58.052,11.752,2018-12-31 11:58:44,1.90,1.50
80,13020,SDS011,57.722,11.948,2018-12-31 11:58:52,44.52,9.41
86,13428,SDS011,57.708,11.962,2018-12-31 11:58:47,137.87,18.81
90,13477,SDS011,62.382,17.344,2018-12-31 11:58:54,0.32,0.21
92,13762,SDS011,60.450,23.238,2018-12-31 11:58:54,6.68,5.20
94,14209,SDS011,56.070,12.698,2018-12-31 11:58:43,8.15,4.58
96,14276,SDS011,57.346,12.150,2018-12-31 11:58:58,446.34,52.27
107,14803,SDS011,57.676,11.994,2018-12-31 11:58:43,75.25,10.73
124,16147,SDS011,59.364,18.018,2018-12-31 11:58:52,4.63,3.50
131,16446,SDS011,55.660,12.592,2018-12-31 11:58:59,2.38,1.74
146,17536,SDS011,59.288,17.964,2018-12-31 11:58:50,4.90,1.86
154,17925,SDS011,55.674,13.354,2018-12-31 11:58:55,27.97,12.86
162,18826,SDS011,63.404,13.016,2018-12-31 11:58:54,0.17,0.11
175,7273,SDS011,60.002,17.846,2018-12-31 11:59:50,3.78,1.55
176,9368,SDS011,59.370,17.834,2018-12-31 11:59:44,1.25,0.70
177,9411,SDS011,59.266,15.230,2018-12-31 11:59:45,3.18,2.05
178,9436,SDS011,59.334,18.034,2018-12-31 11:59:48,3.04,1.94
180,10216,SDS011,59.674,16.838,2018-12-31 11:59:57,4.87,2.82
...,...,...,...,...,...,...,...
127079,18826,SDS011,63.404,13.016,2019-01-01 11:59:35,11.82,1.67
127080,18836,SDS011,63.404,13.030,2019-01-01 11:59:39,12.26,1.97
127081,19119,SDS011,56.972,24.132,2019-01-01 11:56:33,10.84,3.66
127082,19207,SDS011,59.466,18.036,2019-01-01 11:58:20,5.74,2.40
127083,19301,SDS011,59.362,12.152,2019-01-01 11:56:50,0.02,0.00
127084,7273,SDS011,60.002,17.846,2019-01-01 11:59:34,2.63,1.30
127085,11232,SDS011,55.596,13.022,2019-01-01 11:59:46,16.80,4.07
127086,11374,SDS011,59.258,18.008,2019-01-01 11:59:40,6.35,4.08
127087,11378,SDS011,59.392,16.748,2019-01-01 11:59:47,1.25,0.64
127088,11445,SDS011,64.178,15.432,2019-01-01 11:59:51,0.45,0.26
127089,11546,SDS011,59.456,17.802,2019-01-01 11:59:45,1.42,0.86
127090,11663,SDS011,59.380,18.040,2019-01-01 11:59:48,1.77,1.10
127091,11769,SDS011,59.238,18.226,2019-01-01 11:59:56,2.49,1.35
127092,12383,SDS011,63.808,20.336,2019-01-01 11:59:40,2.13,0.65
127093,12387,SDS011,58.560,15.306,2019-01-01 11:59:52,1.10,0.65
127094,12673,SDS011,59.364,18.022,2019-01-01 11:59:49,2.63,1.50
127095,12675,SDS011,59.450,17.892,2019-01-01 11:59:47,3.30,1.52
127096,12691,SDS011,57.636,18.304,2019-01-01 11:59:55,5.25,1.94
127097,12990,SDS011,57.692,11.958,2019-01-01 11:58:00,16.63,3.60
127098,13012,SDS011,57.662,12.006,2019-01-01 11:59:58,8.18,2.25
127099,13020,SDS011,57.722,11.948,2019-01-01 11:59:41,20.64,3.67
127100,16147,SDS011,59.364,18.018,2019-01-01 11:59:46,3.28,1.80
127101,16153,SDS011,55.648,13.208,2019-01-01 11:57:19,20.00,3.90
127102,16296,SDS011,56.144,13.394,2019-01-01 11:59:59,23.86,7.45
127103,16533,SDS011,55.722,13.202,2019-01-01 11:56:55,18.05,4.33
127104,16723,SDS011,57.736,11.894,2019-01-01 11:58:57,16.47,3.40
127105,16815,SDS011,59.462,18.040,2019-01-01 11:59:36,2.67,1.97
127106,17235,SDS011,59.272,17.780,2019-01-01 11:59:41,4.69,1.82
127107,10588,SDS011,55.676,13.346,2019-01-01 11:57:12,14.08,3.68
127108,10647,SDS011,55.608,13.036,2019-01-01 11:58:42,23.42,4.75

In [167]:
relevant_period.index

Int64Index([     1,      2,      6,     11,     23,     24,     29,     40,
                46,     53,
            ...
            127099, 127100, 127101, 127102, 127103, 127104, 127105, 127106,
            127107, 127108],
           dtype='int64', length=126957)

In [135]:
# create an array to store the results in 
out_array = np.zeros( time_date_range_as_epoch.shape[0] )

In [139]:
out_array.shape

(289,)

In [142]:
# create an array of values for the given sensor, 
# filling in possible blank areas with zeros ( well, by not adding anything there )

In [204]:
startime = time.time()
out = []
for row_i in range( relevant_period.shape[0] ):
    relev_time = int( relevant_period[ row_i : row_i+1 ]['timestamp'] ) 
    print( type( relev_time ))
    print( relev_time.shape )
    out_array[row_i] = relev_time
    
print( "--- well, that took "+str( time.time() - start_time ) )

TypeError: int() argument must be a string, a bytes-like object or a number, not 'Timestamp'

In [188]:
relevant_period[0:1].shape

(1, 7)

In [193]:
two = relevant_period[0:1]['timestamp']
two

1   2018-12-31 11:58:44
Name: timestamp, dtype: datetime64[ns]

In [166]:
relevant_period.loc[[2]]

   sensor_id sensor_namee     lat    lon           timestamp    p1    p2
2       7277       SDS011  59.266  15.23 2018-12-31 11:58:47  5.48  2.47

In [157]:
relevant_period.loc[3]

KeyError: 'the label [3] is not in the [index]'

In [168]:
relevant_period[0:1]

   sensor_id sensor_namee    lat     lon           timestamp      p1     p2
1       7275       SDS011  57.72  11.888 2018-12-31 11:58:44  482.77  33.82

In [169]:
relevant_period[1:2]

   sensor_id sensor_namee     lat    lon           timestamp    p1    p2
2       7277       SDS011  59.266  15.23 2018-12-31 11:58:47  5.48  2.47

In [173]:
relevant_period.at[0]

TypeError: _get_value() missing 1 required positional argument: 'col'

In [198]:
relevant_period[:20]

     sensor_id sensor_namee     lat     lon           timestamp      p1     p2
1         7275       SDS011  57.720  11.888 2018-12-31 11:58:44  482.77  33.82
2         7277       SDS011  59.266  15.230 2018-12-31 11:58:47    5.48   2.47
6         7597       SDS011  59.320  18.064 2018-12-31 11:58:51    3.68   2.00
11        9797       SDS011  57.492  12.652 2018-12-31 11:58:52   10.13   7.05
23       10843       SDS011  59.354  18.364 2018-12-31 11:58:46    5.44   2.13
24       10914       SDS011  61.450  23.858 2018-12-31 11:58:48    1.97   1.88
29       11004       SDS011  59.622  16.556 2018-12-31 11:58:53    4.40   1.95
40       11543       SDS011  58.186  16.010 2018-12-31 11:58:44    2.40   1.40
46       11763       SDS011  56.522  14.950 2018-12-31 11:58:47    8.31   4.12
53       12124       SDS011  57.908  16.490 2018-12-31 11:58:55    0.11   0.11
59       12141       SDS011  59.284  18.022 2018-12-31 11:58:51    2.55   1.42
74       12990       SDS011  57.692  11.958 2018-12-31 11:58:54  124.39  16.90
76       13000       SDS011  58.052  11.752 2018-12-31 11:58:44    1.90   1.50
80       13020       SDS011  57.722  11.948 2018-12-31 11:58:52   44.52   9.41
86       13428       SDS011  57.708  11.962 2018-12-31 11:58:47  137.87  18.81
90       13477       SDS011  62.382  17.344 2018-12-31 11:58:54    0.32   0.21
92       13762       SDS011  60.450  23.238 2018-12-31 11:58:54    6.68   5.20
94       14209       SDS011  56.070  12.698 2018-12-31 11:58:43    8.15   4.58
96       14276       SDS011  57.346  12.150 2018-12-31 11:58:58  446.34  52.27
107      14803       SDS011  57.676  11.994 2018-12-31 11:58:43   75.25  10.73

In [202]:

one = int( relevant_period[20:21]['p1'] )

In [203]:
one

4

In [227]:
relevant_period[20:21]['timestamp']

124   2018-12-31 11:58:52
Name: timestamp, dtype: datetime64[ns]

In [216]:
float( relevant_period[20:21]['p1'] )

4.63

In [217]:
type( relevant_period['timestamp'] )

pandas.core.series.Series

In [221]:
relevant_period['timestamp'].iloc[1]

Timestamp('2018-12-31 11:58:47')

In [223]:
relevant_period['timestamp'].iloc[3]

Timestamp('2018-12-31 11:58:52')

In [224]:
relevant_period.iloc[0]

sensor_id                      7275
sensor_namee                 SDS011
lat                           57.72
lon                          11.888
timestamp       2018-12-31 11:58:44
p1                           482.77
p2                            33.82
Name: 1, dtype: object

In [225]:
relevant_period.iloc[1]

sensor_id                      7277
sensor_namee                 SDS011
lat                          59.266
lon                           15.23
timestamp       2018-12-31 11:58:47
p1                             5.48
p2                             2.47
Name: 2, dtype: object

In [226]:
relevant_period.iloc[2]

sensor_id                      7597
sensor_namee                 SDS011
lat                           59.32
lon                          18.064
timestamp       2018-12-31 11:58:51
p1                             3.68
p2                                2
Name: 6, dtype: object

In [228]:
relevant_period.shape

(126957, 7)

In [241]:
# turn the timestamp column into an epoch column 
relevant_period['timestamp'] = relevant_period['timestamp'].astype( 'int64' )

/Applications/z_extras/code/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [236]:
# extract data just for one sensor
relevant_period__single_sensor = relevant_period[ relevant_period['sensor_id'] == 7597  ]

In [238]:
relevant_period__single_sensor.shape

(721, 7)

In [239]:
starttime = time.time()
out = 0
for index in range( relevant_period__single_sensor.shape[0] ) :
    out = relevant_period__single_sensor.iloc[ index ]['p1']
#     print( "index : "+str( index ) )
#     print( relevant_period.iloc[ index ] )
    # check if the the relevant measurment ( in the variable above ) is within the 
    # relevant time period.
    # - loop through the time range and see if the current timestamp is within that

print(' well, that took '+str( time.time() - starttime )+' seconds  ')

 well, that took 0.12502098083496094 seconds